.fill-notif {font-size: 14px;width: 100%;margin:20px 0 0 0 }
.fill-notif th{font-size:16px;font-weight: bold;text-align: left;padding: 15px 15px 15px 0;border-bottom: 1px solid #EEE;
                max-width: 50%;
}
.fill-notif td{font-size:14px;border-bottom: 1px solid #eee;}
