/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/
@import "sass-lib.scss";
@media (min-width: 0px) and (max-width:1600px){
    .btn-std{height: 40px}
    .wrapper{width:1070px;}
    header{
        height: 75px;
        .logo{width: 180px;}
        ul{ 
            margin:27px 0 0 0;
            li{
                margin:0 0 0 30px;padding-bottom: 24px;
                a{font-size: 12px;}
            }
            .child-menu{
                left:-120px;top: 69%;
                a{padding:15px;font-size:14px;}

                &.form-child-menu{
                    h3{font-size:24px;}
                    table thead tr{
                        td,th{padding:13px 10px;font-size:13px;}
                    }
                }

            }
            .box-login-form{
                width:450px;
                .inner-login{width: 100%;padding:35px;@include boxSizing(border-box)}
            }
        }       
    }
    .banner-float{
        .right{
            width:34%;
            .content-tab{padding: 30px 35px 40px 35px;}
            .find-product{
                .row .col {width: 186.7px}
            }
            .wrap-scroll{margin:0 -30px 0 0; max-height: 430px;}
            table tbody td{padding:20px 15px 10px;}
        }
        .left{
            min-height: 600px;
            img{max-height: 600px;max-width: none}   
            .caption{
                h2{font-size: 38px;margin:0 0 20px 0;}
                p{margin-bottom: 20px}
            }
        }
    }
    .h-step .box{
        width: 303px; margin: 30px 80px 0 0;
        .ico{width:60px;height:60px;margin:0 20px 0 0;}
        .text{
            width: 223px;
            h6{font-size:16px;}
            p{font-size: 13px;line-height: 16px;}
        }
        &:nth-child(1):after,        
            &:nth-child(2):after{top: -15px;right:-60px;}
    }
    .h-product{
        .filter{
            .col{
                width: 285px;margin: 0 15px 0 0;
                select{height: 50px;padding: 0 30px 0 15px;font-size:14px;}
            }
            .btn-std{height: 50px;}
        }
        h2{font-size: 38px;margin:0 0 20px 0}
        .list-product .box{
            width: 249px;margin:0 15px 15px 0;height:346px;
            .float-3 div{width:33%}
            .desc .text h5{min-height: 40px;}
            .btn a{height: 40px;width: 114px;}
        }
    }
    .h-compare{
        h2{font-size:28px;}
        select{height: 50px;padding:0 0 0 20px;font-size:14px;} 
        .select2-container--default .select2-selection--single{height: 50px;padding-left: 20px;}
        .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 50px;font-size:14px;}

    }
    .h-news{
        h3{font-size:23px;}
        .list-news .box{
            width:334px;margin-right: 30px;height:380px;
            .image {height: 186px;}
            .text h6 {font-size:14px;line-height: 21px;}
        }
    }
    .banner{
        .caption{
            height:200px;
            h1 {font-size: 47px;font-weight: 700;line-height: 50px;}
            p {font-size: 14px;}

        }
    }
    .std-content{
        /*.wrapper{top:0;}*/
    }
    .wrap-popup{
        width:1070px;
        &.product-detail{
            .nav-tab{
                a{margin:0 50px 0 0;font-size:14px;}
            }
            .inner {
                padding: 45px 0px 0;
                .box-blue {
                    width: 49%;margin: 0 2% 40px 0;
                    &:nth-child(2n){margin-right: 0;}
                }
            }
            .title-content h3 {font-size: 26px;}
            .info-prod{ 
                .col-2 {
                    .left {width: 240px;}
                    .right{
                        width: 720px;
                        h4{font-size:18px;}
                        p{font-size: 14px;line-height: 21px}
                    }
                }
                .nav-tab a{padding:15px 20px;font-size: 16px;line-height: 21px;
                           small{font-size: 12px;}
                }
            }
            .general-info > .col-2 > .box{
                width:48%;
                &:nth-child(2){margin-left: 4%;}                      
                h3{font-size:18px;}
                .code_mi{font-size: 13px;top:23px;}
                p{font-size:13px;}
                table{ 
                    tbody td{font-size:13px;}
                    thead th{font-size: 14px}
                }
                label{font-size:13px;margin:0 0 5px 0}
                h6{font-size:13px;}
            }
            .sec_perform{width:100%;}
        }
    }

    footer{
        .wrapper{height:310px}
        .left {
            width:auto;
            .col{
                width: auto;margin:0 40px 0 0;
                a{font-size: 13px;margin:0 0 10px 0}
            }
        }
        .right{
            position: relative;width:340px;padding:52px 0 0 36px;
            p{font-size: 13px;line-height: 18px}
            input[type=text]{ width: 205px;height: 45px;}
            input[type=submit]{width:135px;height:45px}
        }
    }
}

@media (min-width: 0px) and (max-width:1400px){
    .banner-float{
        .right{
            .find-product{
                .row{
                    .col{width: 132px;}
                }
            }
            .wrap-scroll{margin: 0;}
        }
    }
    .h-compare{
        width: 1170px; padding: 45px 0; margin-bottom: 80px;
        h2{
            font-size: 24px; line-height: 34px;
            &:before{background-size: 100%; width: 40px; height: 40px;}
        }
        .top{
            text-align: right;
            label{font-size: 14px;}
        }
        .wrapper{width: 100%; padding: 0 60px; @include boxSizing(border-box);}
        .col-3{
            div{width: 31%; margin-right: 3.5%;}
        }
    }
    .h-how{
        .left{height: 470px;}
        .right{padding: 37px 3%;}
    }
    .h-news{
        padding-top: 80px; padding-bottom: 100px;
        h3{margin-bottom: 40px;}
    }
    .std-content{
        h2{font-size: 21px;line-height: 36px;}
        .wrapper{padding-left: 60px; padding-right: 60px; width: 1170px; @include boxSizing(border-box); top: -75px;}
        .nav-produk{
            .left{margin-top: 3px;}
        }
        .product-compare{
            .compare-form{
                select{height: 50px; font-size: 12px; padding-left: 15px;}
                .select2-container--default .select2-selection--single{padding-left: 20px;height:50px;}
                .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 50px;font-size:14px}

                .col-3{
                    div{width: 31%; margin-right: 3.5%;}
                }
            }
            .nav-tab{
                a{font-size: 14px; margin-right: 90px;}
            }
            .filter_top{
                h6{line-height: 35px; padding-left: 17px;}
                label{
                    &.opt{width: 40px; height: 35px; line-height: 35px;}
                }
                .list_filt{
                    label{line-height: 35px;}
                    input[type=text]{height: 35px;}
                }
                .submit{
                    input[type=submit]{line-height: 35px;}
                }
            }
            .wrap-chart{
                .chart{width: 100%; @include boxSizing(border-box);}
            }

            .ringkasan-perbandingan{
                padding-top: 70px;
                h2{margin-bottom: 30px;}
                .box{
                    width: 31%; margin-right: 3.12%;
                    h6{font-size: 14px;}
                    table, p{font-size: 12px; line-height: 18px;}
                    .col-2{
                        a.btn-donwload, .col{padding-left: 15px; padding-right: 15px;}
                    }
                    .sec{padding-left: 15px; padding-right: 15px;}
                }
            }
        }
        .step-oa{
            .box{
                @include boxSizing(border-box);width:14.28% !important;
                span:nth-child(1){font-size: 11px;width: 18px;height:18px;line-height: 18px;left:15px;}
                span:nth-child(2){
                    font-size: 12px;line-height: 16px;padding:0px 10px 0 41px;display: inline-block;vertical-align: middle;height:58px;
                    display: table-cell
                }
            }
            &.type-syariah{
                .box{ width:16.66% !important;}
            }
        }
    }
    .myaccount .box-list-data .list-data.list_3 {width: 330px;}
    .box-list-news .list-news{
        width: 31.7%;
        margin-right: 2%;
    }

    .banner{
        .caption{width: 940px;}
    }
}

