/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/

@import "sass-lib.scss";
@media (min-width: 0px) and (max-width:650px){
    .overflow.order-overflow {
        max-height: 400px;
    }
    .btn-border{
        height:35px;line-height:31px;
    }
    .btn-std{text-align: center;}
    .btn-oval.btn-trans-blue,
    .btn-oval.btn-orange {line-height: 33px;}
    .overflow{padding:0 0 20px }
    .a-center{
        .btn-std{margin-top: 30px !important;}
    }
    header {
        z-index:5;
        .wrapper {
            padding: 0 20px;
            ul{
                li{margin: 0 0 0 15px;}
                li:nth-child(8),li:nth-child(9){display: none}
                li.have-child{
                    .form-child-menu.child-menu{
                        right:-85px;left:auto;width: 320px;margin-top:-3px;@include boxSizing(border-box);padding: 25px 15px 25px;
                        &:before{right: 58px;top:-10px}
                        table tbody tr td:last-child,
                            table thead tr th:last-child {padding-right: 10px}
                        table tbody tr td:first-child ,
                            table thead tr th:first-child {padding-left: 10px}
                    }
                }
            }
        }
        .mobile-menu{
            min-height: 380px;height: auto;@include boxShadow(0 0 15px -2px #000);background:#0d2d4f url(../images/material/menu-mobile-bg.png) no-repeat bottom right;
            padding: 0 0 30px;
            ul{
                width:auto;float:none;padding-top:60px;
                li{display: block;margin:0 0 10px;
                   &:nth-child(1){margin:0 0 20px}
                   &:nth-child(8),&:nth-child(9),&:nth-child(11){display: block}
                   &.have-child{
                       position: static;
                       > a:after{
                           content:"";display: inline-block;border-top:5px solid #f58220;border-left:5px solid transparent;border-right:5px solid transparent;
                           margin:0 0 0 10px ;position: relative;top:-1px;
                       }         
                   }
                   &:nth-child(8) a:after{display: none}
                   .list-child-menu .ltl-child-menu,
                   .child-menu{
                       position: relative;left:auto !important;top:auto !important;visibility: visible;opacity: 1;width: auto;display:none;
                       @include transition(none);
                       &:before{display: none;}        
                       a{width: auto;}
                   }
                }
                .drop-menu{display: none !important;}

                .search-header{
                    position: absolute;top:0;left:20px;right:20px;
                    > a{
                        display: none
                    }
                    .box-search-header{
                        position: relative;display: block !important;float:left;width:100%;right:0;z-index:0;opacity:1 !important;height:auto !important;
                        input[type=text]{width:100%;color:#333;height: 35px;@include borderRadius(7px);
                                         background: #FFF url(../images/material/ico_src.png) no-repeat 97% center;;
                        }
                        @include placeholder{
                            color:#999;
                        }
                    }
                }
            }
        }
    }
    .banner-float {
        .left {
            height:auto;
            img{max-width:160%;}
            .slick-list{width:100%;}
            .caption {
                width:auto;padding:20px;margin:auto 0;
                h2 {font-size: 21px;}
                p{margin-bottom: 15px}
            }
        }
        .wrap-tab{
            padding-top: 0 !important;
            .nav-tab{
                position:relative;top:0;height:auto !important;left:0;padding-top:0;
                a.active{position: relative;width:50%;}
                &.drop{border:none !important;}
                &:after{display: none;}
            }
            .content-tab{padding-top: 0;}
        }
    }
    .h-step {
        height: auto;
        .box{
            width: 100%; margin-right: 0;
            &:nth-child(1):after,
                &:nth-child(2):after{display: none;}
        }
    }
    .h-product {
        h2 {font-size: 21px;}
        p {line-height: 21px; margin: 0;}
        .filter {
            margin-bottom: 50px;
            .col {
                width: 100%;margin-bottom: 22px;
                &:last-child {float: none; width: 100%;}
            }
            .btn-std {margin: 0 auto; display: block; width: 113px;}
        }
        .list-product {
            .box {
                width: 48%; margin-right: 3%;
                &:nth-child(3n) {margin-right: 3%;}
                &:nth-child(2n) {margin-right: 0;}
            }
            .slick-arrow{
                &.slick-next{left:-20px;}
                &.slick-prev{right:-20px;}
            }
        }
        .category-prod a {margin: 0 15px 10px;}
    }
    .h-compare {
        padding: 30px 0 40px;
        .top {
            .left {float: none ;display:block;}
            .right {width: 100%;}
        }
        .col-3 {
            div {float: none; display: block; width: 100%;margin-bottom: 10px;}
        }
    }
    .h-news {
        padding: 40px 0 80px;
        .list-news {
            .box {
                width: 48%;margin:0 3% 13px 0 ; height: 160px;overflow:inherit;padding:40px 0 0 0;
                &:nth-child(2){margin-right: 0;}
                .image {
                    overflow:inherit;
                    img {display: none;}
                }
                .text{padding: 0px 15px;}
                span{width:100%;@include boxSizing(border-box);@include borderRadius(10px 10px 0 0)}
            }
        }
    }
    .banner{
        > img {height:300px;@include transform(translate(-37%,0%));}
        .caption{
            margin: auto 20px;height:100px;
            h1{font-size:24px;line-height: 28px;margin:0 0 10px;}
            p{font-size: 12px;}
        }
        .caption.center {height: 165px;}
    }
    .std-content{
        .wrapper{
            padding: 15px 15px 30px;margin:0 15px;top:-55px;
        }
        .nav-produk{
            position: relative;padding-bottom: 15px;z-index:2;
            .right{                
                position: absolute;right:0;width:190px;padding-top:26px;height:0;overflow:hidden;top:-4px;background: #FFF;
                background:#FFF url(../images/material/arrow-combo.png) no-repeat right 10px;@include transition(0.2s linear all);
                a{display: block;}
                .active{position: absolute;top:0;left:0;width: 100%;}
                &:after{
                    content:"";display: block;position:absolute;width:100%;height:26px;background: none;top:0;left: 0;
                }
                &.drop{border-bottom: 3px solid #f58220}
            }
            &.no-border{
                .right{left:0;}
            }
        }
        table.product-list-table{
            min-width:420px;
            th,td{display: none;}
            th:nth-child(2),
                td:nth-child(2),
                th:nth-child(3),
                td:nth-child(3),
                th:nth-child(8),
                td:nth-child(8),
                th:nth-child(11),
                td:nth-child(11),
                th:nth-child(12),
                td:nth-child(12),
                th:nth-child(15),
                td:nth-child(15),
                th:nth-child(17),
                td:nth-child(17){display: table-cell}
            th:nth-child(18),
                td:nth-child(18){min-width: 20px;padding-right: 0;}
            th:nth-child(2),
                td:nth-child(2){padding-left: 10px;}
        }
        .table-nav{
            .left,.right{display: block;float:none;}
            .left{margin-bottom: 10px}
        }
        .category{
            .date-view{float:none;margin:0 0 10px }
            .right{float:none;display: block;
                   .left{width:100%; @include boxSizing(border-box);
                         &:nth-child(1){margin-bottom: 20px;}
                   }
            }
            &.type-2{
                flex-flow: column;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column;
                .left{@include order(2);
                      .btn-std{width:100%;}
                }
                .right{@include order(1);margin-bottom: 10px;}
                .left,.right{width: 100%;float:none;display: block;}
            }
        }
        .product-compare{
            .compare-form .col-3 div{width:100%;margin-bottom: 10px}
            .nav-tab{top:0;margin:0;left:0;right:0;background-position:right 13px;
                     a{float: none;height:35px;border-bottom:1px solid #CCC;width:100%;}
                     a.active{color:#0b4ca1}
                     a:after{display: none;}

            }
            .filter_top{
                h6{float:none;}
                .left,
                .right{display: block;float:none;}

                .right {
                    label.opt{
                        width:14.3%;border:1px solid #CCC;border-left: none;margin:0 0 0 -1px;
                        &:nth-child(8){border-right: none;}      
                    }
                }
            }
            .ringkasan-perbandingan{
                padding-top: 25px;
                .box{width:48.5%;margin:0 2% 30px 0 ;
                     &:nth-child(2n){margin-right: 0;}
                }
            }
        }
        .login-page{
            h2{margin-bottom: 20px;}
        }

        .nilai-pertanyaan p {
            font-size: 14px;
            line-height: 21px;
        }

        .nilai-pertanyaan {
            margin: 15px auto 0px;
            p {font-size: 13px;}
            h3 {margin: 25px 0;font-size: 16px;
                span{width:40px;margin:0px 5px -5px}
            }
        }
        .step-oa{
            margin:0 0 35px 0;
            .box {
                span:nth-child(1) {left: 11px;}
            }

            &.type-syariah{
                .box {
                    span:nth-child(1) {left: 11px;}
                }

            }
        }
    }


    .box-form{
        margin:20px 0;width:auto;
        h5{display: inline-block;padding-top: 6px}
        .require{padding-right: 10px}
        .optional{padding-right: 15px}
        .row{
            > .left,.right{width: auto;float: none;display: block;margin:0;}
            > .left{margin:0 0 10px ;text-align:left;
                    label{height: auto;line-height: 18px;margin:0 0 0px;display: inline-block;width:auto;text-align: left}
            }
            &.row.border-dashed{margin-top: 30px;}

        }
        .col{width:47% !important;margin-right: 6%;
             &:nth-child(2n){margin-right: 0;}
             &.w-70{ 
                 &:nth-child(1),
                     &:nth-child(3){width:18% !important;}
                 &:nth-child(2),
                     &:nth-child(4){width:24% !important;}
                 &:nth-child(1){margin-bottom: 20px}

             }
        }

        .col-2 {
            .col {
                width:100%;
                .left{
                    width:100% !important;
                }
            }
        }
        .col-3.after_clear{
            &:after{clear: none;}
            .col{margin-right: 6%;
                 &:nth-child(2n){margin-right:0;}
            }
        }
        .row.btn {margin: 30px 0 0 0;
                  .col{width:auto !important;}
        }
        .right.col-2{
            .col{width:100% !important;
                 > .left{width: 100%}
                 .left.w-200{width: 100% !important;}
                 &:last-child{margin-left: 0;}
            }
        }

        &.login{
            width:auto;
            .row{
                > .left,.right{width: auto;float: none;display: block;margin:0;}
                > .left label{width:auto;text-align: left}
                > .left{margin-bottom: 10px;}
                &.btn.haslink{
                    .col{width:100% !important;}
                }
            }
            .col { margin-right: 10px;}

        }
        .date{
            input{background:url(../images/material/ico-date-2.png) no-repeat right center;}
        }
        .upload-file {width: 100%;}
        &.pertanyaan{
            .right div:first-child{margin-bottom: 0}
        }
        &.pertanyaan-step-5{
            p{padding-top: 7px}
            .right{
                > div:last-child{
                    .col{width:25% !important;
                         label{width: auto;}
                         &:nth-child(2){width:68% !important;}
                    }
                }
                > .row:nth-child(2),.row:nth-child(3){
                    .col{width:3% !important;
                         label{width: auto;}
                         &:nth-child(2){width:91% !important;}
                    }
                }
                > .row.col-2{
                    .col{width:46% !important;
                         &:nth-child(2){width:46% !important;}
                    }
                }
            }
        } 
    }

    .myaccount{
        .title-content{ 
            &:first-child{margin-top: 0}
            .btn-oval {
                margin: -10px 0 -2px 0;

            }
            &.type-2{
                .left{margin-bottom: 10px;}
                .left,.right{float:none;display: block;}
                .right{
                    label{font-size: 14px;float: left;line-height: 33px;width: 20%;margin: 0;}
                    select{width: 80%;float:left;@include boxSizing(border-box);}
                    &:after{content: "";display: block;clear:both}
                }
            }
        }
        .wrap-tab-general{

            padding-top: 55px;position: relative;
            .nav-tab-general{
                position: absolute;height: 0;@include boxSizing(border-box);left:0px;right:0px;overflow: hidden;padding-top:35px;z-index: 1;top:0;
                background:#FFF url(../images/material/arrow-combo.png) no-repeat right 11px;@include transition(0.1s ease-out all);

                .list-tab.active{
                    position: absolute;top:0;width: 100%;border-bottom: 1px solid #CCC;
                }
                &:after{
                    content:"";display: block;position:absolute;width:100%;height:35px;background: none;top:0;left: 0;
                }
                &.drop{border-bottom: 3px solid #f58220 !important;}

                .list-tab{
                    margin:0;padding:0 10px;height: 35px;line-height: 35px;border-bottom: 1px solid #CCC;float:none;display:block;
                    &:after{display: none;}
                    a{display: block}
                }
            }
        }
        .box-list-data {
            .list-data.list_3{
                width: 48%;margin-right: 3%;margin-bottom:20px;
                &:nth-child(3n){margin-right: 3%;}
                &:nth-child(2n){margin-right: 0%;}
                &:nth-child(3n+1) {clear: none;}
                &.type-2{
                    width:100%;
                }
            }
            .list-data.list_6 {
                width: 100%;
            }
            .list-data .box-title-list .left img {height: auto;}
        }
        .overflow-table{
            overflow: auto;
        }
        .box-data-diri{
            .col.col_33{width: 50%;}
        }
        .title-bg{
            .left{margin-bottom: 10px}
            .left,.right{float:none;display: block}
        }
    }

    .box-sorting{
        margin-bottom: 30px;
        .left{margin:0 0 16px}
        .left,.right{display: block;float:none;}
        label{float: left;height: 35px;line-height: 35px;width:18%;margin:0}
        select{width:82%;}
    }
    .box-list-news{
        .list-news{
            width:48%;margin:0 4% 20px 0;
            &:nth-child(3n){margin-right: 4%;}       
            &:nth-child(2n){margin-right: 0;}       
            figure{max-height: 115px;overflow: hidden}
        }
    }
    .box-title-top-page{
        margin:0 0 20px;
        .left,.right{display: block;float: none}
    }
    .gn-content{
        .title-shadow{
            padding: 0 0 20px;font-size:18px;line-height: 24px;margin-bottom: 25px;
        }
        p{font-size: 13px;}
        ul,ol{
            margin:0 0 40px;
            li{
                padding:0 0 0 20px;font-size: 13px;line-height: 21px;font-weight: 300;position:relative;
                &:before{
                    content:"";position:absolute;width:6px;height:6px;background: #999;@include borderRadius(100%);
                    position: absolute;top:9px;left:0;
                }
            }
        }
    }
    .box-accordion .list-accordion {
        .btn-acc {
            padding: 10px 35px 10px 10px;font-size: 14px;line-height:21px;
            .arrow-acc{right:15px;}
        }
        .box-acc{padding: 10px 10px 30px;font-size:13px;line-height: 21px;}
    }
    .box-slide-sorting {
        margin-bottom: 25px;
        .slide-sorting{ 
            .slick-slide{
                height:50px;line-height: 50px;font-size:14px;
            }
            .slick-prev,.slick-next{height: 50px}
        }
    }
    .sel_glossary {margin-bottom: 25px;}
    .box-video{ 
        .thumb img {
            width: 220%;
        }
        .caption{
            left:10%;right:10%;
            @include transform(translate(0%, -50%));
            h3{font-size:18px;margin-bottom: 10px;line-height: 21px}
        }
    }
    .box-help-contact{
        .left,.right{float:none;display: block;width: auto}
    }
    .maps {
        margin: 0px -30px;
    }

    .wrap-tab{
        padding-top: 50px !important;position: relative;
        .nav-tab{
            position: absolute;height: 0;@include boxSizing(border-box);left:10px;right:10px;overflow: hidden;padding-top:36px;z-index: 1;
            background:#FFF url(../images/material/arrow-combo.png) no-repeat right 5px;@include transition(0.1s ease-out all);

            a.active{
                position: absolute;top:0;width: 100%;
            }
            &:after{
                content:"";display: block;position:absolute;width:100%;height:26px;background: none;top:0;left: 0;
            }
            &.drop{border-bottom: 3px solid #f58220 !important;}
            a{margin:0;padding:0;height: 35px;line-height: 35px;}
        }
    }

    .box-milestone {
        margin:30px 0;
        .btn-milestone{
            width:100%;float:none;display:block;border-bottom: 2px solid #2e76a2;margin-bottom:40px;
            .list-milestone{
                a{font-size:18px;padding:15px;text-align:center;
                  &:after{display: none;}
                }
                &.active a {
                    font-size: 26px;text-align: center;
                }
            }
            .slick-arrow{display: none !important;}

            &:after{display: none;}
        }
        .desc-milestone-content{
            width:100%;
            h3{font-size: 15px;line-height: 24px;margin-bottom: 20px}
        }
    }

    .wrap-popup{
        margin: 5% 20px;        
        &.product-detail{
            .content{padding: 0 10px !important;}
            .title-content {
                left:10px;right:10px;top:25px;margin:0;padding:0 0 47px;background:#FFF;
                h3{margin:5px 0 10px 0;}
                .logo-prod .ico{height: auto;}
                .left,.logo-prod{float:none;display: block}

            }
            .nav-tab{
                margin-top: 150px;border:none;
                .right{display: none;}
                a{padding:0 ;height: 35px;display: block;margin:0;border-bottom:1px solid #CCC;
                  &.active{
                      color:#0b4ca1;
                      &:after{background: none;}
                  }
                }
            }

            .col-4 .box,
            .col-3 .box{width:100%;border:none;border-bottom: 1px solid #CCC;margin-bottom: -1px;}

            .info-prod{
                .col-2 {
                    .left,.right{display: block;float:none;width:100%;} 
                    .left{margin:0 0 20px 0}
                }
                .wrap-tab{padding-top:0 !important;}
                .nav-tab{
                    position: relative;padding: 0;height: auto !important;left:0;background:none;border:1px solid #CCC !important;;z-index:0;
                    .active{position: relative;}
                    &.drop{border:1px solid #CCC !important;}
                    &:after{display: none}
                }
            }

            .content-tab.inner{padding: 205px 0px 0;}
            .inner {
                padding: 45px 0px 0;
                .box-blue{
                    width: 100%;height: auto;
                    a{content:"";text-indent: -99999px;background: url(../images/material/ico-white.png) no-repeat right center;right:10px}
                }

            }
            .bottom {
                .left h6 {font-size: 14px;}
                .right{
                    a.btn-std:first-child{width:60%;margin:0}
                    a.btn-std:last-child{width: 35%;margin:0;float:right}
                }
            }
            .list-product {
                .box {
                    width: 48%; margin-right: 3%;
                    &:nth-child(3n) {margin-right: 3%;}
                    &:nth-child(2n) {margin-right: 0;}
                }
            }
            .general-info > .col-2 > .box {
                width: 100%;margin:0 0 20px  !important;
                h3{width:100%;margin-top:30px;}
                .code_mi{top:20px;left:20px;}
            }
            .sec_perform .filter_top {
                .list_filt {
                    width:100%;
                    label{width:15%;text-align: center;padding:0;}
                    select.month,select.year{width:42.5%;padding:0 35px 0 10px}
                    &:nth-child(1){
                        select.year{border-right: 0;}
                    }
                } 
            }
            &.col-1{
                width: 280px;margin:5% auto;
                .title-content{position: relative;top:0;left:0;padding:0;margin:20px 0;}
                .box-content-popup{margin-top: 10px}
                .box-list-data{ 
                    font-size:13px;
                    .list-data .desc-list .row .list {
                        padding: 15px 10px;
                        strong{font-size:14px;}
                    }
                }
                .radio-btn{
                    margin-right: 15px;
                    &:last-child{margin-right: 0;}       
                }
            }
            &.pengalihan{
                .title-content{position: relative;top:0;left:0;padding:0;margin:20px 0;}
                .box-content-popup{margin-top: 10px}
                .box-list-data .list-data.list_2 {width:100%;}
                .box-list-data .list-data .desc-list .row.bg-transorange {padding: 16px 10px;}
                .box-list-data{ 
                    font-size:13px;
                    .list-data .desc-list .row .list {
                        padding: 15px 10px;
                        strong{font-size:14px;}
                    }
                }
                .radio-btn{
                    margin-right: 15px;
                    &:last-child{margin-right: 0;}       
                }

            }
        }           

        .head{padding: 0 10px;}

    }

    footer{
        height:auto;
        .wrapper{padding:0;}
        .left{float:none;width:100%;text-align:center;padding-bottom:25px;display:block;
              .logo-ojk,.logo{display: inline-block;float:none;}
        }
        .right{
            width:100%;padding:0;
            p{text-align: right;font-size: 10px;line-height: 14px;text-align: center;padding: 0 20px;}
        }
        &:after{display: none}
    }
    .wrap-popup.product-detail.pop-notif {
        h3{margin:20px 0 0px 10px;font-size:20px}
        .fill-notif{
            th,
            td{font-size:12px;padding:10px;vertical-align: top;}
        }
        .content{padding-bottom: 30px !important;}
    }
    .box-link-terms{
        .left{margin-bottom: 30px;}
    }
}
@media (min-width: 0px) and (max-width:465px){
    .banner-float .right table tbody td {padding: 15px 7px;}
    .h-product{
        .list-product{
            .box{width:99%;}
        }
    }
    .h-news {
        .btn-border{float:none;margin:0 auto 20px;display: inline-block;width:auto;}
        h3{font-size: 16px;margin:0;display:block;float:none;
           &:before{    margin: 5px 10px -5px 0;width:25px;height:25px;}
        }
        .list-news .box{width:100%;}
    }

    .std-content{
        h2 {font-size: 18px;}
        .product-compare .ringkasan-perbandingan .box {width: 100%;}
        .step-oa {
            .box{ 

                span:nth-child(1) {
                    left: 0;right:0;
                }
                &.active{
                    span:nth-child(1){right: auto;left: 5px;}
                    span:nth-child(2){padding: 0px 10px 0 28px}
                }
            }
            &.type-syariah{
                .box{ 

                    span:nth-child(1) {
                        left: 0;right:0;
                    }
                    &.active{
                        span:nth-child(1){right: auto;left: 5px;}
                        span:nth-child(2){padding: 0px 10px 0 28px}
                    }
                }

            }
        }
    }

    .myaccount{
        .title-content{ 
            .btn-oval {
                margin: 10px 0 -2px 0;
            }
            .left,.right{display: block;float:none}

            &.type-2{
                .right{
                    label{width: 29%;}
                    select{width: 70%;float: right;min-width: 0;}
                }
            }
        }
        .box-list-data .list-data.list_3{width:100%}
        .title-bg{
            h3{font-size:13px;line-height: 18px}            
        }
        .box-data-diri .col.col_33 {
            width: 100%;
        }

    }    

    .box-list-news .list-news {
        width: 100%;
        figure{    max-height: 133px;}                       
    }
    .box-sorting{
        label{width:25%}
        select{min-width: 0;width:74%}
    }
    .wrap-popup{
        .head {
            h5 {font-size: 14px;}
            .close {right: 10px;}
        }
        &.product-detail{
            .general-info .col-2 .box .column.col-2 .box {
                width:100%;padding:15px;margin-top:-1px;border-right: none;
                &:nth-child(2n){border-top: 1px solid #CCC;}
            }
            .list-product .box{width:99.4%;}
            .title-content .logo-prod .text {
                width: 100%;
                h6 {margin:10px 0 0 0;font-size: 14px;}
            }
        }
    }
    footer .right p:last-child {line-height: 16px;font-size:10px;margin-top: 16px}
}
