/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Your Name
==============================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import "../css/jquery-ui.min.css";
@import "../css/reset.css";
@import "../css/slick.css";
@import "sass-lib";

body {  
    color: #48535b;
    font-size: 12px;
    font-family: "Noto Sans"; 
    font-weight: 400;
    position: relative;
    overflow-x: hidden; 
    width: 100%;
}
figure{margin: 0; padding: 0;}
img{ border:0; max-width:100%; height:auto; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
p {
    margin: 1px 0 15px;
    line-height: 20px;
}
input, textarea, select {
    padding:0;
    font-size: 12px;
    border: none;
    border: 1px solid #D8D8D8;
    padding: 10px;
    margin: 0;
    color: #666;
    font-family: "Noto Sans";
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include boxSizing(border-box);
}
input[type=checkbox], input[type=radio] {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; } 
h5 { font-size: 16px; } 
h6 { font-size: 14px; }
/* structure 
----------------------------------------------------------------------------------------------*/
section { position: relative; }
.wrapper {width: 1370px;margin: 0 auto;}
.overflow{
    height: auto;overflow-x:auto;
    &.order-overflow{
        max-height: 600px;
    }     
}
/* global
----------------------------------------------------------------------------------------------*/

.after_clear:after,.wrapper:after,section:after{clear:both;display: block;content:" "}
.before_clear:before{clear:both;display: block;content:" "}
.a-left{text-align: left}
.a-right{text-align: right}
.a-center{text-align: center}
.inline{display: inline !important;}

.btn-border{
    display: inline-block;padding:0 35px;height: 40px;font-size: 14px;font-weight:700;color:$blue;border:2px solid $blue;@include borderRadius(40px);
    line-height: 36px;text-transform:uppercase;@include transition(0.1s linear all);position:relative;cursor: pointer;
    @include boxSizing(border-box);
    &:hover{
        background: $blue;color:#FFF;
    }
    &.white{color:#FFF;border-color:#FFF;
            &:hover{
                background: #FFF;color:$yellow;
            }
    }
}
.btn-std{
    display: inline-block;border:none;padding:0 35px;height: 40px;font-size: 14px;font-weight:700;color:#FFF;@include borderRadius(40px);
    line-height: 40px;text-transform:uppercase;@include transition(0.1s linear all);position:relative;background:$blue;cursor: pointer;
    @include boxSizing(border-box);
    &:hover{
        background: #2e76a2;color:#FFF;
    }
    &.yellow{background: $yellow;
             &:hover{background: #2e76a2;color:#FFF;}
    }
    &.sea{background: #2e76a2;
          &:hover{background:$yellow;}
    }

}
.watchlist-btn{
    display: block;width:180px;line-height: 30px;margin:0;font-size:14px;padding:0 0 0 30px;
    &:before{
        width:18px;height:30px;background: url(../images/material/love.png) no-repeat center; content:"";display:block;float: left;margin:0 7px 0 0;
    }
}

.no-border{border:none !important;}
.content-tab{display: none}

.ui-datepicker{
    width:260px;padding:0 0 20px 0;overflow:hidden;@include borderRadius(10px);border:none !important;font-family:"Noto Sans";@include boxShadow(3px 3px 25px -12px #000);
    .ui-datepicker-header{
        background: $yellow;border:none;height:40px;padding:0;@include borderRadius(0)
    }
    .ui-datepicker-title{color:#FFF;font-size:16px;font-family:"Noto Sans";line-height: 40px;}
    .ui-datepicker-prev,
    .ui-datepicker-next{
        background: url(../images/material/datepicker-prev.png) no-repeat center;top:10px;left:20px;border:1px solid transparent;@include borderRadius(100%);
        span{display: none;}
        &:hover{
            border-color:#FFF;
        }
    }
    .ui-datepicker-next{
        background: url(../images/material/datepicker-next.png) no-repeat center;right:20px;left:auto;
    }
    table{
        font-family:"Noto Sans";width:225px;margin:0 auto  ;
        th{height:40px;line-height: 40px;padding:0;font-size:12px;text-transform:uppercase;color:#999;border-bottom:1px solid #CCC !important;}
        td{
            @include boxSizing(border-box);
            a{line-height: 26px;height:28px;border:none !important;background:none !important;text-align: center;width:28px;font-size:12px;color:#333;@include boxSizing(border-box);
              &.ui-state-active{background: $blue !important;@include borderRadius(100% !important);}
            }
        }
    }

}
.disclaimer-box{
    padding: 20px 20px 25px;color: #999999;line-height: 20px;border:1px solid #CCC;max-height:240px;overflow-y:auto;
    h4{font-weight: 700;color: #666666;font-size: 12px;margin-bottom: 5px;font-style: italic}
    p{
        font-size: 11px;
        margin: 0;
        font-style: italic;
        text-align: justify;
        line-height: 17px;
    }
    &.rounded{@include borderRadius(10px);}
}
/* header
----------------------------------------------------------------------------------------------*/
header{
    height:100px;background:#FFF;z-index:2;position:relative;max-width:100%;
    .logo{float: left;margin:12px 0 0 0;}
    ul{
        float: right;margin:43px 0 0 0;position: relative;bottom: -1px;
        li{float: left;margin-left: 50px;position: relative;padding-bottom: 32px;top:2px;
           &.have-child:hover{
               .child-menu{opacity: 1;visibility: visible;top:100%;}
           }
        }
        a{position:relative;font-size: 14px;color:$blue;line-height: 22px;display:inline-block;
          &:hover{color:$yellow}
        }
        a.home{width:20px;height:22px;text-indent:-9999px;background: url(../images/material/home-ico.png) no-repeat center;margin:-5px -10px 0 0;}
        a.cart{
            width:18px;height:22px;background: url(../images/material/cart-ico.png) no-repeat center;
            &:before{
                content:attr(data-cart);position: absolute;width:16px;height:22px;line-height: 17px;color:#FFF;text-align:center;font-size: 12px;
                background: url(../images/material/balon-cart.png) no-repeat top; bottom:100%;left:0;right:0;margin:auto;
            }   
        }
        a.arr{
            padding:0 22px 0 0;
            &:after{
                content: "";display: block;width:0;height:0;position: absolute;border-top:6px solid $yellow;border-left:6px solid transparent;
                border-right:6px solid transparent;top:0;bottom:0;right:0;margin:auto;
            }
        }
        a.active{font-weight: 700;
                 &:hover{color:$blue}
        }
        .child-menu{
            position: absolute;width: 280px;height:auto;top:70%;left:-110px;opacity:0;visibility:hidden;@include transition(.15s ease-out all);
            &:before{
                content:'';position: absolute;border-bottom:15px solid #0d2d4f;border-left:15px solid transparent;border-right:15px solid transparent;top:-15px;left:0;right:0;margin:auto;
                width:0;left: 0;
            }
            a{
                display: block;padding: 30px;background: #0d2d4f;font-size:16px;color:#FFF;margin-bottom:1px;
                &:hover{
                    background: #2e76a2;color:#FFF;
                }
            }
            .list-child-menu{
                position: relative;
                .ltl-child-menu{
                    position: absolute; left: 100%; top: 0; min-width: 280px; opacity: 0; visibility: hidden;@include transition(.15s ease-out all);
                }
                &:hover{
                    .ltl-child-menu{opacity: 1; visibility: visible;}
                }
            }


            &.form-child-menu{
                width: 500px; left: -140px; background: $blue; color: #fff; @include boxSizing(border-box); padding: 40px 25px 25px;
                &:before{
                    left:135px;right:auto;
                }
                a{
                    height: auto; padding: 0; display: inline-block;
                    &:hover{background: transparent;}
                }
                .btn-oval{padding: 0 40px;}
                h3{font-size: 30px; font-weight: 700; padding: 0 30px; margin-bottom: 26px;}
                hr.line-bluetop{
                    height: 1px; border: none; background: #061627; border-top: 1px solid #4a627b; margin: 20px 0;
                }
                table{
                    width:100%;
                    th, td{
                        padding: 15px;font-weight: 700; font-size: 14px;
                        &:first-child{padding-left: 25px;}
                        &:last-child{padding-right: 25px;}
                    }
                    thead{
                        tr{
                            th{background: #0a243f; overflow: hidden;
                               &:first-child{@include borderRadius(10px 0 0 10px);}
                               &:last-child{@include borderRadius(0 10px 10px 0);}
                            }
                        }
                    }
                }
            }
        }
        .box-login-form{
            background: $blue; color: #fff; @include boxSizing(border-box); width: 643px; min-height: 90vh; max-height: 750px; position: relative;
            h3{font-size: 30px; margin-bottom: 30px; font-weight: 700;}
            p{color: #cdcecb; font-size: 14px; line-height: 24px; margin-bottom: 40px;}
            input[type=text], input[type=password]{padding-left: 25px; padding-right: 25px; height: 50px; color: #ffffff; font-size: 14px; @include borderRadius(10px); background: #0a243f; border: none; width: 100%;}
            a{display: inline-block; padding: 0; font-size: 14px;}
            .btn-oval{padding: 0 20px; min-width: 140px;}
            .inner-login{position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%)); width: 445px;}
            .row{
                margin-bottom: 15px; display: block;
                &:after{content: " "; clear: both; display: block;}
                &.box-checklogin{margin: 30px 0 50px; font-size: 14px;}
            }
            .submit-login{
                vertical-align: top;
                span{height: 40px; display: inline-block; vertical-align: top; line-height: 40px; margin: 0 30px; font-size: 14px;}
            }
        }
        .box-drop-menu{
            position: absolute; top: 100%; right: 0; background: $blue; color: #fff; display: none;
            &:before{
                content:'';position: absolute;border-bottom:15px solid #0d2d4f;border-left:15px solid transparent;border-right:15px solid transparent;top:-15px;left:0;right:0;margin:auto;
                width:0;left: 0;
            }
            a{
                color: #fff; display: block; padding: 10px 15px;
                &:hover{background: #2e76a2;}
            }
        }
        .box-search-header{
            position: absolute; top: 100%; right: -10px; background: $blue; color: #fff; display: none;
            &:before{
                content:'';position: absolute;border-bottom:15px solid #0d2d4f;border-left:15px solid transparent;border-right:15px solid transparent;top:-15px;left:auto;right:3px;margin:auto;
                width:0;
            }
            input[type=text]{font-size: 14px; background: $blue; color: #fff; border: none; height: 50px; padding: 0 20px; width: 300px;}
            @include placeholder{color: #fff;}
        }
    }
    .mobile-menu{display: none;}
    .toggle-menu{display: none;}
}
/* middle
----------------------------------------------------------------------------------------------*/
.shadow-spar{
    background: url(../images/material/shadow-spar.png) no-repeat center;width: 1060px;height:25px;margin: auto;
}
.banner-float{
    position:relative;max-width:100%;overflow:hidden;
    .left{width:1275px;
          img{display: block;position: relative;}
          .slick-slide{position: relative;}
          .caption{
              position: absolute;width:680px;height: 230px;top:0;bottom:0;left:0;right:0;margin: auto;z-index:1;
              h2{font-size: 55px;color:#FFF;font-weight:700;margin:0 0 40px 0;}
              p{font-size:14px;color:#FFF;line-height: 24px;margin:0 0 40px}
          }
          .slick-dots{
              position: absolute;bottom:40px;right:35px;
              li{display: inline-block;padding:0px 10px;}
              button{
                  width:8px;height: 8px;background: #FFF;@include borderRadius(10px);padding:0;display: block;text-indent:-9999px;border:none;
                  cursor:pointer;
              }
              .slick-active{
                  button{background: $yellow;}
              }
          }
    }
    .right{
        width:645px;background:$blue;position:absolute;height:100%;overflow: hidden;

        .nav-tab{
            a{
                float: left;width:50%;background:#2e76a2;height: 50px;text-align: center;line-height: 50px;color:#FFF;font-size:13px;
                @include transition(0.1s linear all);
                &.active{background: $blue;
                         &:hover{background: $blue}
                }
                &:hover{background:#12457a }
            }
            &:after{@extend .after_clear;}
        }
        .content-tab{
            display:none;padding: 40px 60px 40px 70px;position: relative;overflow: hidden;
            h4{font-size: 24px;font-weight:700;color:#FFF;margin:0 0 40px 0;}
        }
        table{
            position: relative;width:100%;color:#FFF;font-size:14px;
            thead{                
                position: relative;
                th{opacity:0.5;line-height: 40px;padding:0 20px ;text-align: left;}
                &:before{content: "";display: block;background: #0a243f;width:100%;height:40px;position: absolute;@include borderRadius(10px) }
            }
            tbody{
                td{padding:20px 20px 10px;position:relative;}
                td:nth-child(1){
                    border-right:1px solid #061627;
                    &:before{display: inline-block;content:"";border-bottom:6px solid #05ad50;border-left:6px solid transparent;border-right:6px solid transparent;
                             width:0;height:0;margin:0 4px 0 0;
                    }
                    &.down:before{border-bottom: none;border-top:6px solid red;}                   
                }
                td:nth-child(2):after{content:"";position: absolute;border-left: 1px solid #4a627b;height:100%;top:0;left:0;}
                span{display: block;opacity: 0.5;margin:8px 0 0 0;}
                a{color:$yellow;font-weight:700;
                  &:hover{text-decoration: underline}
                }
            }
        }
        .find-product{
            width:445px;margin:40px auto 0;
            h2{font-weight: 700;font-size:29px;margin:0 0 50px 0;color:#FFF}
            .col{width: 50%;}
            select,input[type=text]{background: #0a243f;border:none;font-size:14px;}
            select{background:#0a243f url(../images/material/arrow_select.png) no-repeat right center;}
            .row{
                margin:0 0 15px 0;
                .col{width:215px;margin-right:15px;
                     &:last-child{margin-right: 0;}
                }
                &.bt{margin-top:30px;}
            }
        }
        /*
                &:after{
                    content:"";width:100%;height:280px;background: url(../images/material/shadow-banner.png) repeat-x top;display: block;position: absolute;bottom:0;left:0;
                }*/
    }

    &:after{@extend .after_clear;}
}
.h-step{
    height: 135px;background:#f58220;overflow:hidden; 
    .box{float: left;width:380px;margin:30px 115px 0 0;position: relative;
         .ico{float: left;width:70px;height: 70px;overflow: hidden;margin:0 30px 0 0;}
         .text{width:280px;float: left;
               h6{font-size: 20px;font-weight: 700;color:#FFF;margin:0 0 10px 0;}
               p{font-size: 14px;color:#FFF;opacity: 0.5;line-height: 20px;}
         }
         &:after{@extend .after_clear;}
         &:last-child{margin-right: 0}

         &:nth-child(1):after,        
             &:nth-child(2):after{
             content: "";position: absolute;width: 34px;height: 135px;background:url(../images/material/shadow-step-1.png) no-repeat;
             top:-10px;bottom:0px;right:-80px;margin:auto;
         }
         &:nth-child(2):after{background:url(../images/material/shadow-step-2.png) no-repeat;}

    }

    &:after{@extend .after_clear;}
}
.h-product{
    padding:90px 0 60px 0;
    h2{font-size: 45px;font-weight: 700;margin:0 0 30px 0;color:$blue;text-align: center;}
    p{color:#999;font-size: 14px;line-height: 24px;margin:0 0 0 40px;text-align: center;}

    .filter{
        margin:0 0 90px;
        .col{
            width:370px;float: left;margin:0 30px 0 0;
            &:last-child{margin-right:0;width: 170px;float: right;}
            select{width: 100%;height: 60px;border:1px solid $blue;padding:0 45px;font-size: 16px;color:#999;@include borderRadius(10px);
                   background: url(../images/material/arrow-combo.png) no-repeat 94% center;
            }
        }

        .btn-std{width: 100%;height: 60px;background: $yellow;
                 &:hover{background:$blue;}
        }
        &:after{@extend .after_clear;}

    }

    .category-prod{
        text-align: center;margin:50px 0 30px;
        a{display: inline-block;height: 26px;line-height: 26px;font-size: 16px;color:#888;margin:0 25px;
          span{float: left;height: 26px;width: 26px;margin-right: 15px;}

          &.active,
          &:hover{ color:$blue; span{background-position: right center !important;}}
          &.active{font-weight: 700}
        }
    }

    .list-product{
        margin:40px auto 40px ;max-width: 1170px;overflow: hidden;position: relative;
        .box{width: 268px;height: 345px;float: left;;border:1px solid #cdcecb;margin:0 30px 25px 0;@include borderRadius(10px);            
             &:nth-child(4n){margin-right:0;}
             p{font-size: 12px;color:#999;text-align: left;margin:0;
               span{color:#2e76a2;padding:0 0 0 5px;font-weight: 700;}
             }
             .name{height: 39px;border-bottom: 1px solid #eaeaea;padding:0 15px;
                   p{line-height: 39px;}
             }
             .desc{height: auto;padding: 17px 15px 18px;border-bottom: 1px solid #eaeaea;text-align:center;
                   .ico{float: none;height:60px;width: auto;@include borderRadius(5px);overflow: hidden;margin-right: 10px;
                        img{max-height:60px;}
                   }
                   .text{width:auto;float: none;margin:10px 0 0 0;
                         h5{font-size: 16px;font-weight: 700;color:#48535b;line-height: 20px;margin:0px 0 2px ;height:40px;overflow:hidden}
                         p{text-align: center;}
                   }
             }
             .return{
                 height: 30px;border-bottom: 1px solid #eaeaea;
                 p{line-height: 30px;text-align: center;}

             }
             .float-3{
                 border-bottom: 1px solid #eaeaea;
                 div{
                     width:88px;float:left;border-right: 1px solid #eaeaea;height: 30px;
                     &:last-child{border:none;}
                     p{line-height: 30px;text-align: center;}
                 }
                 &:after{@extend .after_clear;}
             }
             .watch-list{
                 display: block;height:30px;line-height: 30px;border-bottom:1px solid #eee;text-align:center;color:$yellow;
                 &:hover{
                     background:$yellow;color:#FFF
                 }
             }
             .btn{
                 a{float:left;height: 40px;width:133px;border-right:1px solid #eaeaea;text-align: center;line-height: 40px;font-size: 13px;
                   font-weight: 700;color:$yellow;@include borderRadius( 0 0 0 10px);
                   &:last-child{border:none;color:$blue;width: 134px;@include borderRadius( 0 0 10px 0);}
                   &:hover{background:$blue;color:#FFF;}
                 }
             }
        }
        .slick-arrow{
            position:absolute;top:0;bottom:0;margin:auto;width:13px;height:21px;border:none;padding:0;
            background:url(../images/material/arr-slider.png) no-repeat;text-indent:9999px;
            &.slick-prev{right: -30px;background-position:right top;}
            &.slick-next{left: -30px;background-position:left top;}
        }
        &.has-slider{overflow: inherit;}
    }
    .a-center{margin-bottom: 70px}
}

.h-compare{
    width: 1370px;background:$yellow;margin:0 auto 125px;padding:45px 0 30px;@include borderRadius(10px);
    .wrapper{width: 1170px;}
    h2{font-size: 30px;font-weight: 700;color:#FFF;height: 52px;line-height: 52px;
       &:before{
           content:"";display: block;float: left;width: 55px;height: 52px;background:url(../images/material/banding-ico.png)no-repeat;
           margin:0 20px 0 0 ;
       }
    }
    select{width: 100%;height: 60px;padding:0 45px;font-size: 16px;color:#999;@include borderRadius(10px);border:none;
           background:#FFF url(../images/material/arrow-combo.png) no-repeat 94% center;
    }
    .select2-container--default .select2-selection--single{@extend select;padding-left: 30px;}
    .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 60px;}
    .select2-container--default .select2-selection--single .select2-selection__arrow{display: none}
    .top{
        margin: 0 0 40px 0;
        .right{width: 300px;}
        select{width: 200px;padding:0  45px 0 20px;background-position: 90% center;}
        label{font-size: 16px;font-weight: 700;margin:0 20px 0 0;}
        &:after{@extend .after_clear;}
    }
    .col-3{
        margin-bottom: 20px;
        div{width: 370px;margin-right: 30px;float: left;
            &:last-child{margin-right:0;}
        }
        &:after{@extend .after_clear;}
    }
    .btn{
        text-align: center;margin:30px 0 0 0;
    }
}

.h-how{
    .left{width: 66.5%;float: left;height: 525px;position: relative;margin-bottom:0;
          img{height: 100%;}
          .caption{position: absolute;height: 230px;top:0;bottom:0;margin:auto;text-align: center;left:0;right: 0;@include transform(translate(0,0));
                   h3{font-size: 45px;font-weight: 700;color:#FFF;margin:0 0 20px 0;}
                   p{font-size: 16px;color:#FFF;margin-bottom: 30px}
                   a{display: inline-block;width: 120px;height: 120px;background: url(../images/material/play-ico.png) no-repeat;
                     text-indent: -9999px;
                     &:hover{opacity:0.7;}
                   }
          }
    }
    .right{
        position: absolute;right:0;bottom:0;top:0;background: #2e76a2;padding:75px 5%;@include boxSizing(border-box);
        width: 33.6%;
        h4{font-size: 30px;font-weight: 700;color:#FFF;margin-bottom: 25px}
        .row{margin-bottom: 15px}
        input[type=text],input[type=email],textarea{
            border-color: #eee;height: 48px;width: 100%;background: none;font-size: 14px;border-width: 0.5px; color:#FFF;
            @include borderRadius(10px);padding:0 22px;border:1px solid #eee;
        }
        textarea{
            padding:18px 22px;height: 130px;
        }
        @include placeholder{
            color:#FFF;
        }
    }

}

.h-news{
    padding:125px 0 180px;
    h3{font-size: 30px;color:$blue;height: 41px;line-height: 41px;font-weight: 700; margin-bottom: 80px;
       &:before{width:52px;height: 41px;background: url(../images/material/news-ico.png) no-repeat;content: "";float: left;
                margin:0 20px 0 0 ;
       }

    }
    .list-news{
        .box{
            width: 398px;height: 410px;float: left;margin-right: 85px;border:1px solid #ccc;@include borderRadius(10px);position: relative;
            overflow: hidden;@include transition(0.2s linear all);cursor: pointer;
            .image{height: 210px;position: relative;overflow: hidden;
                   span{padding:0 17px;height: 40px;line-height: 40px;background: #0d2d4f;display: block;position: absolute;bottom: 0;left: 0;
                        font-size: 12px;font-weight: 700;text-transform: uppercase;color:#FFF;@include transition(0.2s linear all);
                   }
            }
            .text{
                text-align: center;padding:0 30px;
                small{display: block;margin: 35px 0 20px;font-size: 12px;color: #48535b;}
                h6{font-size: 16px;font-weight: 700;color:#48535b;line-height: 24px;}
                a{position: absolute;height: 55px;line-height: 55px;font-size: 13px;font-weight: 700;color:#48535b;@include transition(0.2s linear all);
                  border-top:1px solid #eaeaea;left:0;right: 0;bottom:0;text-transform: uppercase;cursor: pointer;
                }
            }
            &:last-child{margin-right:0;}
            &:hover{
                border-color: transparent;@include boxShadow(0 0 150px -20px #000);
                .image span{background:$yellow;}
                .text a{background:$yellow;color:#FFF;}
            }
        }

        &:after{@extend .after_clear;}

    }
}

.banner{
    position:relative;max-width:100%;overflow:hidden;
    .caption{
        position: absolute;width: 1200px;height: 225px;top:0;bottom:0;left:0;right:0;margin:auto;color:#FFF;
        h6{font-weight: bold;text-transform: uppercase;color:$yellow;font-size: 14px;margin:0 0 10px 0;}
        h1{font-size: 65px;font-weight:700;line-height: 75px;margin: 0 0 25px -5px}
        p{font-size: 18px;color:#999}
        &.center{
            text-align: center;
            h2{font-size: 30px; color: #f5f7f6; font-weight: 700; margin-bottom: 17px;}
            h6{margin-bottom: 20px;}
            figure{margin-bottom: 20px;}
        }
    }
}
.std-content{
    background:#f5f7f6;padding-bottom:30px;
    h2{font-size:36px;}
    .wrapper{
        background: #FFF;padding:40px 100px 105px;border-top:5px solid $yellow;top:-100px;position:relative; width: 1170px;
    }
    .nav-produk {
        @extend .after_clear; margin-bottom: 25px; padding-bottom: 20px; border-bottom: 1px solid #ccc;
        .left {
            margin-top: 10px;
            p{font-size:16px;margin-top:-7px;}
            .btn_nav {
                padding-left: 35px; background: url('../images/material/ico_burger_nav.png') no-repeat left center;
                font-size: 16px; color: #0d2d4f; font-weight: 700;
            }
        }
        .right {
            a{display: inline-block;height: 26px;line-height: 26px;font-size: 16px;color:#888;margin:0 25px;
              span{float: left;height: 26px;width: 26px;margin-right: 15px;}
              &.active,
              &:hover{ color:$blue; span{background-position: right center !important;}}
              &.active{font-weight: 700}
            }
        }
    }
    .category {
        @extend .after_clear; margin: 0 0 30px;
        .date-view {
            float: left;
            p {font-size: 14px; color: #84888b; font-weight: 700; margin: 10px 0 0;}
        }
        .right {
            width:405px;position:relative;
            .left{position:relative;
                  &:first-child{margin-right: 20px;}
            }
            select {                
                background: #2e76a2 url('../images/material/arr_select.png') no-repeat 85% 50%; color: #fff; border: none; height: 40px; font-size: 14px;
                padding: 0 40px 0 35px; @include borderRadius(20px); margin-right: 25px;
            }

            input[type="text"] {
                padding: 0 35px 0 20px; @include boxSizing(border-box); width: 100%; @include borderRadius(5px);
                line-height: 38px; font-size: 14px;
            }
            input:nth-child(2){
                position: absolute; top: 0; bottom: 0; margin: auto; right: 15px; border: none;cursor: pointer;text-indent:-9999px;
                width:20px; height: 20px; background: url('../images/material/ico_src.png')no-repeat center center;}
        }
        .btn-std {
            background: #f58220; color: #fff;
            &:hover {
                background: #0d2d4f;
            }
        }
    }
    .opt {
        position: relative; width: 15px; height: 15px; display: block; cursor: pointer;
        input[type=checkbox] {
            width: 15px;height: 15px;float: left; margin: 0px 5px 0 0; position: absolute !important;padding:0;
            top: 0px;left: 0; cursor: pointer; background: url(../images/material/ico_checkbox.png) no-repeat top center;
            &:checked {
                background-position: bottom center;
            }
        }
        input[type=radio]{
            width: 21px;height: 20px;float: left; margin: 0px 5px 0 0; position: absolute !important;
            top: 0px;left: 0; cursor: pointer; background: url(../images/material/ico_radio-2.png) no-repeat top center;
            &:checked{background-position: bottom center}
        }
    }
    .inlineopt{
        .row{margin-bottom: 12px;}
        .opt{display: inline-block; margin-right: 5px;}
        input[type=text],input[type=email],input[type=password],textarea,select{
            width: 100%;height:50px;border:1px solid #CCC;@include borderRadius(10px);font-size:16px;padding:0 25px;
        }
    }
    table {
        width: 100%; @include boxSizing(border-box);
        &.product {
            thead {
                background: #2e76a2;
                th {
                    color: #fff; font-size: 13px; font-weight: 700; vertical-align: middle; height: 30px; padding-right: 10px;
                    text-align: left;
                    &:first-child {padding-left: 10px;}
                    .cek_ico {width: 13px; height: 13px; border: 1px solid #fff; display: block;}
                    .opt .check-custom {background: url(../images/material/ico_checkbox-2.png ) no-repeat;
                                        &.active {
                                            background-position: bottom center;
                                        }
                    }
                }
            }
            tbody {
                td {
                    font-size: 14px; padding: 20px 10px 4px 0;
                    &:first-child {padding-left: 10px;}
                }
                tr {
                    cursor: pointer;
                    &:hover {@include boxShadow(-1px 8px 15px 0px #ccc); @include transition(box-shadow ease-out 0.2s);}
                }
            }
        }
        &.m_invest {
            thead {
                th {
                    text-transform: uppercase; padding: 0 5px; text-align: center;
                    &[colspan] {text-align: center; border-bottom: 1px solid #498fb9;}
                    &:nth-child(3) {text-align: left;}
                }
            }
            tbody {
                td {
                    padding-left: 5px; text-align: center;
                    &:nth-child(3) {text-align: left;}
                }
            }
        }
    }
    .table-nav {
        padding-top: 10px; border-top: 1px solid #2e76a2; @extend .after_clear; margin: 10px 0 0;
        .entries  {
            font-size: 13px; color: #84888b;diplay:none;
            select {
                border: none; padding: 5px 20px 5px 5px; color: #fff; @include borderRadius(5px); margin: 0 5px;
                background: #2e76a2  url('../images/material/arr_enteris.png')no-repeat 80% center; min-width: 0; height: auto; font-size: 12px;
            }
        }
        .info {
            color: #84888b; font-size: 13px; margin-top: 5px;
        }
    }

    h2{font-size: 36px;color:#2e77a2;font-weight: 700;margin:0 0 30px ;}

    .product-compare{
        .nav-tab{
            height:32px;border-bottom:1px solid #e5e5e5;margin:50px 0 50px 0;
            a{
                display: block;height: 32px;float: left;font-size: 16px;color:#48535b;margin:0 105px 0 0;position:relative;
                &:after{
                    content: "";position: absolute;border-bottom:2px solid #0b4ca1;bottom:-1px;left:0;width:0;@include transition(0.15s linear all);
                }
                &:hover{
                    &:after{width: 100%;}
                }
                &.active{
                    font-weight:700;
                    &:after{width: 100%;}
                }
            }
            @extend .after_clear;
        }
        .content-tab{margin-bottom: 70px;}
        .compare-form{
            margin:0 0 45px;
            select{width: 100%;height: 60px;padding:0 45px;font-size: 16px;color:#999;@include borderRadius(10px);border:1px solid #ccc;
                   background:#FFF url(../images/material/arrow-combo.png) no-repeat 94% center;
            }
            .select2-container--default .select2-selection--single{@extend select;padding-left: 30px;}
            .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 60px;}
            .select2-container--default .select2-selection--single .select2-selection__arrow{display: none}

            .top{
                margin: 0 0 40px 0;
                .right{width: 300px;}
                select{width: 200px;padding:0  45px 0 20px;background-position: 90% center;}
                label{font-size: 16px;font-weight: 700;margin:0 20px 0 0;}
                &:after{@extend .after_clear;}
            }
            .col-3{
                margin-bottom: 20px;
                div{width: 370px;margin-right: 30px;float: left;
                    &:last-child{margin-right:0;}
                }
                &:after{@extend .after_clear;}
            }
            .btn{
                text-align: center;margin:30px 0 0 0;
            }
        }

        .filter_top {
            border: 1px solid #ccc; @include borderRadius(5px); margin-bottom: 40px;font-size:13px;;
            label{color:#999}
            form {
                @extend .after_clear; position: relative;
            }
            h6 {float: left; padding-left: 25px; line-height: 45px; color: #0d2d4f; font-size: 14px; font-weight: 700;}
            label.opt{
                width:60px;border-left:1px solid #CCC;float: left;text-align: center;height: 45px;line-height: 45px;color:#48535b;cursor:pointer;
                span{position: relative;z-index: 1;}
                input{
                    position: absolute;width:100%;height:100%;background: none;
                    &:checked{background:$yellow;}
                }
                &.active{
                    span{font-weight: 700;color:#FFF;}
                }
            }

            .list_filt {
                float: left;
                label {line-height: 45px; float: left;border-right: 1px solid #ccc; padding: 0 20px; text-align: right; width: 85px;@include boxSizing(border-box);}
                select {
                    line-height: 45px; font-size: 13px; padding: 0 25px; border: none; border-right: 1px solid #ccc; background-size: 15px !important;
                    float: left;@include boxSizing(border-box); background: url('../images/material/arrow-combo.png') no-repeat 85% center;
                    &.month {width: 150px;}
                    &.year {width: 100px;}
                }
                input[type=text]{
                    border:none;border-right:1px solid #CCC;height: 45px;font-size:13px;width:130px;
                }
            }
            .submit {
                float: right;
                input[type=submit]{
                    border: none; background: #2e77a2 url('../images/material/arr_submit.png') no-repeat center center; width: 80px;
                    @include borderRadius(0 5px 5px 0); padding: 0; line-height: 45px; cursor: pointer;
                }
            }
        }
        .wrap-chart{
            .chart{
                width:970px;border:1px solid #CCC;@include borderRadius(5px);padding: 5px;margin:0 auto;max-width: 100%;
            }
        }
        .ringkasan-perbandingan{
            h2{margin-bottom: 80px;}
            .box{
                width:368px;border:1px solid #CCC;overflow: hidden;@include borderRadius(8px);float:left;margin-right:30px;
                &:nth-child(3n){margin-right: 0;}
                h6{font-size: 16px;font-weight:700;margin-bottom: 7.5px;height:32px;overflow: hidden}
                table,
                p{font-size:14px;padding:7.5px 0;margin:0;line-height:14px;line-height:20px;
                  span{color:#999;}
                  b{font-weight: 700;}
                }
                .col-2{
                    border-bottom:1px solid #CCC;
                    a.btn-donwload,
                    .col{@include boxSizing(border-box);width:50%;border-right:1px solid #CCC;padding:7.5px 20px;float:left;
                         &:last-child{border-right: 0;}
                    }
                    h6{font-size:14px;font-weight:700;text-align: center;margin-top:7.5px}
                    &:after{@extend .after_clear;}
                    a.btn-donwload{
                        height:auto;line-height: 19px;font-size: 14px;color:#2e77a2;text-align:center;padding:13px 0 14px 0;
                        &:before{content:"";display: inline-block;width:18px;height:19px;background: url(../images/material/download.png) no-repeat center;
                                 margin:0 10px 0 0;
                        }
                        &:hover{background: #DDD;}
                    }

                }                
                .table{
                    border-bottom:1px solid #CCC;
                    table{
                        margin:5px 0;
                        tr{
                            td,
                            th{text-align: right;padding:4.5px;}
                            th{font-weight:700;}
                            th:first-child{text-align:left;}
                        }
                    }   
                }
                .sec{
                    padding:7.5px 20px;border-bottom: 1px solid #CCC;
                }

                .desc{height: auto;padding: 17px 15px 18px;border-bottom: 1px solid #eaeaea;text-align:center;
                      .ico{float: none;height:60px;width: auto;@include borderRadius(5px);overflow: hidden;margin-right: 10px;
                           img{max-height:60px;}
                      }
                      .text{width:auto;float: none;margin:10px 0 0 0;
                            h5{font-size: 16px;font-weight: 700;color:#48535b;line-height: 20px;margin:0px 0 2px ;}
                            p{text-align: center;padding: 0}
                      }
                }
                .watch-list{
                    display: block;height:40px;line-height: 40px;border-bottom:1px solid #CCC;text-align:center;color:$yellow;font-size:14px;
                    &:hover{
                        background:$yellow;color:#FFF
                    }
                }
                .btn-wrap{
                    a{display: block;@extend .btn-std.yellow;text-align: center;font-size: 13px;color:#FFF;font-weight:700;height: 50px;line-height: 50px;
                      &.disable{background:#cdcecb;}
                    }
                }
            }
        }

    }
    .login-page{
        h2{margin:0 0 40px 0 ;}
    }
    .nilai-pertanyaan{
        text-align:center;max-width:830px;margin:60px auto 150px;
        h3{
            font-size: 30px;font-weight:700;margin:50px 0;
            span{display: inline-block;width:65px;margin:0 35px;height: 2px;background: $yellow;position:relative;top:-10px;}
        }
        p{font-size: 16px;line-height: 24px;margin:0;}
    }
    .step-oa{
        position:relative;border:1px solid #CCC;@include borderRadius(8px);overflow:hidden;margin:0 0 70px 0;
        .box{
            width: 166px;border-right:1px solid #CCC;float: left;height:58px;position:relative;
            span:nth-child(1){position: absolute;width:28px;height:28px;@include borderRadius(28px);top:0;bottom:0;left:30px;margin:auto;line-height: 28px;
                              text-align: center;background:#CCC;color:#FFF;font-size:18px;font-weight:700;
            }
            span:nth-child(2){line-height: 60px;font-size:14px;margin:0 20px 0 70px;display: block;}

            &.filled,
            &.active{
                background:$blue;color:#FFF;
                span:nth-child(1){background: $yellow;}
            }
            &.filled{background:#2e76a2;}


            &:first-child{width: 166px}
            &:last-child{border:none;}
        }

        &.type-syariah{
            .box{
                &.filled,
                &.active{
                    background:#2b740b;
                }
                &.filled{background:#5bb147;}
            }
        }

        &:after{@extend .after_clear}
    }
    .h-product{padding: 0;}
}


.box-form{
    width:970px;margin:50px auto;max-width: 100%;

    &.login{
        input[type=text],input[type=password]{width:500px;}
        .reset-pin{float: right;}
        .col{margin-right: 20px;}
        .row{margin-bottom: 15px}
        .row.haslink .col{width: 500px;
                          a{font-size: 16px;color:#a4a4a4;line-height: 40px;
                            &:hover{color:$yellow;text-decoration: underline;}
                          }
        }
    }
    &.pertanyaan{
        .right div:first-child,
            label.radio-btn{
            line-height:30px;display:block;margin:0 0 0px 0;
            /*            input[type=radio]{top:5px}*/
        }
        label.radio-btn input[type=radio]{top:5px;}
        .col-4 .col {width: 25%;margin:0;}
    }
    &.pertanyaan-step-5{
        p{padding-top: 15px;margin:0;}
        .after_clear:nth-child(2){margin:10px 0;}
    }

    h5{font-size:18px;color:#333;font-weight: 700;padding:15px 0 0 0;} 

    .w-70{width: 70px;}
    .w-80{width: 80px;}
    .w-130{width:130px !important;}
    .w-170{width:170px !important;}
    .w-200{width: 200px !important}
    .w-240{width: 240px !important}
    .w-270{width: 270px !important}
    .w-333{width: 333px !important;}
    .w-370{width: 370px !important;}    
    .w-385{width: 385px !important;}
    .w-470{width: 470px !important;}   
    .w-560{width: 557px !important;}   
    .w-630{width: 630px;}
    .auto{margin-right: 15px;width:auto !important;}

    .col{float:left;margin:0 15px 0 0;
         &:last-child{margin-right: 0;}
    }
    .col-3{
        .col{width: 33.33%;margin:0;}
    }
    .col-2{
        .col{width:300px;}
        .left:nth-child(1){width:100px;}
        .left:nth-child(2){width:170px;}
        .w-170{margin-right: 40px}
    }

    .optional,
    .require{
        padding-right:8px;position:relative;
        &:after{content: "*";color:$yellow;position: absolute;top:0;right:0;}
    }
    .optional{
        padding-right:18px;
        &:after{content: "**";}
    }


    .row{
        margin:0 0 20px 0;
        *{@include boxSizing(border-box);}
        .left{width: 270px;text-align:right;}
        .right{width:670px;
               label{text-align: left;}
        }
        &.btn{
            margin:40px 0 0 0;
        }
        &.border-dashed{
            margin:60px 0 30px 0;padding:30px 0 0 0;;border-top:1px dashed #CCC;
        }
        &.blue{
            .left{
                label,
                h5{color:#2e76a2}
            }
            .right{
                .left label{color:#48535b;}
            }

        }
        &:after{@extend .after_clear;}
    }
    label{display: block;text-align:right;font-size: 16px;line-height:50px;color:#48535b;
          span{display: block;}
          &.double-line{line-height: 20px;letter-spacing: -.5px;padding-top:5px;
                        span{color:#a0a6a8;}
          }
    }
    input[type=text],input[type=email],input[type=password],textarea,select{
        width: 100%;height:50px;border:1px solid #CCC;@include borderRadius(10px);font-size:16px;padding:0 25px;
        &:focus{
            border-color:#fcd9bc;@include boxShadow(0 0 5px 0px #fcd9bc)
        }
        &.percent{
            background: url(../images/material/percent-ico.png) no-repeat right center;
        }
        &.price{
            background: url(../images/material/rp-ico.png) no-repeat left center;padding-left: 45px;
        }
    }
    select{
        background: url(../images/material/arrow_select.png) no-repeat center right;
    }
    textarea{padding:15px 0 0 25px;resize:none;height:110px;}
    label.radio-btn{
        position: relative;padding-left:26px;
        input[type=radio]{
            background: url(../images/material/ico_checkbox-3.png);float:left;margin:auto;width:20px;height:20px;position:absolute;
            top:15px;left:0;
            &:checked{background-position: right center;}
        }

    }
    label.checkbox-agreement{
        position:relative;
        input[type=checkbox]{
            float: left;width:16px;height: 16px;border:2px solid #2e76a2;padding:0;margin:17px 10px 0 0;
            &:checked{background: url(../images/material/checkbox-term.png) no-repeat center;}
        }
        &.type-2{
            input[type=checkbox]{
                border-color:#666;
                &:checked{background: url(../images/material/checkbox-term-2.png) no-repeat center;}      
            }
        }
    }
    .date{
        input{background:#FFF url(../images/material/ico-date.png) no-repeat right center;}
    }

    p{font-size:16px;line-height:28px;
      .spar{padding:0 25px;}
      &.yellow{color:$yellow;}
    }
    .spar-border{border-top:1px dashed #CCC;margin:40px 0;}

    .upload-file{        
        width:630px;margin:0 auto;
        .wrap-files{
            min-height: 121px;background: url(../images/material/add-file.png) no-repeat center;margin:55px 0 40px 0;
            &.fill{background: none;}
        }
        .input-list{visibility: hidden;opacity: 0;position:absolute;}
        .box{
            border-bottom:1px solid #CCC;height:48px;padding: 0 50px;line-height:48px;overflow:hidden;font-size:16px;color:#48535b;position:relative;
            background:url(../images/material/file-ico.png) no-repeat 20px center;margin:0 0 -1px 0;
            a{
                position:absolute;background: url(../images/material/close-ico.png) no-repeat center;width: 14px;height:14px;top:0;bottom:0;right:20px;
                margin:auto;text-indent: -9999px;@include transition(0.1s linear all);
                &:hover{@include transform(rotate(90deg));}
            }
        }
        .list-box{
            position:relative;overflow:hidden;@include borderRadius(10px);
            &.fill{border:1px solid #CCC;}
        }
    }
}


.overlay-popup{
    position: fixed;top:0;bottom:0;right:0;left:0;background: rgba(0,0,0,0.5);z-index: 99;display: none; 
}
.wrap-popup{ 
    display: none;position: absolute;width:1370px;left:0;right:0;margin:5% auto;z-index: 999;background: #FFF;top:0;overflow:hidden;@include borderRadius(10px);
    .head{
        height:40px;background: $yellow;color:#FFF;padding:0 35px;position:relative;
        h5{line-height: 40px;font-size: 16px;color:#FFF;font-weight:700;}
        .close{
            position: absolute;top:0;bottom:0;right:30px;margin:auto;width: 10px;height: 10px;background: url(../images/material/close-pop.png) no-repeat center;
            @include transition(0.15s linear all);text-indent:-9999px;
            &:hover{@include transform(rotate(90deg))}
        } 
    }
    &.loaderpopup{
        position: fixed;width:100px;height:100px;overflow: hidden;@include borderRadius(100px);margin:auto;top:0;bottom:0;left:0;right:0;display:none;z-index: 9999;background:#FFF;
        img{display: block}
    }

    &.product-detail{
        .content{padding:18px 35px;}
        &.penjualan, &.pengalihan{
            width: 830px;
        }
        &.col-1{
            width:500px;
            .myaccount .list-data.list_2{width: auto;margin-right: 0;}
        }
        &.pop-notif{
            width: 430px;font-size: 14px; color: #666666; margin: 10% auto;max-width:90%;
            h3{font-size: 30px; line-height: 36px; margin-bottom: 10px; color: #333333; font-weight: 700;}
            h5{font-size: 16px; line-height: 20px; color: #48535b; font-weight: 700; margin-bottom: 10px;}
            p{font-size: 14px; color: #666666; line-height: 20px;}
            hr{border: none; height: 1px; width: 100%; background: #cccccc; display: block;margin: 15px 0 20px;}
            .torange{color: #f55220}
            .content{padding-bottom: 40px;}
            &#rejected{
                .head{background: #d81e1e}
            }
            &#process{
                .head{background: #00bd54}
            }
        }
        .title-content{
            margin:0 0 30px 0;position:absolute; top:50px;left:35px;right:35px;background:#FFF;
            h3{font-size: 30px;color:#48535b;font-weight: 700;margin-top: 20px;}
            .logo-prod{
                float: right;width:auto;
                .ico{width:auto;height:65px;float: left;margin-right: 25px;
                     img{max-height: 60px;}
                }
                .text{float: left;width:250px;padding:13px 0 0 0;
                      p{font-size: 12px;margin:0 0 5px ;}
                      h6{font-size: 16px;font-weight: 700;color:#48535b;margin:0 0 0;}
                }
            }
            &:after{@extend .after_clear;}

        }
        .box-content-popup{
            margin-top: 60px;
        }
        .nav-tab{
            height:30px;border-bottom:1px solid #ccc;margin:85px 0 0 0;
            a{font-size: 16px;color:#48535b;padding:0 3px;margin:0 110px 0 0;position: relative;display:inline-block;height:31px;
              &:after{height: 2px;width:0;background: #0b4ca1;content:"";position: absolute;bottom:0;left:0;opacity: 0;@include transition(0.15s linear all);}
              &:hover{
                  &:after{opacity: 1;width:100%}
              }
              &.active{
                  font-weight:700;
                  &:after{opacity: 1;width:100%}
              }
            }
            .watchlist-btn{margin:-10px 10px 0 0;padding:0 0 10px 0;width:auto;font-size:14px;}
            .btn-donwload{
                margin:-20px 0 19px 0;
                a{height:auto;line-height: 19px;font-size: 14px;color:#2e77a2;text-align:center;padding:13px 15px 14px ;margin:0;
                  &:before{content:"";display: inline-block;width:18px;height:19px;background: url(../images/material/download.png) no-repeat center;
                           margin:0 10px 0 0;
                  }
                  &:hover{background: #DDD;}
                  /*                  &:first-child{margin-right: 20px}*/
                }
            }

        }
        .inner{
            padding: 45px 35px 0;
        } 
        .manajer-invest {
            padding: 30px 0;
        }
        .col-3,
        .col-4{
            border:1px solid #CCC;margin:0 0 30px 0;
            .box{float: left;width: 25%;@include boxSizing(border-box);border-right: 1px solid #CCC;padding:20px 30px;
                 &:last-child{border-right: none;}                 
            }
            &:after{@extend .after_clear;}
            p{font-size: 14px;line-height: 24px;margin: 0;
              span{color:#CCC;}
            }
            h6{font-size: 18px;font-weight: 700;margin-top: 10px;}
        }
        .col-3 .box{width:33.33%;}
        .box-blue{
            float: left;width:600px;margin:0 30px 40px 0;height:430px;position:relative;
            h5{height:30px;background: #2e76a2;padding:0 30px;line-height: 30px;font-size:14px;color:#FFF;}
            a{position: absolute;color:#FFF;top:10px;right:30px;
              &:hover{text-decoration: underline;}
            }
            &:nth-child(2n){margin-right: 0;}
            table{
                width:100%;
                tr{
                    background:#f0f0f0;
                    td{
                        font-size: 14px;padding:20px 0;
                        &:nth-child(1){padding: 0 0 0 30px;width:160px;color:#336666;}
                        &.min{color:#f58220;}
                    }
                    &:nth-child(odd){background:#f7f7f7}
                }
            }
        }
        hr{border:none;border-bottom: 1px solid #CCC;}
        .bottom{
            padding:30px 0 60px 0;
            &:after{@extend .after_clear;}
            .right{
                a{margin-left: 10px}
            }
            .left{
                h6{font-size: 18px;color:#2e76a2;padding:0 0 5px 0;display: inline-block;border-bottom:1px solid #2e76a2;font-weight:700;margin:0 0 20px 0;}
                label{
                    font-size: 14px;line-height:16px;
                }
                input[type=checkbox]{
                    border:2px solid #2e76a2;height:16px;width: 16px;padding:0;margin:0 3px -2.5px 0;
                    &:checked{background: url(../images/material/checkbox-term.png) no-repeat center;}
                }
            }
        }

        .info-prod{
            padding-bottom:30px;
            .col-2{
                .left{width:300px;}            
                .right{
                    width:880px;
                }
                &:after{@extend .after_clear;} 

            }
            &:after{@extend .after_clear;} 
            .nav-tab{
                margin:0;height:auto;border:1px solid #CCC;
                a{display: block;height:auto;padding:18px 30px;width:auto;float:none;margin:0;font-weight:700;border-bottom:1px solid #CCC;font-size:18px;
                  line-height: 26px;
                  &:after{display: none;}
                  small{display: block;font-size:14px;margin:0 0 0px 0;font-weight:400;}
                  &:hover,
                      &.active{
                      color:$yellow;
                      small{color:#48535b}
                  }
                }     
            }
            .right{
                h4{
                    font-size: 24px;font-weight:700;margin:0 0 10px 0;
                }
                p{font-size:16px;line-height: 26px;margin-bottom:40px}
            }
        }
        .general-info {
            .col-2 {
                @extend .after_clear;
                .box {
                    width: 50%; float: left; @include boxSizing(border-box); position: relative;
                    .column {
                        .box {float: none; width: 100%; padding: 20px; border-bottom: 1px solid #ccc;}
                        &.col-2 {
                            .box {
                                float: left; width: 50%; padding: 20px;
                                @include boxSizing(border-box); border-right: 1px solid #ccc;
                                &:last-child {border-right: none;}
                                &.child { padding: 0; border-bottom: 0;}
                            }
                        }
                        &:last-child {
                            > .box {border-bottom: none;}
                        }
                    }
                    h3 {font-size: 20px; font-weight: 700; margin-bottom: 15px; width: 70%;}
                    p {font-size: 14px; line-height: 20px; width: 70%; margin-bottom: 0;}
                    .code_mi {
                        position: absolute; top: 20px; right: 20px; display: inline-block; font-size: 16px; color: #0b4ca1;
                    }
                    label {
                        font-size: 14px; color: #48535b; display: block; font-weight: 700; margin-bottom: 10px;
                    }
                    h6 {
                        font-size: 16px; font-weight: 400;
                        &.board {
                            color: #0b4ca1; margin-bottom: 15px; line-height: 20px;
                            i{color:#48535b;}
                        }
                    }
                    table {
                        width: 100%;@include boxSizing(border-box);
                        thead {
                            th {font-size: 16px; font-weight: 700; text-align: left; padding: 10px 0;}
                        }
                        tbody {
                            td {padding: 5px 0; font-size: 16px;}
                        }
                    }
                }
            }
            > .col-2 {
                >.box {
                    width: 635px; border: 1px solid #ccc;
                    &:nth-child(2) {margin-left: 30px;}
                }
            }
        }
        .sec_perform {
            width: 970px; margin: 0 auto;max-width:100%;
            .filter_top {
                border: 1px solid #ccc; @include borderRadius(5px); margin-bottom: 40px;
                form {
                    @extend .after_clear; position: relative;
                }
                h6 {float: left; padding-left: 25px; line-height: 45px; color: #0d2d4f; font-size: 14px; font-weight: 700;}
                .list_filt {
                    float: left;
                    label {line-height: 45px; float: left;border-right: 1px solid #ccc; padding: 0 20px; text-align: right; width: 85px;@include boxSizing(border-box);}
                    select {
                        line-height: 45px; font-size: 13px; padding: 0 25px; border: none; border-right: 1px solid #ccc; background-size: 15px !important;
                        float: left;@include boxSizing(border-box); background: url('../images/material/arrow-combo.png') no-repeat 85% center;
                        &.month {width: 150px;}
                        &.year {width: 100px;}
                    }
                }
                .submit {
                    float: right;
                    input{
                        border: none; background: #2e77a2 url('../images/material/arr_submit.png') no-repeat center center; width: 80px;
                        @include borderRadius(0 5px 5px 0); padding: 0; line-height: 45px; cursor: pointer;
                    }
                }
            }
            .chart {
                .ket {
                    span {
                        display: inline-block; font-size: 13px; margin-right: 25px; position: relative;
                        &:before {content:''; width: 10px; height: 10px; display: inline-block; margin-right: 10px; }
                        &.orange:before {background: #f58220;}
                        &.blue:before {background: #2e76a2;}
                    }
                }
            }
            .chart_item{border:1px solid #CCC;padding: 20px 0 0;@include borderRadius(4px);margin:0 0 40px 0}
        }

        .list-product{
            max-width:1170px;margin:auto;
            .box{width: 268px;height: 244px;float: left;;border:1px solid #cdcecb;margin:0 30px 25px 0;@include borderRadius(10px);            
                 &:nth-child(4n){margin-right:0;}
                 p{font-size: 12px;color:#999;text-align: left;margin:0;
                   span{color:#2e76a2;padding:0 0 0 5px;font-weight: 700;}
                 }
                 .name{height: 39px;border-bottom: 1px solid #eaeaea;padding:0 15px;
                       p{line-height: 39px;}
                 }
                 .watch-list{
                     display: block;height:30px;line-height: 30px;border-bottom:1px solid #eee;text-align:center;color:$yellow;
                     &:hover{
                         background:$yellow;color:#FFF
                     }
                 }
                 .desc{height: 75px;padding: 17px 15px 18px;border-bottom: 1px solid #eaeaea;
                       .ico{float: left;height: 64px;width: 64px;@include borderRadius(5px);overflow: hidden;margin-right: 10px}
                       .text{width:160px;float: left;
                             h5{font-size: 16px;font-weight: 700;color:#48535b;line-height: 20px;margin:0px 0 2px ;}
                       }
                 }
                 .return{
                     height: 30px;border-bottom: 1px solid #eaeaea;
                     p{line-height: 30px;text-align: center;}

                 }
                 .float-3{
                     border-bottom: 1px solid #eaeaea;
                     div{
                         width:88px;float:left;border-right: 1px solid #eaeaea;height: 30px;
                         &:last-child{border:none;}
                         p{line-height: 30px;text-align: center;}
                     }
                     &:after{@extend .after_clear;}
                 }
                 .btn{
                     a{float:left;height: 40px;width:133px;border-right:1px solid #eaeaea;text-align: center;line-height: 40px;font-size: 13px;
                       font-weight: 700;color:$yellow;@include borderRadius( 0 0 0 10px);
                       &:last-child{border:none;color:$blue;width: 134px;@include borderRadius( 0 0 10px 0);}
                       &:hover{background:$blue;color:#FFF;}
                     }
                 }
            }
        }
    }
    .myaccount.sec_perform{
        .filter_top {
            .left,.right{width: 100%;}
            .list_filt {
                width:100% !important;border-top:1px solid #CCC;margin-bottom:-1px;
                label{width:15%;text-align: center;padding:0;}
                select.month,select.year{
                    width:42.5%;padding:0 35px 0 10px;@include boxSizing(border-box);min-width: 0;@include borderRadius(0);height:45px;
                }
                select.year{border-right: none;}
                &:nth-child(1){
                    select.year{border-right: 0;}
                }
            }    
            .submit{
                width:100%;
                input{width: 100%; @include borderRadius(0 0 5px 5px)}     
            }
        }
    }
}
/* footer
----------------------------------------------------------------------------------------------*/
footer{
    height: auto;border-top:1px solid #CCC;position: relative;
    .wrapper{position: relative;height: 350px;}
    .logo-wrap{
        .logo{float:left}
        .logo-ojk{float:left;margin:50px 0 0 40px}
    }
    .left{
        width: 800px;
        .logo{width: 248px;margin: 30px 0 45px;}
        .col{
            float: left;width: 200px;
            a{font-size: 14px;color:#888;display: block;margin-bottom: 15px;text-transform: uppercase;
              &:hover{color:$yellow;}
            }
        }
    }    
    .right{
        position:absolute;width: 470px;padding:85px 0 0 100px;top:0;bottom:0;background: #c2ac97;z-index: 1;
        h6{font-size: 18px;color:#FFF;font-weight: 700;text-transform: uppercase;margin-bottom: 15px;}
        p{font-size: 14px;color:#FFF;margin-bottom: 15px}
        input[type=text]{
            width: 300px;height: 50px;border:1px solid #FFF;color:#FFF;background: none;font-size: 14px;padding: 0 15px;float: left;
            border-right: none;
        }
        input[type=submit]{
            width: 170px;height: 50px;font-size: 14px;font-weight: 700;text-transform: uppercase;color:#FFF;background:$yellow;
            border:none;cursor: pointer;
            &:hover{background:$blue;}
        }
        @include placeholder{
            color:#dcd0c5;
        }
        .subscribe{margin-bottom: 15px}
        p:last-child{text-transform: uppercase;
                     a{color:#FFF;
                       &:hover{text-decoration:underline;}
                     }
        }
    }
    &:after{
        position: absolute;width: 40%;z-index: 0;background: #c2ac97;content: "";height: 100%;right: 0;top:0;
    }
}














