/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import "../css/reset";
@import "../css/slick";*/
@import "sass-lib";
@import "style";


/* icons icwp 
-----------------------------------------*/
.icwp{ 
    width: 19px; height: 19px; background-repeat: no-repeat; background-position: top center; display: inline-block; position: relative; vertical-align: middle;
    &:hover{background-position: bottom center;}

    &.ic_money_white{background-image: url('../images/material/ic_money_white.png'); width: 34px; height: 30px;}
    &.ic_folder{background-image: url('../images/material/ic_folder.png'); width: 33px; height: 33px;}
    &.ic_chart_up{background-image: url('../images/material/ic_chart_up.png'); width: 33px; height: 33px;}
    &.ic_bag{background-image: url('../images/material/ic_bag.png'); width: 33px; height: 33px;}
    &.ic_money{background-image: url('../images/material/ic_money.png'); width: 33px; height: 33px;}
    &.ic_eye{background-image: url('../images/material/ic_eye.png'); width: 33px; height: 33px;}
    &.ic_atm{background-image: url('../images/material/ic_atm.png'); width: 33px; height: 33px;}
    &.ic_checklist{background-image: url('../images/material/ic_checklist.png'); width: 33px; height: 33px;}
    &.ic_arr_topbtm{background-image: url('../images/material/ic_arr_topbtm.png'); width: 6px; height: 11px;}
    &.ic_plus{background-image: url('../images/material/ic_plus.png'); width: 15px; height: 15px;}
    &.ic_trash{background-image: url('../images/material/ic_trash.png'); width: 17px; height: 17px;}
    &.ic_search{background-image: url('../images/material/ico_src.png'); width: 16px; height: 16px;}
    &.ic_back{background-image: url('../images/material/arrow_back.png'); width: 8px; height: 14px;}

    &.ic_up, &.ic_down{width: 10px; height: 7px;}
    &.ic_up{background-image: url('../images/material/ic_up.png');}
    &.ic_down{background-image: url('../images/material/ic_down.png');}

    &.ic_prev_paging, &.ic_next_paging{width: 9px; height: 16px;background-image: url('../images/material/arrow_paging.png');}
    &.ic_prev_paging{background-position: left top;}
    &.ic_next_paging{background-position: right top;}

    &.ic_prev_slide, &.ic_next_slide{background-image: url('../images/material/arrow_slide_sorting.png'); width: 9px; height: 16px;}
    &.ic_prev_slide{background-position: left center;}
    &.ic_next_slide{background-position: right center;}
}

.btn-oval{
    @include borderRadius(40px); padding: 0 20px; height: 40px; line-height: 40px; font-size: 14px; font-weight: 700; display: inline-block; @include boxSizing(border-box);

    &.btn-trans-orange{
        border: 2px solid #f58220; line-height: 38px; color: #f58220;
        .ic_back{margin-right: 10px; background-size: 100% 200%;height: 12px;width: 7px;}
        &:hover{
            background: #f58220; color: #fff;
            .ic_back{background-position: bottom center;}
        }
    }
    &.btn-trans-blue{
        border: 2px solid #0d2d4f; line-height: 38px; color: #0d2d4f;
        &:hover{background: #0d2d4f; color: #fff;}
    }
    &.btn-orange{
        background: #f58220; color: #fff; border: 2px solid #f58220; line-height: 38px;
        &:hover{background: #fff; color: #f58220;}
    }
    &.btn-blue-light{
        background: #2e76a2; color: #fff; border: 2px solid #2e76a2; line-height: 38px;
        &:hover{background: #fff; color: #2e76a2;}
    }
    &.btn-blue{
        background: $blue; color: #fff; border: 2px solid $blue; line-height: 38px;
        &:hover{background: #fff; color: $blue;}
    }
}

.link{
    &.link_orange{color: #f58220;}
    &.link_red{color: #f52020;}
    &.link_redlight{color: #e04732;}
    &.link_green{color: #55b948;}
    &.link_line_red{color: #d81e1e; border-bottom: 1px solid #d81e1e; font-weight: 700;}
    &.link_line_orange{color: #f58220; border-bottom: 1px solid #f58220; font-weight: 700;}
    &.link_line_white{color: #fff; border-bottom: 1px solid #fff;}
}

.myaccount{
    input[type="text"],
    input[type="email"],
    input[type="number"],
    select{height: 46px; padding: 0 25px; font-size: 16px; color: #48535b; border: 1px solid #b2b2b2; @include borderRadius(10px);}
    input[type="text"],
    input[type="email"],
    input[type="number"]{width: 100%;}
    select{padding: 0 45px 0 25px; background: url('../images/material/arrow_select.png') no-repeat right center; min-width: 280px;}
    input.price{
        background:#fff url(../images/material/rp-ico.png) no-repeat left center;padding-left:50px;
    }
    .in_full{
        input[type="text"],
        input[type="email"],
        input[type="number"],
        select{width: 100%;}
    }

    .inner{
        &:after{@extend .after_clear;}
    }
    .std-content{background: transparent;}
    hr{
        &.line-blue{height: 1px; border: none; background: #669bbb;}
        &.line-bgrey{height: 3px; border: none; background: #cccccc; margin: 20px 0;}
    }
    table{
        &.table-radius{
            border: 1px solid #cccccc; @include borderRadius(10px); overflow: hidden; width: 100%; font-size: 14px; line-height: 20px; @include boxSizing(border-box);
            th, td{padding: 12px 10px; text-align: center; vertical-align: middle;}
            .a-left{text-align: left;}
            .a-right{text-align: right;}
            th{font-weight: 700;}
            thead{
                background: #2e77a2; color: #fff;
                a{color: #fff;}
                .opt{
                    .check-custom{
                        background: url(../images/material/ico_checkbox-2.png) no-repeat;
                        &.active{background-position: bottom center;}
                    }
                }
            }
            tbody{
                a{color: #f58220; font-weight: 700;}
                .link{
                    &.link_orange{color: #f58220;}
                    &.link_red{color: #f52020;}
                    &.link_redlight{color: #e04732;}
                    &.link_green{color: #55b948;}
                }
                tr{
                    border-bottom: 1px solid #cccccc;
                }
            }
            tfoot{
                background: #eaf1f6;
            }

            &.table-pembelian{
                th{text-transform: uppercase;}
                th, td{padding: 20px;}
                td{vertical-align: top;}
                label{color: #48535b;}
                p{color: #999999;}
                td:first-child{width:240px}
                .text-display{
                    font-size:14px;padding-bottom:5px;margin-bottom:5px;
                    span{display:block}
                    span:nth-child(1){font-weight:bold;}

                }
                .a-left{
                    label{margin-bottom: 15px;display:block}
                }
                .highlight {
                    td{background:#c9dfec; border-bottom:none;}
                }
                .note-display{
                    border-top:none;font-weight:bold;background:#c9dfec;;
                }
                .net-investment{
                    width: 450px; max-width: 100%;
                    label{margin-left: 10px; margin-right: 20px;}
                }
                .row{display: block; margin-bottom: 12px;
                     &:after{@extend .after_clear}
                }
                .box-periode-berkala{
                    border-top: 1px solid #cccccc; padding: 15px 0; margin: 20px 0 0; display: none;
                    input[type="text"]{width: 70px; padding: 0 10px;}
                    select{width: 140px; min-width: 0;}

                    &.active{display: block;}
                }
                .switching-form-checkout{
                    width:365px;float: right;
                    .bg-transorange{
                        background: #fff4f1; @include borderRadius(10px); padding: 16px 15px; @include boxSizing(border-box);text-align:left;
                        &:after{@extend .after_clear}
                        span{font-size: 11px; color:#999;}
                        label{margin: 0;}
                    }

                }
            }
        }
        &.table-pembelian{min-width:750px;}
    }
    .radio-btn{
        position: relative;padding-left:26px; margin-right: 20px;
        input[type=checkbox],
        input[type=radio]{
            background: url(../images/material/ico_checkbox-3.png);float:left;margin:auto;width:20px;height:20px;position:absolute;
            top:0;left:0;
            &:checked{background-position: right center;}
        }
    }


    .wrap-tab-general{}
    .nav-tab-general{
        border-bottom:1px solid #ccc; margin-bottom: 28px;
        .list-tab{
            font-size: 16px;color:#48535b;padding:0 3px;margin:0 45px 0 0;position: relative;display:inline-block;height:31px;
            a{color: #48535b; letter-spacing: 1px;}
            &:last-child{margin-right: 0;}
            &:after{height: 2px;width:0;background: #0b4ca1;content:"";position: absolute;bottom:0;left:0;opacity: 0;@include transition(0.15s linear all);}
            &:hover{
                &:after{opacity: 1;width:100%}
            }
            &.active{
                font-weight:700;
                &:after{opacity: 1;width:100%}
            }
        }
    }

    .title-bg{
        @include borderRadius(10px); padding: 20px 45px; display: block; color: #fff;
        h3{font-size: 20px; font-weight: 700; line-height: 28px;}
        .left{
            .icwp{margin-right: 5px;}
        }
        &.bg-darkblue{background: #0d2d4f;}
        &.margbottom{margin-bottom: 35px;}
        &:after{content: " "; clear: both; display: block;}
    }

    .title-content{
        margin: 40px 0 20px;
        h3{font-size: 30px; font-weight: 700; color: #2e76a2;}
        label{font-size: 16px; line-height: 20px; color: #48535b; margin-right: 15px;}
        .icwp{
            margin-right: 5px;
            &.nomarg{margin-right: 0;}
        }
    }

    .box-head-list{background: #2e77a2; color: #fff; padding: 15px 26px; min-height: 45px; @include boxSizing(border-box); 
                   @include borderRadius(10px 10px 0 0);}

    .box-list-data{
        font-size: 14px;
        .list-data{
            width: 100%; float: left; max-width: 100%; margin-bottom: 35px;
            &.list_2{
                width: 48.05%; margin-right: 3.89%;
                &:nth-child(2n){margin-right: 0; float: right;}
            }
            &.list_3{
                width: 370px; margin-right: 30px;position:relative;
                &:nth-child(3n){margin-right: 0;}
                &:nth-child(3n+1){clear:both}

                .chart-btn{
                    position: absolute;top:15px;right:15px;width:28px;height:28px;text-indent: -9999px;
                    border:2px solid #f58220;@include borderRadius(100%);
                    background:url(../images/material/ic_chart_up.png) no-repeat center;background-size: 60% auto;
                }
                &:after{@extend .after_clear;}
            }
            &.list_6{width: 770px;}


            > .inner-list-data{
                border: 1px solid #cccccc; @include borderRadius(10px); @include fullfloat; overflow: hidden;
            }
            .box-title-list{
                padding: 20px 25px; @include fullfloat; @include boxSizing(border-box);text-align:center;
                h5{font-size: 16px; font-weight: 700; margin-bottom: 8px;min-height: 32px}
                p{padding: 0;margin:0;}
                .left{width:auto;display: block;float:none;
                      img{max-width: 170px;}
                }
                figure{min-height: 125px;}
                .right{
                    width:auto;display: block;float:none; vertical-align: middle; padding-top: 10px;
                }
            }
            .desc-list{
                .row{
                    border-top: 1px solid #ccc;@include fullfloat;
                    &.no-border{border: none;}
                    &.bg-transorange{background: #fff4f1; @include borderRadius(10px); padding: 16px 28px; @include boxSizing(border-box);}
                    h5{font-size: 16px; line-height: 20px; font-weight: 700; color: #666666;}
                    .tsmall{font-size: 12px; line-height: 18px; color: #999999;}
                    .list{
                        width: 100%; float: left; padding: 20px 30px; @include boxSizing(border-box); border-right: 1px solid #ccc; min-height: 84px;
                        &:last-child{border-right: none;}

                        label{display: block; margin-bottom: 10px; color: #48535b;}
                        strong{color: #666666; font-size: 16px;
                               &.ex-blue{color: #2e77a2; font-size: 18px; font-weight: 700;}
                        }
                        span{display: block; margin-bottom: 5px; font-size: 12px; color: #999999;}
                        .row_inner{
                            width: 100%; margin-bottom: 15px; float: left;
                            label{margin-bottom: 0;}
                            &.row_btn_inner{
                                margin-top: 35px; text-align: center;
                            }
                        }

                        &.list_3{width: 33.33333333333333333%;}
                        &.list_4{width: 40%;}
                        &.list_6{width: 60%;}
                    }
                    &.btn-bottom-list{
                        .list{
                            min-height: 0;text-align: center; padding: 0; border-right: none;
                            &:last-child{
                                .btn_list{border-right: none;}
                            }
                        }
                        .btn_list{
                            font-weight: bold;padding: 20px 30px; @include fullinline; @include boxSizing(border-box); border-right: 1px solid #ccc;
                            &.btn_darkblue{color: #0d2d4f;}
                            &.btn_blue{color: #2e77a2;}
                            &.btn_orange{color: #f58220;}
                            &:hover, &:active{
                                color: #fff; background: #0d2d4f;
                            }
                        }
                    }
                }
                &.row_btm{
                    .row{margin-bottom: 20px;}
                    .expand-priode{margin:20px 0 20px 0;}
                    .col{
                        float:left;width:47.5%;margin-right:5%;
                        &:last-child{margin-right: 0;}
                        label{margin:0 0 10px 0;display: block}
                        select{max-width: 100%;min-width: 100%;}
                    }
                }
            }
        }
        &.disclaimer{
            margin-top: 42px;
            .inner-disclaimer{
                padding: 30px 30px 25px; color: #999999; line-height: 20px; 
                h5{font-weight: 700; color: #666666; font-size: 16px; margin-bottom: 10px;}
            }
        }
        &.pembelian-list-data{
            .list-data .desc-list .row .list{width: 50%;height:auto;padding:20px 10px;min-height:95px}
            .list-data .desc-list .row:last-child{
                .list{width:100%;}
            }
        }
        &:after{content:"";clear:both;display: block;}
    }
    .box-data-diri{
        font-size: 16px; line-height: 24px; color: #48535b;
        label{display: block; margin-bottom: 5px;}
        strong{display: block; font-weight: 700; font-size: 18px; line-height: 28px;}
        .row-data-diri{
            border-bottom: 1px solid #cccccc; padding: 30px 0; display: block;
            &:after{content: " "; clear: both; display: block;}
        }
        .col{
            float: left; width: 100%;
            &.col_33{width: 33.33333333333333333%;}
        }
    }
    .box-link-terms{
        display: block; margin: 30px 0; font-size: 14px; line-height: 24px; color: #48535b;
        .btn-oval{margin:0 10px;}
        .left{
            a{color: #2e77a2; font-size: 16px; font-weight: 700;}
        }
        &:after{
            clear:both;content:"";display: block;
        }
    }
    .thanks-p{font-size: 16px; line-height: 24px; color: #48535b; margin-bottom: 40px;}
}

.box-sorting{
    margin-bottom: 55px; display: block;
    &:after{content: " ";clear: both; display: block;}
    label{font-size: 16px; color: #0d2d4f; margin-right: 15px; font-weight: 700;}
    select{min-width: 0; width: auto;}
}

.box-list-news{
    display: block;
    &:after{content: " ";clear: both; display: block;}
    .list-news{
        width: 370px; margin:0 30px 60px 0; border: 1px solid #bcbcbc; @include borderRadius(10px); position: relative; float: left; overflow: hidden; @include boxSizing(border-box); display: block;
        @include transition(0.3s all);
        &:nth-child(3n){margin-right: 0;}
        figure{
            position: relative; overflow: hidden; @include borderRadius(10px 10px 0 0);
            img{vertical-align: top; @include transition(2s all);}
            .caps{
                position: absolute; bottom: 0; left: 0; background: #47525a; color: #fff; font-weight: 700;font-size: 12px; padding: 15px; display: inline-block; text-transform: uppercase;
                @include transition(0.3s all);
                &.orange-caps{background: #f58220; color: #fff;}
            }
        }
        .desc{
            padding: 35px 15px 70px; @include boxSizing(border-box); color: #48535b; position: relative;
            span{font-size: 12px; line-height: 18px; margin-bottom: 20px; display: inline-block;}
            h5{font-size: 16px; line-height: 24px; font-weight: 700; margin-bottom: 20px;}
            .link-read-more{position: absolute;bottom: 0; left: 0; right: 0; background: transparent; border-top: 1px solid #e5e4e1; text-align: center; height: 55px; line-height: 55px; font-weight: 700; color: #48535b; font-size: 13px; text-transform: uppercase; margin: 0;@include transition(0.3s all); @include borderRadius(0 0 10px 10px);}
        }

        &:hover{
            @include boxShadow(0 15px 36px -3px rgba(0,0,0,0.5));overflow: hidden; @include boxSizing(border-box);
            figure{
                img{@include transform(scale(1.05));}
            }
            .desc{
                .link-read-more{background: #f58220; color: #fff;}
            }
        }
    }
}

.paging{
    display: block;
    &:after{content: " ";clear: both; display: block;}
    a{
        display: inline-block; height: 20px; vertical-align: top; color: #48535b; font-size: 13px; margin: 0 10px;
        &:hover, &.active{font-weight: 700; color: #0d2d4f;}
        &.disabled{opacity: 0.2;}
    }
}

.wrapper-content{
    width: 970px; display: block; margin: 0 auto; max-width: 100%;
    &:after{content: " ";clear: both;display: block;}
}

.box-title-top-page{
    display: block; margin-bottom: 42px; font-size: 16px; color: #48535b;line-height: 40px;
    &:after{content: " ";clear: both; display: block;}
    label{height: 40px; padding: 0 22px; background: #0d2d4f; color: #fff; font-weight: 700; text-transform: uppercase; vertical-align: top; display: inline-block; line-height: 40px; font-size: 12px;}
}

.gn-content{
    font-size: 16px; color: #333333; line-height: 26px;
    h2{font-size: 36px; font-weight: 700; color: #2e76a2; line-height: 50px;}
    h3{margin-bottom: 50px; font-size: 24px; line-height: 34px;}
    p{line-height: 26px; margin-bottom: 25px;}
    figure{margin-bottom: 40px;}
    .title-shadow{padding-bottom: 45px; margin-bottom: 50px; @include boxShadow(0 28px 25px -32px rgba(0,0,0,0.2));}
    ul,ol{
        margin:0 0 40px;
        li{
            padding:0 0 0 20px;font-size: 16px;line-height: 26px;font-weight: 300;position:relative;
            &:before{
                content:"";position:absolute;width:6px;height:6px;background: #999;@include borderRadius(100%);
                position: absolute;top:12px;left:0;
            }
        }
    }
    ol li{
        /*list-style:decimal inside;padding:0;*/
        counter-increment: step-counter;padding:0 0px 0 30px;
        &:before{
            content: counter(step-counter) ".";background: none;color:#666;top:0;
        }
    }
}

.box-share-content{
    font-size: 16px; color: #333333; font-weight: 700;
    label{vertical-align: top; padding: 0 25px; margin-right: 10px; text-transform: uppercase;}
    a{
        vertical-align: top; margin-right: 10px;
        &:last-child{margin-right: 0;}
    }
}

.title-blue{font-size: 26px; color: #2e76a2; font-weight: 700; margin-bottom: 65px;}
.box-list-more-news{padding: 50px 0 0;}
.box-milestone{
    display: block;
    &:after{content: " ";clear: both; display: block;}
    .btn-milestone{
        width: 175px; display: block; position: relative; text-align: right;  @include boxSizing(border-box);float:left;
        &:after{content: ""; position: absolute; top: 0; bottom: 0; right: auto; left: 200px; width: 2px; background: #2e76a2;}
        .list-milestone{
            @include boxSizing(border-box);
            > a{
                font-size: 20px; color: #2e76a2; display: block; padding: 30px 0; position: relative;@include transition(0.3s font-size);
                &:after{content: "";position: absolute; bottom: 0; right: 0; height: 1px; background: #2e76a2; width: 0; @include transition(0.3s width);}
                &:hover{
                    &:after{width: 100%;}
                }
            }
            .box-desc-milestone{position: absolute; top: 0; left: 200px; margin-left: 70px; width: 700px; text-align: left; display: none !important;}
            &.active{
                a{font-size: 60px; font-weight: 700;}
                .box-desc-milestone{display: block;}
            }
        }
        .slick-prev, .slick-next{
            background: url('../images/material/arrow_slidemilestone.png') no-repeat; border: none; width: 16px; height: 9px; left: 193px; right: auto; position: absolute;
            @include transition(0.2s all); cursor: pointer;
        }
        .slick-prev{
            background-position: top center; top: -20px; bottom: auto;
            &:hover{top: -22px;}
        }
        .slick-next{
            background-position: bottom center; bottom: -20px; top: auto;
            &:hover{bottom: -22px;}
        }
    }
    .desc-milestone-content{
        float:right;width:700px;position: relative;
    }
}

.box-accordion{
    display: block; margin-bottom: 75px;
    .list-accordion{
        border-bottom: 1px solid #2e76a2;
        .btn-acc{
            padding: 30px 50px 30px 30px; display: block; font-weight: 700; font-size: 18px; color: #2e76a2; position: relative; cursor: pointer;
            @include transition(0.2s all); 
            .arrow-acc{
                width: 16px; height: 9px; background: url('../images/material/arrow_accordion.png') no-repeat top center; position: absolute; top: 50%; right: 28px; @include transform(translateY(-50%));
                @include transition(0.2s rotate); @include transformOrigin(50% 0);
            }
        }
        .box-acc{display: none; padding: 30px; font-size: 14px; line-height: 26px; color: #48535b;}
        &.active{
            .btn-acc{
                background: #2e76a2; color: #fff;
                .arrow-acc{background-position: bottom center; @include transform(rotate(90deg) translateY(-50%));}
            }
            .box-acc{display: block;}
        }
        &:hover{
            .btn-acc{
                background: #2e76a2; color: #fff;
                .arrow-acc{background-position: bottom center; @include transform(rotate(90deg) translateY(-50%));}
            }
        }
    }
}

.sel_glossary{
    margin-bottom: 40px;
    select{width: 100%; height: 70px; @include borderRadius(10px); border: 1px solid #cccccc; font-size: 20px; color: #cdcecb;font-style: italic;}
}

.box-slide-sorting{
    padding: 0 37px; margin-bottom: 32px;
    .slide-sorting{
        .slick-prev, .slick-next{
            background: #cccccc ; border: none; width: 37px; height: 60px; position: absolute; top: 0;cursor: pointer;
            &.active, &:hover{background: #f58220;}
        }
        .slick-prev{background: #cccccc; @include borderRadius(10px 0 0 10px); left: -37px; right: auto;}
        .slick-next{background: #cccccc; @include borderRadius(0 10px 10px 0); right: -37px; left: auto;}

        .slick-slide{
            height: 60px; text-align: center; line-height: 60px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; @include boxSizing(border-box);
            font-size: 18px; color: #0d2d4f; cursor: pointer;
            a{color: #0d2d4f;}
            &.current-active{background: #2e76a2; font-weight: 700; color: #fff;
                             a{color: #fff;}
            }
            &:hover{
                background: #2e76a2; font-weight: 700; color: #fff;
                a{color: #fff;}
            }
        }
    }
}

.box-video{
    position: relative; margin-bottom: 40px;overflow:hidden;
    .thumb{
        position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 2;
        img{position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%)); min-width: 100%; height: auto; max-width: none;}
    }
    .caption{
        position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%)); text-align: center; color: #fff; z-index: 5;
        h3{font-weight: 700; font-size: 45px; margin-bottom: 20px;}
        p{font-size: 16px; margin-bottom: 20px;}
        a.play{
            display: inline-block; width: 120px; height: 120px; background: url(../images/material/play-ico.png) no-repeat; text-indent: -9999px;
            &:hover{opacity: 0.7;}
        }
    }
    .vids{
        iframe{width: 100%; height: 520px;}
    }
}

.box-help-contact{
    margin-bottom: 50px; display: block;
    &:after{content: " ";clear: both;display: block;}
    h4{font-size: 24px; color: #0d2d4f; font-weight: 700;}
    h5{font-size: 16px; color: #48535b; font-weight: 700;}
    p{font-size: 16px; line-height: 26px; color: #48535b;}
    .left, .right{width: 48%;}
    .box-form{margin: 0;}
    .btn-oval{min-width: 130px;}
}

.wrap-scroll{
    max-height: 505px; overflow: auto;
    .mCSB_draggerRail{width:20px;}
}