/*============================================================================================= 
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/
@import "sass-lib.scss";
@media (min-width: 0px) and (max-width:1200px){
    .wrapper{width: 100%; padding: 0 50px; @include boxSizing(border-box);}
    .btn-border{font-size: 12px; padding: 0 21px;}
    header{
        ul{
            li{
                padding-bottom: 23px;
                &.search-header, &.homelink{display: none;}
            }
            .child-menu{
                &.form-child-menu{
                    right: -274px; left: auto;
                    &:before{left: 197px;}
                    h3{font-size:21px;}
                    table{
                        width:100%;
                        td,th{padding:10px;font-size:12px;}
                    }
                }
            }
            .box-login-form{
                min-height: 73vh;width:376px;
                a{padding:0;font-size:12px;}
                .row.box-checklogin{font-size: 12px;}
                h3{font-size: 21px;margin-bottom: 20px;}
                p{font-size: 12px;line-height: 18px;margin-bottom: 30px;}
                input[type=text],input[type=password]{font-size:12px;}
                .submit-login{
                    span{font-size: 12px;margin:0 20px;float:left;}
                    .btn-oval{
                        width:119px;height:35px;line-height: 30px;font-size:12px;min-width: 0;float:left;
                    }
                }
            }
        }
    }
    .banner-float{
        .left{
            .caption{
                width: 460px; margin: auto 0 auto 40px;
                h2{font-size: 36px;}
                p{font-size: 12px; line-height: 18px; margin-bottom: 30px;}
            }
            .slick-dots{
                li{padding: 0 4px;}
            }
        }
        .right{
            width: 37%;
            .find-product{
                h2{font-size: 21px;}
                select, input[type=text]{font-size: 12px;}
                .row{
                    .col{width: 44%;}
                }
            }
            .content-tab{
                padding-left: 27px; padding-right: 27px;
                h4{font-size:21px;margin:30px 0 20px}
            }
            table{
                thead th{padding:0 10px;font-size:12px;}
                tbody td{padding:15px 10px;font-size:12px;}
            }
            .mCSB_container{margin-right:0;}
            .mCSB_scrollTools .mCSB_draggerContainer{display: none;}
        }
    }
    .h-step{
        .wrapper{
            padding: 0 42px;
        }
        .box{
            width: 31.334%; margin-right: 3%;
            .ico{width: 20%;}
            .text{width: 72%;}
            &:nth-child(1){
                &:after{right: -10px;}
            }
            &:nth-child(2){
                &:after{right: -45px;}
            }
        }
    }

    .h-product{
        padding-top: 48px;
        .filter{
            margin-bottom: 70px;
            .col{
                width: 245px;
                &:last-child{width: 113px;}
            }
        }
        .category-prod{
            margin: 35px 0 25px;
            a{font-size: 14px;}
        }
        .list-product{
            margin: 30px 0 20px; width: 100%;
            .box{
                width: 23.567%; margin-right: 1.525%; height: 336px; margin-bottom: 20px; 
                .name p{font-size:10px;}
                .desc{

                    padding: 14px 15px;
                    .ico{margin-right: 0;}
                    .text{
                        h5{font-size: 14px; line-height: 18px;}
                    }
                }
                .float-3 div{width:32%;}
                .btn{
                    &:after{content: ""; clear: both; display: block;}
                    a{
                        width: 49%;
                        &:last-child{width: 50%;}
                    }
                }
            }
            .slider-product{
                .box{width:90%;height:339px;}
            }
        }
        .a-center{margin-bottom: 40px;}
    }

    .h-compare{
        width: 91.78%;
        select{font-size: 12px;}
    }
    .h-how{
        .left{
            height: 380px;
            .caption{
                h3{font-size: 36px; margin-bottom: 15px;}
                p{font-size: 14px;}
                a{width: 66px; height: 66px; background-size: 100%;}
            }
        }
        .right{
            h4{font-size: 21px;}
            input[type=text], input[type=email], textarea{font-size: 12px; color: #fff;}
            textarea{height: 80px;}
        }
    }
    .h-news{
        .list-news{
            .box{
                width: 30%; margin-right: 4.67%;
                .image{
                    height: auto;
                    span{bottom: 2px;}
                }
            }
        }
    }

    .banner{
        > img{height: 380px; max-width: none;}
        .caption{
            width: 780px; height: 135px; bottom: 60px;
            h1{font-size: 36px; line-height: 40px; margin-bottom: 10px;}
            &.center{
                height:200px;
                h6{margin-bottom: 10px;}
                figure{width:40px;width:72px;height: 72px;margin:0 auto 15px}
                h2{font-size: 21px;margin:0 0 10px 0}
            }
        }
    }


    .std-content{
        .wrapper{width: 940px;}
        .opt input[type=checkbox]{top:3px;}
        .nav-produk{
            .right{
                a{
                    margin: 0 8px; font-size: 14px;
                    span{margin-right: 10px;}
                }
            }
        }
        table{
            &.product{
                thead{
                    th{font-size: 11px;min-width: 30px;}
                }
                tbody{
                    td{font-size: 11px;}
                }
            }
        }
        .product-compare{
            .filter_top{
                font-size: 11px;
                h6{font-size: 11px;}
                .list_filt{
                    label{width: 60px; padding: 0 10px;}
                    input[type=text]{font-size: 11px; width: 90px;}
                }
            }
            .nav-produk{
                .left{
                    p{width:40px;font-size:14px;height: 20px;overflow: hidden;margin:0}
                    .btn-nav{font-size:14px;}
                }
                .right a{font-size:14px;}
            }
            .wrap-chart .chart{min-width: 100% !important;}
        }

    }


    .box-milestone {
        .btn-milestone .list-milestone.active a {
            font-size: 48px;
        }
        .desc-milestone-content{width: 70%;}
    }

    .box-form{
        width:700px;
        .row{
            display:table;width:100%;vertical-align:middle;
            > .left{width:130px;}
            > .right{width:541px;}
        }
        label{font-size:14px;line-height: 20px;height:40px;vertical-align: middle;display: table-cell;width:130px;}
        input[type=text],input[type=email],input[type=password],textarea,select{
            height: 40px;
        }
        textarea{height: 100px;}
        label.radio-btn{
            height:40px;width:auto;line-height:18px;
            input[type=radio]{top:10px}
        }
        label.checkbox-agreement{width:auto;}
        .date input{background-position: 103% center;}
        .col-2{
            .col{width:48%;margin-right: 4%;
                 &:nth-child(2n){margin-right:0}
                 .left:nth-child(1){width: 75px}
            }
        }
        .right.col-2{
            label{width:95px}
            .col:last-child{width:295px;margin-left: 40px;
                            .left{width:95px;}
            }
        }
        label.checkbox-agreement input[type=checkbox] {margin: 2px 10px 0 0 !important;} 
        &.pertanyaan{
            .right{
                label{width:auto;height: auto;padding-top: 10px}

                div{margin-bottom: 10px;
                    &:first-child{margin-bottom: 10px;
                                  label.radio-btn{

                                      input[type=radio]{
                                          top:10px;
                                      }
                                  }
                    }
                }
                label.radio-btn{
                    line-height: 18px;display: table-cell;height:auto;margin-bottom: 10px;
                    input[type=radio]{top:9px}
                }
            }
        }
        p{font-size: 14px;
          span{display:block}
        }
        h5 {font-size: 16px;
        }
        &.pertanyaan-step-5{
            p{padding-top: 7px}
            .right{
                > div:last-child{
                    .col{width:20%;
                         label{width: auto;}
                         &:nth-child(2){width:74% !important;}
                    }
                }
                > .row:nth-child(2),.row:nth-child(3){
                    .col{width:3%;
                         label{width: auto;}
                         &:nth-child(2){width:91% !important;}
                    }
                }
                > .row.col-2{
                    .col{width:46% !important;
                         &:nth-child(2){width:46% !important;}
                         .left{width: 100% ;}
                    }
                }

            }
        } 
    }

    .maps{
        margin:0 -60px;
        iframe{height: 325px;}
    }
    .myaccount{
        .nav-tab-general .list-tab{
            margin-right: 25px;
            a{font-size: 14px;}
        }
        .title-bg {
            padding: 11px 20px;
            .left .icwp{width:24px;height:21px;background-size: 100%;}
            h3{font-size: 18px;}
        }
        .title-content h3{font-size:21px;}
        .box-list-data .list-data{
            .box-title-list figure{
                min-height: 80px;max-height: 80px;
                img{max-height:80px;}
            }
            &.list_3{
                width:260px;margin-right: 20px;
                .list label,p{font-size: 12px;}

                .row .list {                
                    padding: 10px 10px;height:75px;
                    label{margin-bottom: 5px;}
                    strong{font-size:12px;}
                }
            }
            .desc-list .row.btn-bottom-list{ 
                .list{height: 50px;}
                .btn_list{
                    padding: 20px 10px;font-size:12px;   
                }
            }
        }
    }

    .wrap-popup{
        width: 940px;
        &.product-detail{
            .nav-tab{
                .right{display: none;}
            }
            .info-prod{
                .col-2{
                    .left{width: 29%;}
                    .right{width: 68%;}
                }
                .right{
                    p{margin-bottom: 20px;}
                }
            }
            .col-3, .col-4{
                p{line-height: 18px;}
            }
            .bottom{
                .left, .right{width: 100%;}
                .left{margin-bottom: 35px;}
                .right{
                    a{
                        &:first-child{margin-left: 0;}
                    }
                }
            }
            .list-product{
                .box{margin-right: 30px;
                     &:nth-child(4n){margin-right: 30px;}
                     &:nth-child(3n){margin-right: 0px;}
                }
            }
            .sec_perform .filter_top {
                h6{float:none;text-align: center;padding: 0;}
                .left,.right{display: block;float:none;}
                .list_filt {
                    border:1px solid #CCC;margin-bottom: -1px;border-left: none;border-right:none;width:50%;
                    *{@include boxSizing(border-box);}
                    label{width:15%;text-align: center;padding:0;}
                    select.month,select.year{width:42.5%;padding:0 35px 0 10px}
                    &:nth-child(2){
                        select.year{border-right: 0;}
                    }
                } 
                .submit{clear: both;width: 100%;
                        input{width:100%;@include borderRadius(0px 0px 3px 3px);}
                }
            }

        }
    }

    footer{
        &:after{width: 50%;}
        .wrapper{height: auto;}
        .left{
            width: 50%;
            .col{
                width: 46%; margin-bottom: 45px; margin-right: 8%;
                &:nth-child(2n){margin-right: 0;}
                /*&:nth-child(2n+1){clear: both;}*/
            }
        }
        .right{
            padding: 128px 0 65px 68px; width: 50%; @include boxSizing(border-box);
            p{
                font-size: 14px;
                &:last-child{line-height: 24px;}
            }
            input[type=text]{width: 60%;}
            input[type=submit]{width: 40%;}
        }
    }
}

@media (min-width: 0px) and (max-width:970px){
    .wrapper{padding:0 22px;}
    .btn-oval,
    .btn-std{
        height:35px;font-size:13px;padding: 0 20px;line-height: 31px ;
        &.btn-blue{line-height: 31px;}
    }
    .btn-oval.btn-orange {line-height: 32px;}
    header{
        height:65px;
        .toggle-menu{display: block;}

        ul{margin: 19px 0 0 0;
           .cart{margin:10px 0 -10px;}
           li {padding-bottom: 22px;}
        }
        .wrapper ul{
            li:nth-child(1),
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5){display: none}
        }
        .mobile-menu{
            position: absolute;width:100%;height:95px;background: #0d2d4f;top:100%;left:0;@include boxSizing(border-box);display:none;
            a{color:#FFF;}
            ul{float:none;display: block;margin:35px 0 0 ;text-align: center;
               a.active{color:#f58220}
               a.active:hover{color:#f58220;}
            }
            .homelink{display: inline-block}
            a.home{background: url(../images/material/home-ico-2.png);margin:0 0 -5px 0}
            .child-menu{ 
                top:30px;width:175px;left:-68px;
                &:before{border-bottom-color: #0b2644}
                a{background: #0b2644;font-size:13px;}
            }

            li{float:none;display: inline-block;text-align: center;padding-bottom: 0;
               &.have-child:hover .child-menu{
                   top:55px;
               }
            }

            li:nth-child(6),
                li:nth-child(7),
                li:nth-child(8),
                li:nth-child(9),
                li:nth-child(10),
                li:nth-child(11){display: none}
        }
        .logo{width:125px;}
        ul .box-login-form{
            min-height: 470px;width:348px;
            input[type=text],
            input[type=password]{height:40px;}
            .submit-login {
                .btn-oval{width:110px;font-size:11px;}               
                span{margin:0 15px;}

            }
        }
    }

    .banner-float{
        .left{float:none;display: block;width:100% !important;height:355px;min-height:0;
              img{max-width: 100%;}
              .slick-list,.slick-slide{max-height: 355px;}
              .caption{
                  width:485px;height:150px;
                  h2{font-size: 36px;margin:0 0 10px}
              }
        }
        .right{
            position:relative;height:auto;min-height: 0;width:100%;left:0;right:0;
        }
    }
    .h-step{
        height:110px;
        .wrapper{padding:0px 22px;}
        .box{
            .ico{width:30px;height:30px;margin:0 10px 0 0;}
            .text{
                h6{font-size:12px;margin:0 0 5px;}
                p{font-size:10px;line-height: 14px;}
            }
            &:nth-child(1):after,
                &:nth-child(2):after{
                height:110px;top:-25px;background-size: auto 100% !important;right:0;background-position: right center;
            }
            &:nth-child(2):after{right:-20px}
        }
    }
    .h-product{
        .filter{
            .btn-std{height: 40px;}
            .col{
                width:185px;
                select{height:40px;font-size: 12px;}
            }
        }
        h2{font-size:30px;}
        p{font-size: 13px;}
        .category-prod{
            a{font-size: 12px;}
        }
        .list-product{
            .box{width: 31.6%;margin-right: 2%;
                 &:nth-child(4n){margin-right: 2%;}
                 &:nth-child(3n){margin-right: 0;}
                 &:nth-child(7),&:nth-child(8){display: none;}
            }
        }
    }
    .h-compare{
        .wrapper{padding:0 30px}
        h2 {font-size: 18px;
            &:before{width:30px;height: 30px;}
        }
        select{height: 35px;padding: 0 0 0 15px;}
        .select2-container--default .select2-selection--single{height: 35px;padding-left: 15px;}
        .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 35px;font-size:13px;}

        .top select{height: 35px;}
    }
    .h-how{
        .right,
        .left{width:100%;position: relative;float:none;display: block;}
        .right{padding:40px 45px;}
    }
    .h-news{
        h3{
            font-size:18px;line-height:30px;
            &:before{width:30px;height: 30px;background-size: 100%;}
        }
        .list-news .box{
            width: 31.7%;margin-right: 2%;height:290px;
            .text{ 
                small{font-size:11px;margin:20px 0 10px;}
                h6 {font-size: 12px;line-height: 18px;}
                a {height: 40px;line-height: 40px;}

            }
        }
    }
    .banner{
        .caption{
            width:auto;margin:auto 65px;
            h1{font-size: 30px;line-height: 36px;}
            p {font-size: 13px;}
        }
    }
    .std-content{
        .wrapper{
            padding:30px 40px ;margin:0 20px;width:auto;
        }
        h2{line-height: 32px;}
        .nav-produk {
            .left .btn_nav{background-size: 17px;;font-size:13px;padding:0 0 0 25px;}
            .right a{font-size:13px;
                     span{width:18px;height:18px;background-size: 200% auto !important;margin:3px 5px 0 0;}
            }
            &.no-border{
                .left{display: none;}
            }
        }
        .category{
            .btn-std{height:35px;line-height: 35px;font-size:13px;padding:0 20px;}
            .right{
                width: auto;
                input[type=text]{height:35px;font-size:13px;}
            }
        }
        table{
            &.product-list-table{
                th:nth-child(6),
                    td:nth-child(6),
                    th:nth-child(7),
                    td:nth-child(7),
                    th:nth-child(13),
                    td:nth-child(13),
                    th:nth-child(14),
                    td:nth-child(14){display: none ;}
            }
        }
        .product-compare{
            .compare-form{
                select{height: 35px;}
                .select2-container--default .select2-selection--single{height: 35px;padding-left: 15px;}
                .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 35px;font-size:13px;}

            }
            .nav-tab a{margin-right: 10%;}
            .filter_top{
                .right{
                    label:nth-child(4),
                        label:nth-child(9){display: none;}
                    label:nth-child(8){border-right:1px solid #CCC;}

                    .list_filt{
                        label {width: auto;padding: 0 5px;}
                        input[type=text]{width:36px;}
                    }
                }
                .submit input[type=submit] {width: 55px;}
            }
            .ringkasan-perbandingan .box {
                width: 31.6%;margin-right: 2%;
                > div:nth-child(7){
                    text-align:center;
                    .after_clear{padding:5px 0;border-bottom:1px dotted #CCC;
                                 &:last-child{border:none;}
                    }
                    .left,.right{width:auto;float:none;display: block;
                                 p{padding:0;}
                    }
                }                          
                .col-2 a.btn-donwload{
                    padding:10px 5px;font-size:11px;
                    &:before{display: none;}
                }
            }
        }
        .step-oa{
            .box{
                width:10% !important;;
                span:nth-child(1){left:23px}
                span:nth-child(2){display: none}
                &.active{width:40%  !important;
                         span:nth-child(1){left:15px}
                         span:nth-child(2){display: table-cell}
                }
            }
            &.type-syariah{
                .box{
                    width:10% !important;;
                    span:nth-child(1){left:23px}
                    span:nth-child(2){display: none}
                    &.active{width:50%  !important;
                             span:nth-child(1){left:15px}
                             span:nth-child(2){display: table-cell}
                    }

                }
            }

        }
    }
    .h-product .category-prod a{margin: 0 16px}
    .box-milestone {
        margin:60px 0;
        .btn-milestone{
            width:15.625%;
            .list-milestone.active a {
                font-size: 36px;
            }
            &:after{left:118px}
            .slick-next ,
            .slick-prev{left:111px}

        }
        .desc-milestone-content{
            width: 77.6%;
            h3{font-size: 18px;line-height: 28px;margin-bottom: 20px}
            figure{margin-bottom: 20px}
        }
    }


    .btn-oval{
        height:35px;line-height: 32px;
        &.btn-trans-orange{line-height: 32px;}

    }
    .myaccount{
        select{min-width:225px;height:35px;font-size:12px}
        .nav-tab-general {
            .list-tab{
                margin:0 25px 0 0;
                a{font-size:13px;letter-spacing: 0;margin-right: 0}
            }
        }
        .title-content{
            margin:40px 0 30px;
            .icwp{width: 22px;height:22px;background-size: 100% auto !important;}
            h3{font-size:16px;}
            .btn-oval{margin:-20px 0 -2px 0;
                      .icwp{background-size: auto !important;}
            }
        }
        .title-bg{
            h3{font-size: 15px;}
        }
        .box-list-data .list-data{

            .box-title-list .left img {
                max-width: 60%;
            }
            &.list_3 {
                width: 202px;
                &.type-2{width:238px;
                         .list{height:auto;}
                         b{font-size:13px;}
                }
                .chart-btn{right:5px;top:10px;@include transform(scale(0.8))}

            }
            &.list_6{width:390px;}
            .desc-list .row.btn-bottom-list .btn_list {padding: 20px 5px;}

        }
        table.table-radius{
            font-size:12px;
            &.acc-tbl-rd{
                td:nth-child(2),
                    th:nth-child(2),
                    td:nth-child(4),
                    th:nth-child(4),
                    td:nth-child(5),
                    th:nth-child(5),
                    td:nth-child(6),
                    th:nth-child(6)
                    {display: none}
            }
        }
        .box-data-diri {font-size: 12px;

                        strong{font-size:15px;line-height: 21px;}
        }
    }

    .shadow-spar{max-width: 100%;}

    .wrap-popup{
        width:auto;margin:5% 22px;
        &.product-detail{
            .title-content{
                h3 {font-size: 21px;}
                .logo-prod {
                    .text{padding:0;}
                    .ico img{max-height: 40px;}
                }
            }
            .bottom .left {
                h6 {font-size: 16px;color: #2e76a2;}                
                label {font-size: 13px;}
            }
            .col-4{
                .box{width: 50%;border-bottom: 1px solid #CCC;margin:0 0 -1px}
            }
            .col-4,
            .col-3{
                h6{font-size:16px;}

            }
            .box-blue{
                h5{font-size:12px;padding:0 15px}
                table tr td {font-size: 12px;
                             &:nth-child(1) {padding: 0 0 0 10px;width: 65px;}
                } 
            }
            .info-prod {
                .col-2 .right {
                    width: 65%;
                    h4{font-size:14px}
                    p{font-size:13px;}                      
                }
                .nav-tab a {font-size:14px;}

            }
            .list-product .box {
                width: 31.6%;margin-right: 2%;height:auto;
                &:nth-child(4n){margin-right: 2%;}
                &:nth-child(3n){margin-right: 0%;}
                .desc{
                    text-align:center;height:auto;
                    .ico,img{max-height: 40px;}
                    .ico{width:100%;margin:0 0 5px }
                    .text {
                        width:auto;
                        h5 {font-size:14px;width:auto;}

                    }
                    &:after{content:"";clear: both;display: block;}
                }
                .float-3 div {width: 73px;}
                .btn a{width:49% !important;font-size:12px;}
                &:nth-child(7),
                    &:nth-child(8){display: none}
            }

            &.pengalihan{
                width: auto;
            }

        }

    }


    .box-sorting{
        label{font-size:13px;}
        select{font-size: 13px;height:35px;padding:0 45px 0 15px;}
    }
    .box-list-news .list-news{
        width: 31.7%;margin-right: 2%;height:290px;
        figure{
            margin:0;max-height:115px;overflow:hidden;
            .caps{font-size: 11px;padding: 10px;}
        }
        .desc{ 
            padding:5px 15px 45px;
            span{font-size:11px;margin:20px 0 10px;}
            h5 {font-size: 12px;line-height: 18px;}
            span.link-read-more {height: 40px;line-height: 40px;}

        }

    }
    .box-title-top-page{font-size:14px;}
    .gn-content p{font-size:14px;line-height: 21px;}
    .gn-content{
        ul,ol{
            margin:0 0 40px;
            li{
                padding:0 0 0 20px;font-size: 14px;line-height: 21px;font-weight: 300;position:relative;
                &:before{
                    content:"";position:absolute;width:6px;height:6px;background: #999;@include borderRadius(100%);
                    position: absolute;top:10px;left:0;
                }
            }
        }
    }
    .box-accordion .list-accordion .btn-acc{padding:20px 50px 20px 20px;font-size:16px;}
    .box-video {
        .thumb img{width:100%;}
        .vids iframe{height: 250px;}
        .caption {
            h3 {font-size: 30px;margin-bottom: 10px;}
            p {font-size: 13px;margin-bottom: 15px;}
            a.play{width: 80px;height:80px;background-size: 100% auto}
        }
    }

    .maps{
        margin:0 -40px;
        iframe{height: 325px;}
    }

    .box-form{
        &.login{
            width:555px;
            .row > .right{width:345px;}
            input[type=text],
            input[type=password]{width: 100%;}
        }
        input[type=text],input[type=email],input[type=password],textarea,select{
            font-size:13px;padding:0 15px;
        }
        textarea{padding: 10px 15px}
        label{font-size:13px;}
        .w-370{width: auto !important;}
        .row{
            > .left{width:185px;
                    label{width:185px;}
            }
            > .right{width:435px;}
        }
        .col-2 .col {
            .left:nth-child(1) {width: 65px;}
            .left:nth-child(2) {width: 140px;}
        }
        .right.col-2 {
            label{width:70px}
            .w-170{width:170px !important;;}
            .col:last-child{
                margin-left:10px;width:235px;
                .left{width: 65px;}
                .w-200{width:170px !important;;}
            }
        }
        &.pertanyaan{
            .col-4{
                .col{padding-right: 10px;}
            }
        }

    }

    footer{
        height:65px;
        nav{display: none;}
        .right{
            width: 66%;padding:0 0 0 20px;height:65px;text-align:center;@include boxSizing(border-box);
            p:nth-child(2),
                .subscribe,
                h6{display: none}
            p{font-size:11px;margin:20px 0 0 ;}
        }
        .logo-wrap{width:100%;}
        .left{width:34%;
              .logo{width:130px;margin:14px 0 0 0 }
              .logo-ojk{width:70px;margin:20px 0 0 25px ;}
        }
    }
}