/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/
/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : FrontEnd Team  
==============================================================================================*/
/* import bourbon - http://bourbon.io/docs */
@media (min-width: 0px) and (max-width: 1600px) {
  .btn-std {
    height: 40px; }

  .wrapper {
    width: 1070px; }

  header {
    height: 75px; }
    header .logo {
      width: 180px; }
    header ul {
      margin: 27px 0 0 0; }
      header ul li {
        margin: 0 0 0 30px;
        padding-bottom: 24px; }
        header ul li a {
          font-size: 12px; }
      header ul .child-menu {
        left: -120px;
        top: 69%; }
        header ul .child-menu a {
          padding: 15px;
          font-size: 14px; }
        header ul .child-menu.form-child-menu h3 {
          font-size: 24px; }
        header ul .child-menu.form-child-menu table thead tr td, header ul .child-menu.form-child-menu table thead tr th {
          padding: 13px 10px;
          font-size: 13px; }
      header ul .box-login-form {
        width: 450px; }
        header ul .box-login-form .inner-login {
          width: 100%;
          padding: 35px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }

  .banner-float .right {
    width: 34%; }
    .banner-float .right .content-tab {
      padding: 30px 35px 40px 35px; }
    .banner-float .right .find-product .row .col {
      width: 186.7px; }
    .banner-float .right .wrap-scroll {
      margin: 0 -30px 0 0;
      max-height: 430px; }
    .banner-float .right table tbody td {
      padding: 20px 15px 10px; }
  .banner-float .left {
    min-height: 600px; }
    .banner-float .left img {
      max-height: 600px;
      max-width: none; }
    .banner-float .left .caption h2 {
      font-size: 38px;
      margin: 0 0 20px 0; }
    .banner-float .left .caption p {
      margin-bottom: 20px; }

  .h-step .box {
    width: 303px;
    margin: 30px 80px 0 0; }
    .h-step .box .ico {
      width: 60px;
      height: 60px;
      margin: 0 20px 0 0; }
    .h-step .box .text {
      width: 223px; }
      .h-step .box .text h6 {
        font-size: 16px; }
      .h-step .box .text p {
        font-size: 13px;
        line-height: 16px; }
    .h-step .box:nth-child(1):after, .h-step .box:nth-child(2):after {
      top: -15px;
      right: -60px; }

  .h-product .filter .col {
    width: 285px;
    margin: 0 15px 0 0; }
    .h-product .filter .col select {
      height: 50px;
      padding: 0 30px 0 15px;
      font-size: 14px; }
  .h-product .filter .btn-std {
    height: 50px; }
  .h-product h2 {
    font-size: 38px;
    margin: 0 0 20px 0; }
  .h-product .list-product .box {
    width: 249px;
    margin: 0 15px 15px 0;
    height: 346px; }
    .h-product .list-product .box .float-3 div {
      width: 33%; }
    .h-product .list-product .box .desc .text h5 {
      min-height: 40px; }
    .h-product .list-product .box .btn a {
      height: 40px;
      width: 114px; }

  .h-compare h2 {
    font-size: 28px; }
  .h-compare select {
    height: 50px;
    padding: 0 0 0 20px;
    font-size: 14px; }

  .h-news h3 {
    font-size: 23px; }
  .h-news .list-news .box {
    width: 334px;
    margin-right: 30px;
    height: 380px; }
    .h-news .list-news .box .image {
      height: 186px; }
    .h-news .list-news .box .text h6 {
      font-size: 14px;
      line-height: 21px; }

  .banner .caption {
    height: 200px; }
    .banner .caption h1 {
      font-size: 47px;
      font-weight: 700;
      line-height: 50px; }
    .banner .caption p {
      font-size: 14px; }

  .std-content {
    /*.wrapper{top:0;}*/ }

  .wrap-popup {
    width: 1070px; }
    .wrap-popup.product-detail .nav-tab a {
      margin: 0 50px 0 0;
      font-size: 14px; }
    .wrap-popup.product-detail .inner {
      padding: 45px 0px 0; }
      .wrap-popup.product-detail .inner .box-blue {
        width: 49%;
        margin: 0 2% 40px 0; }
        .wrap-popup.product-detail .inner .box-blue:nth-child(2n) {
          margin-right: 0; }
    .wrap-popup.product-detail .title-content h3 {
      font-size: 26px; }
    .wrap-popup.product-detail .info-prod .col-2 .left {
      width: 240px; }
    .wrap-popup.product-detail .info-prod .col-2 .right {
      width: 720px; }
      .wrap-popup.product-detail .info-prod .col-2 .right h4 {
        font-size: 18px; }
      .wrap-popup.product-detail .info-prod .col-2 .right p {
        font-size: 14px;
        line-height: 21px; }
    .wrap-popup.product-detail .info-prod .nav-tab a {
      padding: 15px 20px;
      font-size: 16px;
      line-height: 21px; }
      .wrap-popup.product-detail .info-prod .nav-tab a small {
        font-size: 12px; }
    .wrap-popup.product-detail .general-info > .col-2 > .box {
      width: 48%; }
      .wrap-popup.product-detail .general-info > .col-2 > .box:nth-child(2) {
        margin-left: 4%; }
      .wrap-popup.product-detail .general-info > .col-2 > .box h3 {
        font-size: 18px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box .code_mi {
        font-size: 13px;
        top: 23px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box p {
        font-size: 13px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box table tbody td {
        font-size: 13px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box table thead th {
        font-size: 14px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box label {
        font-size: 13px;
        margin: 0 0 5px 0; }
      .wrap-popup.product-detail .general-info > .col-2 > .box h6 {
        font-size: 13px; }
    .wrap-popup.product-detail .sec_perform {
      width: 100%; }

  footer .wrapper {
    height: 310px; }
  footer .left {
    width: auto; }
    footer .left .col {
      width: auto;
      margin: 0 40px 0 0; }
      footer .left .col a {
        font-size: 13px;
        margin: 0 0 10px 0; }
  footer .right {
    position: relative;
    width: 340px;
    padding: 52px 0 0 36px; }
    footer .right p {
      font-size: 13px;
      line-height: 18px; }
    footer .right input[type=text] {
      width: 205px;
      height: 45px; }
    footer .right input[type=submit] {
      width: 135px;
      height: 45px; } }
@media (min-width: 0px) and (max-width: 1400px) {
  .banner-float .right .find-product .row .col {
    width: 132px; }
  .banner-float .right .wrap-scroll {
    margin: 0; }

  .h-compare {
    width: 1170px;
    padding: 45px 0;
    margin-bottom: 80px; }
    .h-compare h2 {
      font-size: 24px;
      line-height: 34px; }
      .h-compare h2:before {
        background-size: 100%;
        width: 40px;
        height: 40px; }
    .h-compare .top {
      text-align: right; }
      .h-compare .top label {
        font-size: 14px; }
    .h-compare .wrapper {
      width: 100%;
      padding: 0 60px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .h-compare .col-3 div {
      width: 31%;
      margin-right: 3.5%; }

  .h-how .left {
    height: 470px; }
  .h-how .right {
    padding: 37px 3%; }

  .h-news {
    padding-top: 80px;
    padding-bottom: 100px; }
    .h-news h3 {
      margin-bottom: 40px; }

  .std-content h2 {
    font-size: 21px;
    line-height: 36px; }
  .std-content .wrapper {
    padding-left: 60px;
    padding-right: 60px;
    width: 1170px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: -75px; }
  .std-content .nav-produk .left {
    margin-top: 3px; }
  .std-content .product-compare .compare-form select {
    height: 50px;
    font-size: 12px;
    padding-left: 15px; }
  .std-content .product-compare .compare-form .col-3 div {
    width: 31%;
    margin-right: 3.5%; }
  .std-content .product-compare .nav-tab a {
    font-size: 14px;
    margin-right: 90px; }
  .std-content .product-compare .filter_top h6 {
    line-height: 35px;
    padding-left: 17px; }
  .std-content .product-compare .filter_top label.opt {
    width: 40px;
    height: 35px;
    line-height: 35px; }
  .std-content .product-compare .filter_top .list_filt label {
    line-height: 35px; }
  .std-content .product-compare .filter_top .list_filt input[type=text] {
    height: 35px; }
  .std-content .product-compare .filter_top .submit input[type=submit] {
    line-height: 35px; }
  .std-content .product-compare .wrap-chart .chart {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .std-content .product-compare .ringkasan-perbandingan {
    padding-top: 70px; }
    .std-content .product-compare .ringkasan-perbandingan h2 {
      margin-bottom: 30px; }
    .std-content .product-compare .ringkasan-perbandingan .box {
      width: 31%;
      margin-right: 3.12%; }
      .std-content .product-compare .ringkasan-perbandingan .box h6 {
        font-size: 14px; }
      .std-content .product-compare .ringkasan-perbandingan .box table, .std-content .product-compare .ringkasan-perbandingan .box p {
        font-size: 12px;
        line-height: 18px; }
      .std-content .product-compare .ringkasan-perbandingan .box .col-2 a.btn-donwload, .std-content .product-compare .ringkasan-perbandingan .box .col-2 .col {
        padding-left: 15px;
        padding-right: 15px; }
      .std-content .product-compare .ringkasan-perbandingan .box .sec {
        padding-left: 15px;
        padding-right: 15px; }
  .std-content .step-oa .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28% !important; }
    .std-content .step-oa .box span:nth-child(1) {
      font-size: 11px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      left: 15px; }
    .std-content .step-oa .box span:nth-child(2) {
      font-size: 12px;
      line-height: 16px;
      padding: 0px 10px 0 41px;
      display: inline-block;
      vertical-align: middle;
      height: 58px;
      display: table-cell; }
  .std-content .step-oa.type-syariah .box {
    width: 16.66% !important; }

  .myaccount .box-list-data .list-data.list_3 {
    width: 330px; }

  .box-list-news .list-news {
    width: 31.7%;
    margin-right: 2%; }

  .banner .caption {
    width: 940px; } }

/*# sourceMappingURL=desktop.css.map */
