/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/
/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : FrontEnd Team  
==============================================================================================*/
/* import bourbon - http://bourbon.io/docs */
@media (min-width: 0px) and (max-width: 650px) {
  .overflow.order-overflow {
    max-height: 400px; }

  .btn-border {
    height: 35px;
    line-height: 31px; }

  .btn-std {
    text-align: center; }

  .btn-oval.btn-trans-blue,
  .btn-oval.btn-orange {
    line-height: 33px; }

  .overflow {
    padding: 0 0 20px; }

  .a-center .btn-std {
    margin-top: 30px !important; }

  header {
    z-index: 5; }
    header .wrapper {
      padding: 0 20px; }
      header .wrapper ul li {
        margin: 0 0 0 15px; }
      header .wrapper ul li:nth-child(8), header .wrapper ul li:nth-child(9) {
        display: none; }
      header .wrapper ul li.have-child .form-child-menu.child-menu {
        right: -85px;
        left: auto;
        width: 320px;
        margin-top: -3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 25px 15px 25px; }
        header .wrapper ul li.have-child .form-child-menu.child-menu:before {
          right: 58px;
          top: -10px; }
        header .wrapper ul li.have-child .form-child-menu.child-menu table tbody tr td:last-child,
        header .wrapper ul li.have-child .form-child-menu.child-menu table thead tr th:last-child {
          padding-right: 10px; }
        header .wrapper ul li.have-child .form-child-menu.child-menu table tbody tr td:first-child,
        header .wrapper ul li.have-child .form-child-menu.child-menu table thead tr th:first-child {
          padding-left: 10px; }
    header .mobile-menu {
      min-height: 380px;
      height: auto;
      box-shadow: 0 0 15px -2px #000;
      -webkit-box-shadow: 0 0 15px -2px #000;
      -moz-box-shadow: 0 0 15px -2px #000;
      -ms-box-shadow: 0 0 15px -2px #000;
      -o-box-shadow: 0 0 15px -2px #000;
      background: #0d2d4f url(../images/material/menu-mobile-bg.png) no-repeat bottom right;
      padding: 0 0 30px; }
      header .mobile-menu ul {
        width: auto;
        float: none;
        padding-top: 60px; }
        header .mobile-menu ul li {
          display: block;
          margin: 0 0 10px; }
          header .mobile-menu ul li:nth-child(1) {
            margin: 0 0 20px; }
          header .mobile-menu ul li:nth-child(8), header .mobile-menu ul li:nth-child(9), header .mobile-menu ul li:nth-child(11) {
            display: block; }
          header .mobile-menu ul li.have-child {
            position: static; }
            header .mobile-menu ul li.have-child > a:after {
              content: "";
              display: inline-block;
              border-top: 5px solid #f58220;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              margin: 0 0 0 10px;
              position: relative;
              top: -1px; }
          header .mobile-menu ul li:nth-child(8) a:after {
            display: none; }
          header .mobile-menu ul li .list-child-menu .ltl-child-menu,
          header .mobile-menu ul li .child-menu {
            position: relative;
            left: auto !important;
            top: auto !important;
            visibility: visible;
            opacity: 1;
            width: auto;
            display: none;
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none; }
            header .mobile-menu ul li .list-child-menu .ltl-child-menu:before,
            header .mobile-menu ul li .child-menu:before {
              display: none; }
            header .mobile-menu ul li .list-child-menu .ltl-child-menu a,
            header .mobile-menu ul li .child-menu a {
              width: auto; }
        header .mobile-menu ul .drop-menu {
          display: none !important; }
        header .mobile-menu ul .search-header {
          position: absolute;
          top: 0;
          left: 20px;
          right: 20px; }
          header .mobile-menu ul .search-header > a {
            display: none; }
          header .mobile-menu ul .search-header .box-search-header {
            position: relative;
            display: block !important;
            float: left;
            width: 100%;
            right: 0;
            z-index: 0;
            opacity: 1 !important;
            height: auto !important; }
            header .mobile-menu ul .search-header .box-search-header input[type=text] {
              width: 100%;
              color: #333;
              height: 35px;
              border-radius: 7px;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              -ms-border-radius: 7px;
              -o-border-radius: 7px;
              background: #FFF url(../images/material/ico_src.png) no-repeat 97% center; }
            header .mobile-menu ul .search-header .box-search-header ::-webkit-input-placeholder {
              color: #999; }
            header .mobile-menu ul .search-header .box-search-header :-moz-placeholder {
              color: #999; }
            header .mobile-menu ul .search-header .box-search-header ::-moz-placeholder {
              color: #999; }
            header .mobile-menu ul .search-header .box-search-header :-ms-input-placeholder {
              color: #999; }

  .banner-float .left {
    height: auto; }
    .banner-float .left img {
      max-width: 160%; }
    .banner-float .left .slick-list {
      width: 100%; }
    .banner-float .left .caption {
      width: auto;
      padding: 20px;
      margin: auto 0; }
      .banner-float .left .caption h2 {
        font-size: 21px; }
      .banner-float .left .caption p {
        margin-bottom: 15px; }
  .banner-float .wrap-tab {
    padding-top: 0 !important; }
    .banner-float .wrap-tab .nav-tab {
      position: relative;
      top: 0;
      height: auto !important;
      left: 0;
      padding-top: 0; }
      .banner-float .wrap-tab .nav-tab a.active {
        position: relative;
        width: 50%; }
      .banner-float .wrap-tab .nav-tab.drop {
        border: none !important; }
      .banner-float .wrap-tab .nav-tab:after {
        display: none; }
    .banner-float .wrap-tab .content-tab {
      padding-top: 0; }

  .h-step {
    height: auto; }
    .h-step .box {
      width: 100%;
      margin-right: 0; }
      .h-step .box:nth-child(1):after, .h-step .box:nth-child(2):after {
        display: none; }

  .h-product h2 {
    font-size: 21px; }
  .h-product p {
    line-height: 21px;
    margin: 0; }
  .h-product .filter {
    margin-bottom: 50px; }
    .h-product .filter .col {
      width: 100%;
      margin-bottom: 22px; }
      .h-product .filter .col:last-child {
        float: none;
        width: 100%; }
    .h-product .filter .btn-std {
      margin: 0 auto;
      display: block;
      width: 113px; }
  .h-product .list-product .box {
    width: 48%;
    margin-right: 3%; }
    .h-product .list-product .box:nth-child(3n) {
      margin-right: 3%; }
    .h-product .list-product .box:nth-child(2n) {
      margin-right: 0; }
  .h-product .list-product .slick-arrow.slick-next {
    left: -20px; }
  .h-product .list-product .slick-arrow.slick-prev {
    right: -20px; }
  .h-product .category-prod a {
    margin: 0 15px 10px; }

  .h-compare {
    padding: 30px 0 40px; }
    .h-compare .top .left {
      float: none;
      display: block; }
    .h-compare .top .right {
      width: 100%; }
    .h-compare .col-3 div {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 10px; }

  .h-news {
    padding: 40px 0 80px; }
    .h-news .list-news .box {
      width: 48%;
      margin: 0 3% 13px 0;
      height: 160px;
      overflow: inherit;
      padding: 40px 0 0 0; }
      .h-news .list-news .box:nth-child(2) {
        margin-right: 0; }
      .h-news .list-news .box .image {
        overflow: inherit; }
        .h-news .list-news .box .image img {
          display: none; }
      .h-news .list-news .box .text {
        padding: 0px 15px; }
      .h-news .list-news .box span {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0; }

  .banner > img {
    height: 300px;
    transform: translate(-37%, 0%);
    -webkit-transform: translate(-37%, 0%);
    -moz-transform: translate(-37%, 0%);
    -ms-transform: translate(-37%, 0%);
    -o-transform: translate(-37%, 0%); }
  .banner .caption {
    margin: auto 20px;
    height: 100px; }
    .banner .caption h1 {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 10px; }
    .banner .caption p {
      font-size: 12px; }
  .banner .caption.center {
    height: 165px; }

  .std-content .wrapper {
    padding: 15px 15px 30px;
    margin: 0 15px;
    top: -55px; }
  .std-content .nav-produk {
    position: relative;
    padding-bottom: 15px;
    z-index: 2; }
    .std-content .nav-produk .right {
      position: absolute;
      right: 0;
      width: 190px;
      padding-top: 26px;
      height: 0;
      overflow: hidden;
      top: -4px;
      background: #FFF;
      background: #FFF url(../images/material/arrow-combo.png) no-repeat right 10px;
      transition: 0.2s linear all;
      -webkit-transition: 0.2s linear all;
      -moz-transition: 0.2s linear all;
      -ms-transition: 0.2s linear all;
      -o-transition: 0.2s linear all; }
      .std-content .nav-produk .right a {
        display: block; }
      .std-content .nav-produk .right .active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
      .std-content .nav-produk .right:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 26px;
        background: none;
        top: 0;
        left: 0; }
      .std-content .nav-produk .right.drop {
        border-bottom: 3px solid #f58220; }
    .std-content .nav-produk.no-border .right {
      left: 0; }
  .std-content table.product-list-table {
    min-width: 420px; }
    .std-content table.product-list-table th, .std-content table.product-list-table td {
      display: none; }
    .std-content table.product-list-table th:nth-child(2),
    .std-content table.product-list-table td:nth-child(2),
    .std-content table.product-list-table th:nth-child(3),
    .std-content table.product-list-table td:nth-child(3),
    .std-content table.product-list-table th:nth-child(8),
    .std-content table.product-list-table td:nth-child(8),
    .std-content table.product-list-table th:nth-child(11),
    .std-content table.product-list-table td:nth-child(11),
    .std-content table.product-list-table th:nth-child(12),
    .std-content table.product-list-table td:nth-child(12),
    .std-content table.product-list-table th:nth-child(15),
    .std-content table.product-list-table td:nth-child(15),
    .std-content table.product-list-table th:nth-child(17),
    .std-content table.product-list-table td:nth-child(17) {
      display: table-cell; }
    .std-content table.product-list-table th:nth-child(18),
    .std-content table.product-list-table td:nth-child(18) {
      min-width: 20px;
      padding-right: 0; }
    .std-content table.product-list-table th:nth-child(2),
    .std-content table.product-list-table td:nth-child(2) {
      padding-left: 10px; }
  .std-content .table-nav .left, .std-content .table-nav .right {
    display: block;
    float: none; }
  .std-content .table-nav .left {
    margin-bottom: 10px; }
  .std-content .category .date-view {
    float: none;
    margin: 0 0 10px; }
  .std-content .category .right {
    float: none;
    display: block; }
    .std-content .category .right .left {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .std-content .category .right .left:nth-child(1) {
        margin-bottom: 20px; }
  .std-content .category.type-2 {
    flex-flow: column;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column; }
    .std-content .category.type-2 .left {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2; }
      .std-content .category.type-2 .left .btn-std {
        width: 100%; }
    .std-content .category.type-2 .right {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      -webkit-order: 1;
      -moz-order: 1;
      order: 1;
      -ms-flex-order: 1;
      margin-bottom: 10px; }
    .std-content .category.type-2 .left, .std-content .category.type-2 .right {
      width: 100%;
      float: none;
      display: block; }
  .std-content .product-compare .compare-form .col-3 div {
    width: 100%;
    margin-bottom: 10px; }
  .std-content .product-compare .nav-tab {
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    background-position: right 13px; }
    .std-content .product-compare .nav-tab a {
      float: none;
      height: 35px;
      border-bottom: 1px solid #CCC;
      width: 100%; }
    .std-content .product-compare .nav-tab a.active {
      color: #0b4ca1; }
    .std-content .product-compare .nav-tab a:after {
      display: none; }
  .std-content .product-compare .filter_top h6 {
    float: none; }
  .std-content .product-compare .filter_top .left,
  .std-content .product-compare .filter_top .right {
    display: block;
    float: none; }
  .std-content .product-compare .filter_top .right label.opt {
    width: 14.3%;
    border: 1px solid #CCC;
    border-left: none;
    margin: 0 0 0 -1px; }
    .std-content .product-compare .filter_top .right label.opt:nth-child(8) {
      border-right: none; }
  .std-content .product-compare .ringkasan-perbandingan {
    padding-top: 25px; }
    .std-content .product-compare .ringkasan-perbandingan .box {
      width: 48.5%;
      margin: 0 2% 30px 0; }
      .std-content .product-compare .ringkasan-perbandingan .box:nth-child(2n) {
        margin-right: 0; }
  .std-content .login-page h2 {
    margin-bottom: 20px; }
  .std-content .nilai-pertanyaan p {
    font-size: 14px;
    line-height: 21px; }
  .std-content .nilai-pertanyaan {
    margin: 15px auto 0px; }
    .std-content .nilai-pertanyaan p {
      font-size: 13px; }
    .std-content .nilai-pertanyaan h3 {
      margin: 25px 0;
      font-size: 16px; }
      .std-content .nilai-pertanyaan h3 span {
        width: 40px;
        margin: 0px 5px -5px; }
  .std-content .step-oa {
    margin: 0 0 35px 0; }
    .std-content .step-oa .box span:nth-child(1) {
      left: 11px; }
    .std-content .step-oa.type-syariah .box span:nth-child(1) {
      left: 11px; }

  .box-form {
    margin: 20px 0;
    width: auto; }
    .box-form h5 {
      display: inline-block;
      padding-top: 6px; }
    .box-form .require {
      padding-right: 10px; }
    .box-form .optional {
      padding-right: 15px; }
    .box-form .row > .left, .box-form .row .right {
      width: auto;
      float: none;
      display: block;
      margin: 0; }
    .box-form .row > .left {
      margin: 0 0 10px;
      text-align: left; }
      .box-form .row > .left label {
        height: auto;
        line-height: 18px;
        margin: 0 0 0px;
        display: inline-block;
        width: auto;
        text-align: left; }
    .box-form .row.row.border-dashed {
      margin-top: 30px; }
    .box-form .col {
      width: 47% !important;
      margin-right: 6%; }
      .box-form .col:nth-child(2n) {
        margin-right: 0; }
      .box-form .col.w-70:nth-child(1), .box-form .col.w-70:nth-child(3) {
        width: 18% !important; }
      .box-form .col.w-70:nth-child(2), .box-form .col.w-70:nth-child(4) {
        width: 24% !important; }
      .box-form .col.w-70:nth-child(1) {
        margin-bottom: 20px; }
    .box-form .col-2 .col {
      width: 100%; }
      .box-form .col-2 .col .left {
        width: 100% !important; }
    .box-form .col-3.after_clear:after {
      clear: none; }
    .box-form .col-3.after_clear .col {
      margin-right: 6%; }
      .box-form .col-3.after_clear .col:nth-child(2n) {
        margin-right: 0; }
    .box-form .row.btn {
      margin: 30px 0 0 0; }
      .box-form .row.btn .col {
        width: auto !important; }
    .box-form .right.col-2 .col {
      width: 100% !important; }
      .box-form .right.col-2 .col > .left {
        width: 100%; }
      .box-form .right.col-2 .col .left.w-200 {
        width: 100% !important; }
      .box-form .right.col-2 .col:last-child {
        margin-left: 0; }
    .box-form.login {
      width: auto; }
      .box-form.login .row > .left, .box-form.login .row .right {
        width: auto;
        float: none;
        display: block;
        margin: 0; }
      .box-form.login .row > .left label {
        width: auto;
        text-align: left; }
      .box-form.login .row > .left {
        margin-bottom: 10px; }
      .box-form.login .row.btn.haslink .col {
        width: 100% !important; }
      .box-form.login .col {
        margin-right: 10px; }
    .box-form .date input {
      background: url(../images/material/ico-date-2.png) no-repeat right center; }
    .box-form .upload-file {
      width: 100%; }
    .box-form.pertanyaan .right div:first-child {
      margin-bottom: 0; }
    .box-form.pertanyaan-step-5 p {
      padding-top: 7px; }
    .box-form.pertanyaan-step-5 .right > div:last-child .col {
      width: 25% !important; }
      .box-form.pertanyaan-step-5 .right > div:last-child .col label {
        width: auto; }
      .box-form.pertanyaan-step-5 .right > div:last-child .col:nth-child(2) {
        width: 68% !important; }
    .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col, .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col {
      width: 3% !important; }
      .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col label, .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col label {
        width: auto; }
      .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col:nth-child(2), .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col:nth-child(2) {
        width: 91% !important; }
    .box-form.pertanyaan-step-5 .right > .row.col-2 .col {
      width: 46% !important; }
      .box-form.pertanyaan-step-5 .right > .row.col-2 .col:nth-child(2) {
        width: 46% !important; }

  .myaccount .title-content:first-child {
    margin-top: 0; }
  .myaccount .title-content .btn-oval {
    margin: -10px 0 -2px 0; }
  .myaccount .title-content.type-2 .left {
    margin-bottom: 10px; }
  .myaccount .title-content.type-2 .left, .myaccount .title-content.type-2 .right {
    float: none;
    display: block; }
  .myaccount .title-content.type-2 .right label {
    font-size: 14px;
    float: left;
    line-height: 33px;
    width: 20%;
    margin: 0; }
  .myaccount .title-content.type-2 .right select {
    width: 80%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .myaccount .title-content.type-2 .right:after {
    content: "";
    display: block;
    clear: both; }
  .myaccount .wrap-tab-general {
    padding-top: 55px;
    position: relative; }
    .myaccount .wrap-tab-general .nav-tab-general {
      position: absolute;
      height: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: 0px;
      right: 0px;
      overflow: hidden;
      padding-top: 35px;
      z-index: 1;
      top: 0;
      background: #FFF url(../images/material/arrow-combo.png) no-repeat right 11px;
      transition: 0.1s ease-out all;
      -webkit-transition: 0.1s ease-out all;
      -moz-transition: 0.1s ease-out all;
      -ms-transition: 0.1s ease-out all;
      -o-transition: 0.1s ease-out all; }
      .myaccount .wrap-tab-general .nav-tab-general .list-tab.active {
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #CCC; }
      .myaccount .wrap-tab-general .nav-tab-general:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 35px;
        background: none;
        top: 0;
        left: 0; }
      .myaccount .wrap-tab-general .nav-tab-general.drop {
        border-bottom: 3px solid #f58220 !important; }
      .myaccount .wrap-tab-general .nav-tab-general .list-tab {
        margin: 0;
        padding: 0 10px;
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #CCC;
        float: none;
        display: block; }
        .myaccount .wrap-tab-general .nav-tab-general .list-tab:after {
          display: none; }
        .myaccount .wrap-tab-general .nav-tab-general .list-tab a {
          display: block; }
  .myaccount .box-list-data .list-data.list_3 {
    width: 48%;
    margin-right: 3%;
    margin-bottom: 20px; }
    .myaccount .box-list-data .list-data.list_3:nth-child(3n) {
      margin-right: 3%; }
    .myaccount .box-list-data .list-data.list_3:nth-child(2n) {
      margin-right: 0%; }
    .myaccount .box-list-data .list-data.list_3:nth-child(3n+1) {
      clear: none; }
    .myaccount .box-list-data .list-data.list_3.type-2 {
      width: 100%; }
  .myaccount .box-list-data .list-data.list_6 {
    width: 100%; }
  .myaccount .box-list-data .list-data .box-title-list .left img {
    height: auto; }
  .myaccount .overflow-table {
    overflow: auto; }
  .myaccount .box-data-diri .col.col_33 {
    width: 50%; }
  .myaccount .title-bg .left {
    margin-bottom: 10px; }
  .myaccount .title-bg .left, .myaccount .title-bg .right {
    float: none;
    display: block; }

  .box-sorting {
    margin-bottom: 30px; }
    .box-sorting .left {
      margin: 0 0 16px; }
    .box-sorting .left, .box-sorting .right {
      display: block;
      float: none; }
    .box-sorting label {
      float: left;
      height: 35px;
      line-height: 35px;
      width: 18%;
      margin: 0; }
    .box-sorting select {
      width: 82%; }

  .box-list-news .list-news {
    width: 48%;
    margin: 0 4% 20px 0; }
    .box-list-news .list-news:nth-child(3n) {
      margin-right: 4%; }
    .box-list-news .list-news:nth-child(2n) {
      margin-right: 0; }
    .box-list-news .list-news figure {
      max-height: 115px;
      overflow: hidden; }

  .box-title-top-page {
    margin: 0 0 20px; }
    .box-title-top-page .left, .box-title-top-page .right {
      display: block;
      float: none; }

  .gn-content .title-shadow {
    padding: 0 0 20px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px; }
  .gn-content p {
    font-size: 13px; }
  .gn-content ul, .gn-content ol {
    margin: 0 0 40px; }
    .gn-content ul li, .gn-content ol li {
      padding: 0 0 0 20px;
      font-size: 13px;
      line-height: 21px;
      font-weight: 300;
      position: relative; }
      .gn-content ul li:before, .gn-content ol li:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #999;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        position: absolute;
        top: 9px;
        left: 0; }

  .box-accordion .list-accordion .btn-acc {
    padding: 10px 35px 10px 10px;
    font-size: 14px;
    line-height: 21px; }
    .box-accordion .list-accordion .btn-acc .arrow-acc {
      right: 15px; }
  .box-accordion .list-accordion .box-acc {
    padding: 10px 10px 30px;
    font-size: 13px;
    line-height: 21px; }

  .box-slide-sorting {
    margin-bottom: 25px; }
    .box-slide-sorting .slide-sorting .slick-slide {
      height: 50px;
      line-height: 50px;
      font-size: 14px; }
    .box-slide-sorting .slide-sorting .slick-prev, .box-slide-sorting .slide-sorting .slick-next {
      height: 50px; }

  .sel_glossary {
    margin-bottom: 25px; }

  .box-video .thumb img {
    width: 220%; }
  .box-video .caption {
    left: 10%;
    right: 10%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%); }
    .box-video .caption h3 {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 21px; }

  .box-help-contact .left, .box-help-contact .right {
    float: none;
    display: block;
    width: auto; }

  .maps {
    margin: 0px -30px; }

  .wrap-tab {
    padding-top: 50px !important;
    position: relative; }
    .wrap-tab .nav-tab {
      position: absolute;
      height: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: 10px;
      right: 10px;
      overflow: hidden;
      padding-top: 36px;
      z-index: 1;
      background: #FFF url(../images/material/arrow-combo.png) no-repeat right 5px;
      transition: 0.1s ease-out all;
      -webkit-transition: 0.1s ease-out all;
      -moz-transition: 0.1s ease-out all;
      -ms-transition: 0.1s ease-out all;
      -o-transition: 0.1s ease-out all; }
      .wrap-tab .nav-tab a.active {
        position: absolute;
        top: 0;
        width: 100%; }
      .wrap-tab .nav-tab:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 26px;
        background: none;
        top: 0;
        left: 0; }
      .wrap-tab .nav-tab.drop {
        border-bottom: 3px solid #f58220 !important; }
      .wrap-tab .nav-tab a {
        margin: 0;
        padding: 0;
        height: 35px;
        line-height: 35px; }

  .box-milestone {
    margin: 30px 0; }
    .box-milestone .btn-milestone {
      width: 100%;
      float: none;
      display: block;
      border-bottom: 2px solid #2e76a2;
      margin-bottom: 40px; }
      .box-milestone .btn-milestone .list-milestone a {
        font-size: 18px;
        padding: 15px;
        text-align: center; }
        .box-milestone .btn-milestone .list-milestone a:after {
          display: none; }
      .box-milestone .btn-milestone .list-milestone.active a {
        font-size: 26px;
        text-align: center; }
      .box-milestone .btn-milestone .slick-arrow {
        display: none !important; }
      .box-milestone .btn-milestone:after {
        display: none; }
    .box-milestone .desc-milestone-content {
      width: 100%; }
      .box-milestone .desc-milestone-content h3 {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px; }

  .wrap-popup {
    margin: 5% 20px; }
    .wrap-popup.product-detail .content {
      padding: 0 10px !important; }
    .wrap-popup.product-detail .title-content {
      left: 10px;
      right: 10px;
      top: 25px;
      margin: 0;
      padding: 0 0 47px;
      background: #FFF; }
      .wrap-popup.product-detail .title-content h3 {
        margin: 5px 0 10px 0; }
      .wrap-popup.product-detail .title-content .logo-prod .ico {
        height: auto; }
      .wrap-popup.product-detail .title-content .left, .wrap-popup.product-detail .title-content .logo-prod {
        float: none;
        display: block; }
    .wrap-popup.product-detail .nav-tab {
      margin-top: 150px;
      border: none; }
      .wrap-popup.product-detail .nav-tab .right {
        display: none; }
      .wrap-popup.product-detail .nav-tab a {
        padding: 0;
        height: 35px;
        display: block;
        margin: 0;
        border-bottom: 1px solid #CCC; }
        .wrap-popup.product-detail .nav-tab a.active {
          color: #0b4ca1; }
          .wrap-popup.product-detail .nav-tab a.active:after {
            background: none; }
    .wrap-popup.product-detail .col-4 .box,
    .wrap-popup.product-detail .col-3 .box {
      width: 100%;
      border: none;
      border-bottom: 1px solid #CCC;
      margin-bottom: -1px; }
    .wrap-popup.product-detail .info-prod .col-2 .left, .wrap-popup.product-detail .info-prod .col-2 .right {
      display: block;
      float: none;
      width: 100%; }
    .wrap-popup.product-detail .info-prod .col-2 .left {
      margin: 0 0 20px 0; }
    .wrap-popup.product-detail .info-prod .wrap-tab {
      padding-top: 0 !important; }
    .wrap-popup.product-detail .info-prod .nav-tab {
      position: relative;
      padding: 0;
      height: auto !important;
      left: 0;
      background: none;
      border: 1px solid #CCC !important;
      z-index: 0; }
      .wrap-popup.product-detail .info-prod .nav-tab .active {
        position: relative; }
      .wrap-popup.product-detail .info-prod .nav-tab.drop {
        border: 1px solid #CCC !important; }
      .wrap-popup.product-detail .info-prod .nav-tab:after {
        display: none; }
    .wrap-popup.product-detail .content-tab.inner {
      padding: 205px 0px 0; }
    .wrap-popup.product-detail .inner {
      padding: 45px 0px 0; }
      .wrap-popup.product-detail .inner .box-blue {
        width: 100%;
        height: auto; }
        .wrap-popup.product-detail .inner .box-blue a {
          content: "";
          text-indent: -99999px;
          background: url(../images/material/ico-white.png) no-repeat right center;
          right: 10px; }
    .wrap-popup.product-detail .bottom .left h6 {
      font-size: 14px; }
    .wrap-popup.product-detail .bottom .right a.btn-std:first-child {
      width: 60%;
      margin: 0; }
    .wrap-popup.product-detail .bottom .right a.btn-std:last-child {
      width: 35%;
      margin: 0;
      float: right; }
    .wrap-popup.product-detail .list-product .box {
      width: 48%;
      margin-right: 3%; }
      .wrap-popup.product-detail .list-product .box:nth-child(3n) {
        margin-right: 3%; }
      .wrap-popup.product-detail .list-product .box:nth-child(2n) {
        margin-right: 0; }
    .wrap-popup.product-detail .general-info > .col-2 > .box {
      width: 100%;
      margin: 0 0 20px  !important; }
      .wrap-popup.product-detail .general-info > .col-2 > .box h3 {
        width: 100%;
        margin-top: 30px; }
      .wrap-popup.product-detail .general-info > .col-2 > .box .code_mi {
        top: 20px;
        left: 20px; }
    .wrap-popup.product-detail .sec_perform .filter_top .list_filt {
      width: 100%; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt label {
        width: 15%;
        text-align: center;
        padding: 0; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt select.month, .wrap-popup.product-detail .sec_perform .filter_top .list_filt select.year {
        width: 42.5%;
        padding: 0 35px 0 10px; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt:nth-child(1) select.year {
        border-right: 0; }
    .wrap-popup.product-detail.col-1 {
      width: 280px;
      margin: 5% auto; }
      .wrap-popup.product-detail.col-1 .title-content {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin: 20px 0; }
      .wrap-popup.product-detail.col-1 .box-content-popup {
        margin-top: 10px; }
      .wrap-popup.product-detail.col-1 .box-list-data {
        font-size: 13px; }
        .wrap-popup.product-detail.col-1 .box-list-data .list-data .desc-list .row .list {
          padding: 15px 10px; }
          .wrap-popup.product-detail.col-1 .box-list-data .list-data .desc-list .row .list strong {
            font-size: 14px; }
      .wrap-popup.product-detail.col-1 .radio-btn {
        margin-right: 15px; }
        .wrap-popup.product-detail.col-1 .radio-btn:last-child {
          margin-right: 0; }
    .wrap-popup.product-detail.pengalihan .title-content {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      margin: 20px 0; }
    .wrap-popup.product-detail.pengalihan .box-content-popup {
      margin-top: 10px; }
    .wrap-popup.product-detail.pengalihan .box-list-data .list-data.list_2 {
      width: 100%; }
    .wrap-popup.product-detail.pengalihan .box-list-data .list-data .desc-list .row.bg-transorange {
      padding: 16px 10px; }
    .wrap-popup.product-detail.pengalihan .box-list-data {
      font-size: 13px; }
      .wrap-popup.product-detail.pengalihan .box-list-data .list-data .desc-list .row .list {
        padding: 15px 10px; }
        .wrap-popup.product-detail.pengalihan .box-list-data .list-data .desc-list .row .list strong {
          font-size: 14px; }
    .wrap-popup.product-detail.pengalihan .radio-btn {
      margin-right: 15px; }
      .wrap-popup.product-detail.pengalihan .radio-btn:last-child {
        margin-right: 0; }
    .wrap-popup .head {
      padding: 0 10px; }

  footer {
    height: auto; }
    footer .wrapper {
      padding: 0; }
    footer .left {
      float: none;
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
      display: block; }
      footer .left .logo-ojk, footer .left .logo {
        display: inline-block;
        float: none; }
    footer .right {
      width: 100%;
      padding: 0; }
      footer .right p {
        text-align: right;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        padding: 0 20px; }
    footer:after {
      display: none; }

  .wrap-popup.product-detail.pop-notif h3 {
    margin: 20px 0 0px 10px;
    font-size: 20px; }
  .wrap-popup.product-detail.pop-notif .fill-notif th,
  .wrap-popup.product-detail.pop-notif .fill-notif td {
    font-size: 12px;
    padding: 10px;
    vertical-align: top; }
  .wrap-popup.product-detail.pop-notif .content {
    padding-bottom: 30px !important; }

  .box-link-terms .left {
    margin-bottom: 30px; } }
@media (min-width: 0px) and (max-width: 465px) {
  .banner-float .right table tbody td {
    padding: 15px 7px; }

  .h-product .list-product .box {
    width: 99%; }

  .h-news .btn-border {
    float: none;
    margin: 0 auto 20px;
    display: inline-block;
    width: auto; }
  .h-news h3 {
    font-size: 16px;
    margin: 0;
    display: block;
    float: none; }
    .h-news h3:before {
      margin: 5px 10px -5px 0;
      width: 25px;
      height: 25px; }
  .h-news .list-news .box {
    width: 100%; }

  .std-content h2 {
    font-size: 18px; }
  .std-content .product-compare .ringkasan-perbandingan .box {
    width: 100%; }
  .std-content .step-oa .box span:nth-child(1) {
    left: 0;
    right: 0; }
  .std-content .step-oa .box.active span:nth-child(1) {
    right: auto;
    left: 5px; }
  .std-content .step-oa .box.active span:nth-child(2) {
    padding: 0px 10px 0 28px; }
  .std-content .step-oa.type-syariah .box span:nth-child(1) {
    left: 0;
    right: 0; }
  .std-content .step-oa.type-syariah .box.active span:nth-child(1) {
    right: auto;
    left: 5px; }
  .std-content .step-oa.type-syariah .box.active span:nth-child(2) {
    padding: 0px 10px 0 28px; }

  .myaccount .title-content .btn-oval {
    margin: 10px 0 -2px 0; }
  .myaccount .title-content .left, .myaccount .title-content .right {
    display: block;
    float: none; }
  .myaccount .title-content.type-2 .right label {
    width: 29%; }
  .myaccount .title-content.type-2 .right select {
    width: 70%;
    float: right;
    min-width: 0; }
  .myaccount .box-list-data .list-data.list_3 {
    width: 100%; }
  .myaccount .title-bg h3 {
    font-size: 13px;
    line-height: 18px; }
  .myaccount .box-data-diri .col.col_33 {
    width: 100%; }

  .box-list-news .list-news {
    width: 100%; }
    .box-list-news .list-news figure {
      max-height: 133px; }

  .box-sorting label {
    width: 25%; }
  .box-sorting select {
    min-width: 0;
    width: 74%; }

  .wrap-popup .head h5 {
    font-size: 14px; }
  .wrap-popup .head .close {
    right: 10px; }
  .wrap-popup.product-detail .general-info .col-2 .box .column.col-2 .box {
    width: 100%;
    padding: 15px;
    margin-top: -1px;
    border-right: none; }
    .wrap-popup.product-detail .general-info .col-2 .box .column.col-2 .box:nth-child(2n) {
      border-top: 1px solid #CCC; }
  .wrap-popup.product-detail .list-product .box {
    width: 99.4%; }
  .wrap-popup.product-detail .title-content .logo-prod .text {
    width: 100%; }
    .wrap-popup.product-detail .title-content .logo-prod .text h6 {
      margin: 10px 0 0 0;
      font-size: 14px; }

  footer .right p:last-child {
    line-height: 16px;
    font-size: 10px;
    margin-top: 16px; } }

/*# sourceMappingURL=mobile.css.map */
