/*============================================================================================= 
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : Rizki N Chaerulsyah
==============================================================================================*/
/*=============================================================================================	
    Company    : PT Web Architect Technology - webarq.com
    Document   : Stylesheet
    Author     : FrontEnd Team  
==============================================================================================*/
/* import bourbon - http://bourbon.io/docs */
@media (min-width: 0px) and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .btn-border {
    font-size: 12px;
    padding: 0 21px; }

  header ul li {
    padding-bottom: 23px; }
    header ul li.search-header, header ul li.homelink {
      display: none; }
  header ul .child-menu.form-child-menu {
    right: -274px;
    left: auto; }
    header ul .child-menu.form-child-menu:before {
      left: 197px; }
    header ul .child-menu.form-child-menu h3 {
      font-size: 21px; }
    header ul .child-menu.form-child-menu table {
      width: 100%; }
      header ul .child-menu.form-child-menu table td, header ul .child-menu.form-child-menu table th {
        padding: 10px;
        font-size: 12px; }
  header ul .box-login-form {
    min-height: 73vh;
    width: 376px; }
    header ul .box-login-form a {
      padding: 0;
      font-size: 12px; }
    header ul .box-login-form .row.box-checklogin {
      font-size: 12px; }
    header ul .box-login-form h3 {
      font-size: 21px;
      margin-bottom: 20px; }
    header ul .box-login-form p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 30px; }
    header ul .box-login-form input[type=text], header ul .box-login-form input[type=password] {
      font-size: 12px; }
    header ul .box-login-form .submit-login span {
      font-size: 12px;
      margin: 0 20px;
      float: left; }
    header ul .box-login-form .submit-login .btn-oval {
      width: 119px;
      height: 35px;
      line-height: 30px;
      font-size: 12px;
      min-width: 0;
      float: left; }

  .banner-float .left .caption {
    width: 460px;
    margin: auto 0 auto 40px; }
    .banner-float .left .caption h2 {
      font-size: 36px; }
    .banner-float .left .caption p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 30px; }
  .banner-float .left .slick-dots li {
    padding: 0 4px; }
  .banner-float .right {
    width: 37%; }
    .banner-float .right .find-product h2 {
      font-size: 21px; }
    .banner-float .right .find-product select, .banner-float .right .find-product input[type=text] {
      font-size: 12px; }
    .banner-float .right .find-product .row .col {
      width: 44%; }
    .banner-float .right .content-tab {
      padding-left: 27px;
      padding-right: 27px; }
      .banner-float .right .content-tab h4 {
        font-size: 21px;
        margin: 30px 0 20px; }
    .banner-float .right table thead th {
      padding: 0 10px;
      font-size: 12px; }
    .banner-float .right table tbody td {
      padding: 15px 10px;
      font-size: 12px; }
    .banner-float .right .mCSB_container {
      margin-right: 0; }
    .banner-float .right .mCSB_scrollTools .mCSB_draggerContainer {
      display: none; }

  .h-step .wrapper {
    padding: 0 42px; }
  .h-step .box {
    width: 31.334%;
    margin-right: 3%; }
    .h-step .box .ico {
      width: 20%; }
    .h-step .box .text {
      width: 72%; }
    .h-step .box:nth-child(1):after {
      right: -10px; }
    .h-step .box:nth-child(2):after {
      right: -45px; }

  .h-product {
    padding-top: 48px; }
    .h-product .filter {
      margin-bottom: 70px; }
      .h-product .filter .col {
        width: 245px; }
        .h-product .filter .col:last-child {
          width: 113px; }
    .h-product .category-prod {
      margin: 35px 0 25px; }
      .h-product .category-prod a {
        font-size: 14px; }
    .h-product .list-product {
      margin: 30px 0 20px;
      width: 100%; }
      .h-product .list-product .box {
        width: 23.567%;
        margin-right: 1.525%;
        height: 336px;
        margin-bottom: 20px; }
        .h-product .list-product .box .name p {
          font-size: 10px; }
        .h-product .list-product .box .desc {
          padding: 14px 15px; }
          .h-product .list-product .box .desc .ico {
            margin-right: 0; }
          .h-product .list-product .box .desc .text h5 {
            font-size: 14px;
            line-height: 18px; }
        .h-product .list-product .box .float-3 div {
          width: 32%; }
        .h-product .list-product .box .btn:after {
          content: "";
          clear: both;
          display: block; }
        .h-product .list-product .box .btn a {
          width: 49%; }
          .h-product .list-product .box .btn a:last-child {
            width: 50%; }
      .h-product .list-product .slider-product .box {
        width: 90%;
        height: 339px; }
    .h-product .a-center {
      margin-bottom: 40px; }

  .h-compare {
    width: 91.78%; }
    .h-compare select {
      font-size: 12px; }

  .h-how .left {
    height: 380px; }
    .h-how .left .caption h3 {
      font-size: 36px;
      margin-bottom: 15px; }
    .h-how .left .caption p {
      font-size: 14px; }
    .h-how .left .caption a {
      width: 66px;
      height: 66px;
      background-size: 100%; }
  .h-how .right h4 {
    font-size: 21px; }
  .h-how .right input[type=text], .h-how .right input[type=email], .h-how .right textarea {
    font-size: 12px;
    color: #fff; }
  .h-how .right textarea {
    height: 80px; }

  .h-news .list-news .box {
    width: 30%;
    margin-right: 4.67%; }
    .h-news .list-news .box .image {
      height: auto; }
      .h-news .list-news .box .image span {
        bottom: 2px; }

  .banner > img {
    height: 380px;
    max-width: none; }
  .banner .caption {
    width: 780px;
    height: 135px;
    bottom: 60px; }
    .banner .caption h1 {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 10px; }
    .banner .caption.center {
      height: 200px; }
      .banner .caption.center h6 {
        margin-bottom: 10px; }
      .banner .caption.center figure {
        width: 40px;
        width: 72px;
        height: 72px;
        margin: 0 auto 15px; }
      .banner .caption.center h2 {
        font-size: 21px;
        margin: 0 0 10px 0; }

  .std-content .wrapper {
    width: 940px; }
  .std-content .opt input[type=checkbox] {
    top: 3px; }
  .std-content .nav-produk .right a {
    margin: 0 8px;
    font-size: 14px; }
    .std-content .nav-produk .right a span {
      margin-right: 10px; }
  .std-content table.product thead th {
    font-size: 11px;
    min-width: 30px; }
  .std-content table.product tbody td {
    font-size: 11px; }
  .std-content .product-compare .filter_top {
    font-size: 11px; }
    .std-content .product-compare .filter_top h6 {
      font-size: 11px; }
    .std-content .product-compare .filter_top .list_filt label {
      width: 60px;
      padding: 0 10px; }
    .std-content .product-compare .filter_top .list_filt input[type=text] {
      font-size: 11px;
      width: 90px; }
  .std-content .product-compare .nav-produk .left p {
    width: 40px;
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    margin: 0; }
  .std-content .product-compare .nav-produk .left .btn-nav {
    font-size: 14px; }
  .std-content .product-compare .nav-produk .right a {
    font-size: 14px; }
  .std-content .product-compare .wrap-chart .chart {
    min-width: 100% !important; }

  .box-milestone .btn-milestone .list-milestone.active a {
    font-size: 48px; }
  .box-milestone .desc-milestone-content {
    width: 70%; }

  .box-form {
    width: 700px; }
    .box-form .row {
      display: table;
      width: 100%;
      vertical-align: middle; }
      .box-form .row > .left {
        width: 130px; }
      .box-form .row > .right {
        width: 541px; }
    .box-form label {
      font-size: 14px;
      line-height: 20px;
      height: 40px;
      vertical-align: middle;
      display: table-cell;
      width: 130px; }
    .box-form input[type=text], .box-form input[type=email], .box-form input[type=password], .box-form textarea, .box-form select {
      height: 40px; }
    .box-form textarea {
      height: 100px; }
    .box-form label.radio-btn {
      height: 40px;
      width: auto;
      line-height: 18px; }
      .box-form label.radio-btn input[type=radio] {
        top: 10px; }
    .box-form label.checkbox-agreement {
      width: auto; }
    .box-form .date input {
      background-position: 103% center; }
    .box-form .col-2 .col {
      width: 48%;
      margin-right: 4%; }
      .box-form .col-2 .col:nth-child(2n) {
        margin-right: 0; }
      .box-form .col-2 .col .left:nth-child(1) {
        width: 75px; }
    .box-form .right.col-2 label {
      width: 95px; }
    .box-form .right.col-2 .col:last-child {
      width: 295px;
      margin-left: 40px; }
      .box-form .right.col-2 .col:last-child .left {
        width: 95px; }
    .box-form label.checkbox-agreement input[type=checkbox] {
      margin: 2px 10px 0 0 !important; }
    .box-form.pertanyaan .right label {
      width: auto;
      height: auto;
      padding-top: 10px; }
    .box-form.pertanyaan .right div {
      margin-bottom: 10px; }
      .box-form.pertanyaan .right div:first-child {
        margin-bottom: 10px; }
        .box-form.pertanyaan .right div:first-child label.radio-btn input[type=radio] {
          top: 10px; }
    .box-form.pertanyaan .right label.radio-btn {
      line-height: 18px;
      display: table-cell;
      height: auto;
      margin-bottom: 10px; }
      .box-form.pertanyaan .right label.radio-btn input[type=radio] {
        top: 9px; }
    .box-form p {
      font-size: 14px; }
      .box-form p span {
        display: block; }
    .box-form h5 {
      font-size: 16px; }
    .box-form.pertanyaan-step-5 p {
      padding-top: 7px; }
    .box-form.pertanyaan-step-5 .right > div:last-child .col {
      width: 20%; }
      .box-form.pertanyaan-step-5 .right > div:last-child .col label {
        width: auto; }
      .box-form.pertanyaan-step-5 .right > div:last-child .col:nth-child(2) {
        width: 74% !important; }
    .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col, .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col {
      width: 3%; }
      .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col label, .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col label {
        width: auto; }
      .box-form.pertanyaan-step-5 .right > .row:nth-child(2) .col:nth-child(2), .box-form.pertanyaan-step-5 .right .row:nth-child(3) .col:nth-child(2) {
        width: 91% !important; }
    .box-form.pertanyaan-step-5 .right > .row.col-2 .col {
      width: 46% !important; }
      .box-form.pertanyaan-step-5 .right > .row.col-2 .col:nth-child(2) {
        width: 46% !important; }
      .box-form.pertanyaan-step-5 .right > .row.col-2 .col .left {
        width: 100%; }

  .maps {
    margin: 0 -60px; }
    .maps iframe {
      height: 325px; }

  .myaccount .nav-tab-general .list-tab {
    margin-right: 25px; }
    .myaccount .nav-tab-general .list-tab a {
      font-size: 14px; }
  .myaccount .title-bg {
    padding: 11px 20px; }
    .myaccount .title-bg .left .icwp {
      width: 24px;
      height: 21px;
      background-size: 100%; }
    .myaccount .title-bg h3 {
      font-size: 18px; }
  .myaccount .title-content h3 {
    font-size: 21px; }
  .myaccount .box-list-data .list-data .box-title-list figure {
    min-height: 80px;
    max-height: 80px; }
    .myaccount .box-list-data .list-data .box-title-list figure img {
      max-height: 80px; }
  .myaccount .box-list-data .list-data.list_3 {
    width: 260px;
    margin-right: 20px; }
    .myaccount .box-list-data .list-data.list_3 .list label, .myaccount .box-list-data .list-data.list_3 p {
      font-size: 12px; }
    .myaccount .box-list-data .list-data.list_3 .row .list {
      padding: 10px 10px;
      height: 75px; }
      .myaccount .box-list-data .list-data.list_3 .row .list label {
        margin-bottom: 5px; }
      .myaccount .box-list-data .list-data.list_3 .row .list strong {
        font-size: 12px; }
  .myaccount .box-list-data .list-data .desc-list .row.btn-bottom-list .list {
    height: 50px; }
  .myaccount .box-list-data .list-data .desc-list .row.btn-bottom-list .btn_list {
    padding: 20px 10px;
    font-size: 12px; }

  .wrap-popup {
    width: 940px; }
    .wrap-popup.product-detail .nav-tab .right {
      display: none; }
    .wrap-popup.product-detail .info-prod .col-2 .left {
      width: 29%; }
    .wrap-popup.product-detail .info-prod .col-2 .right {
      width: 68%; }
    .wrap-popup.product-detail .info-prod .right p {
      margin-bottom: 20px; }
    .wrap-popup.product-detail .col-3 p, .wrap-popup.product-detail .col-4 p {
      line-height: 18px; }
    .wrap-popup.product-detail .bottom .left, .wrap-popup.product-detail .bottom .right {
      width: 100%; }
    .wrap-popup.product-detail .bottom .left {
      margin-bottom: 35px; }
    .wrap-popup.product-detail .bottom .right a:first-child {
      margin-left: 0; }
    .wrap-popup.product-detail .list-product .box {
      margin-right: 30px; }
      .wrap-popup.product-detail .list-product .box:nth-child(4n) {
        margin-right: 30px; }
      .wrap-popup.product-detail .list-product .box:nth-child(3n) {
        margin-right: 0px; }
    .wrap-popup.product-detail .sec_perform .filter_top h6 {
      float: none;
      text-align: center;
      padding: 0; }
    .wrap-popup.product-detail .sec_perform .filter_top .left, .wrap-popup.product-detail .sec_perform .filter_top .right {
      display: block;
      float: none; }
    .wrap-popup.product-detail .sec_perform .filter_top .list_filt {
      border: 1px solid #CCC;
      margin-bottom: -1px;
      border-left: none;
      border-right: none;
      width: 50%; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt label {
        width: 15%;
        text-align: center;
        padding: 0; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt select.month, .wrap-popup.product-detail .sec_perform .filter_top .list_filt select.year {
        width: 42.5%;
        padding: 0 35px 0 10px; }
      .wrap-popup.product-detail .sec_perform .filter_top .list_filt:nth-child(2) select.year {
        border-right: 0; }
    .wrap-popup.product-detail .sec_perform .filter_top .submit {
      clear: both;
      width: 100%; }
      .wrap-popup.product-detail .sec_perform .filter_top .submit input {
        width: 100%;
        border-radius: 0px 0px 3px 3px;
        -webkit-border-radius: 0px 0px 3px 3px;
        -moz-border-radius: 0px 0px 3px 3px;
        -ms-border-radius: 0px 0px 3px 3px;
        -o-border-radius: 0px 0px 3px 3px; }

  footer:after {
    width: 50%; }
  footer .wrapper {
    height: auto; }
  footer .left {
    width: 50%; }
    footer .left .col {
      width: 46%;
      margin-bottom: 45px;
      margin-right: 8%;
      /*&:nth-child(2n+1){clear: both;}*/ }
      footer .left .col:nth-child(2n) {
        margin-right: 0; }
  footer .right {
    padding: 128px 0 65px 68px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    footer .right p {
      font-size: 14px; }
      footer .right p:last-child {
        line-height: 24px; }
    footer .right input[type=text] {
      width: 60%; }
    footer .right input[type=submit] {
      width: 40%; } }
@media (min-width: 0px) and (max-width: 970px) {
  .wrapper {
    padding: 0 22px; }

  .btn-oval,
  .btn-std {
    height: 35px;
    font-size: 13px;
    padding: 0 20px;
    line-height: 31px; }
    .btn-oval.btn-blue,
    .btn-std.btn-blue {
      line-height: 31px; }

  .btn-oval.btn-orange {
    line-height: 32px; }

  header {
    height: 65px; }
    header .toggle-menu {
      display: block; }
    header ul {
      margin: 19px 0 0 0; }
      header ul .cart {
        margin: 10px 0 -10px; }
      header ul li {
        padding-bottom: 22px; }
    header .wrapper ul li:nth-child(1),
    header .wrapper ul li:nth-child(2),
    header .wrapper ul li:nth-child(3),
    header .wrapper ul li:nth-child(4),
    header .wrapper ul li:nth-child(5) {
      display: none; }
    header .mobile-menu {
      position: absolute;
      width: 100%;
      height: 95px;
      background: #0d2d4f;
      top: 100%;
      left: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: none; }
      header .mobile-menu a {
        color: #FFF; }
      header .mobile-menu ul {
        float: none;
        display: block;
        margin: 35px 0 0;
        text-align: center; }
        header .mobile-menu ul a.active {
          color: #f58220; }
        header .mobile-menu ul a.active:hover {
          color: #f58220; }
      header .mobile-menu .homelink {
        display: inline-block; }
      header .mobile-menu a.home {
        background: url(../images/material/home-ico-2.png);
        margin: 0 0 -5px 0; }
      header .mobile-menu .child-menu {
        top: 30px;
        width: 175px;
        left: -68px; }
        header .mobile-menu .child-menu:before {
          border-bottom-color: #0b2644; }
        header .mobile-menu .child-menu a {
          background: #0b2644;
          font-size: 13px; }
      header .mobile-menu li {
        float: none;
        display: inline-block;
        text-align: center;
        padding-bottom: 0; }
        header .mobile-menu li.have-child:hover .child-menu {
          top: 55px; }
      header .mobile-menu li:nth-child(6),
      header .mobile-menu li:nth-child(7),
      header .mobile-menu li:nth-child(8),
      header .mobile-menu li:nth-child(9),
      header .mobile-menu li:nth-child(10),
      header .mobile-menu li:nth-child(11) {
        display: none; }
    header .logo {
      width: 125px; }
    header ul .box-login-form {
      min-height: 470px;
      width: 348px; }
      header ul .box-login-form input[type=text],
      header ul .box-login-form input[type=password] {
        height: 40px; }
      header ul .box-login-form .submit-login .btn-oval {
        width: 110px;
        font-size: 11px; }
      header ul .box-login-form .submit-login span {
        margin: 0 15px; }

  .banner-float .left {
    float: none;
    display: block;
    width: 100% !important;
    height: 355px;
    min-height: 0; }
    .banner-float .left img {
      max-width: 100%; }
    .banner-float .left .slick-list, .banner-float .left .slick-slide {
      max-height: 355px; }
    .banner-float .left .caption {
      width: 485px;
      height: 150px; }
      .banner-float .left .caption h2 {
        font-size: 36px;
        margin: 0 0 10px; }
  .banner-float .right {
    position: relative;
    height: auto;
    min-height: 0;
    width: 100%;
    left: 0;
    right: 0; }

  .h-step {
    height: 110px; }
    .h-step .wrapper {
      padding: 0px 22px; }
    .h-step .box .ico {
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0; }
    .h-step .box .text h6 {
      font-size: 12px;
      margin: 0 0 5px; }
    .h-step .box .text p {
      font-size: 10px;
      line-height: 14px; }
    .h-step .box:nth-child(1):after, .h-step .box:nth-child(2):after {
      height: 110px;
      top: -25px;
      background-size: auto 100% !important;
      right: 0;
      background-position: right center; }
    .h-step .box:nth-child(2):after {
      right: -20px; }

  .h-product .filter .btn-std {
    height: 40px; }
  .h-product .filter .col {
    width: 185px; }
    .h-product .filter .col select {
      height: 40px;
      font-size: 12px; }
  .h-product h2 {
    font-size: 30px; }
  .h-product p {
    font-size: 13px; }
  .h-product .category-prod a {
    font-size: 12px; }
  .h-product .list-product .box {
    width: 31.6%;
    margin-right: 2%; }
    .h-product .list-product .box:nth-child(4n) {
      margin-right: 2%; }
    .h-product .list-product .box:nth-child(3n) {
      margin-right: 0; }
    .h-product .list-product .box:nth-child(7), .h-product .list-product .box:nth-child(8) {
      display: none; }

  .h-compare .wrapper {
    padding: 0 30px; }
  .h-compare h2 {
    font-size: 18px; }
    .h-compare h2:before {
      width: 30px;
      height: 30px; }
  .h-compare select {
    height: 35px;
    padding: 0 0 0 15px; }
  .h-compare .top select {
    height: 35px; }

  .h-how .right,
  .h-how .left {
    width: 100%;
    position: relative;
    float: none;
    display: block; }
  .h-how .right {
    padding: 40px 45px; }

  .h-news h3 {
    font-size: 18px;
    line-height: 30px; }
    .h-news h3:before {
      width: 30px;
      height: 30px;
      background-size: 100%; }
  .h-news .list-news .box {
    width: 31.7%;
    margin-right: 2%;
    height: 290px; }
    .h-news .list-news .box .text small {
      font-size: 11px;
      margin: 20px 0 10px; }
    .h-news .list-news .box .text h6 {
      font-size: 12px;
      line-height: 18px; }
    .h-news .list-news .box .text a {
      height: 40px;
      line-height: 40px; }

  .banner .caption {
    width: auto;
    margin: auto 65px; }
    .banner .caption h1 {
      font-size: 30px;
      line-height: 36px; }
    .banner .caption p {
      font-size: 13px; }

  .std-content .wrapper {
    padding: 30px 40px;
    margin: 0 20px;
    width: auto; }
  .std-content h2 {
    line-height: 32px; }
  .std-content .nav-produk .left .btn_nav {
    background-size: 17px;
    font-size: 13px;
    padding: 0 0 0 25px; }
  .std-content .nav-produk .right a {
    font-size: 13px; }
    .std-content .nav-produk .right a span {
      width: 18px;
      height: 18px;
      background-size: 200% auto !important;
      margin: 3px 5px 0 0; }
  .std-content .nav-produk.no-border .left {
    display: none; }
  .std-content .category .btn-std {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 0 20px; }
  .std-content .category .right {
    width: auto; }
    .std-content .category .right input[type=text] {
      height: 35px;
      font-size: 13px; }
  .std-content table.product-list-table th:nth-child(6),
  .std-content table.product-list-table td:nth-child(6),
  .std-content table.product-list-table th:nth-child(7),
  .std-content table.product-list-table td:nth-child(7),
  .std-content table.product-list-table th:nth-child(13),
  .std-content table.product-list-table td:nth-child(13),
  .std-content table.product-list-table th:nth-child(14),
  .std-content table.product-list-table td:nth-child(14) {
    display: none; }
  .std-content .product-compare .compare-form select {
    height: 35px; }
  .std-content .product-compare .nav-tab a {
    margin-right: 10%; }
  .std-content .product-compare .filter_top .right label:nth-child(4),
  .std-content .product-compare .filter_top .right label:nth-child(9) {
    display: none; }
  .std-content .product-compare .filter_top .right label:nth-child(8) {
    border-right: 1px solid #CCC; }
  .std-content .product-compare .filter_top .right .list_filt label {
    width: auto;
    padding: 0 5px; }
  .std-content .product-compare .filter_top .right .list_filt input[type=text] {
    width: 36px; }
  .std-content .product-compare .filter_top .submit input[type=submit] {
    width: 55px; }
  .std-content .product-compare .ringkasan-perbandingan .box {
    width: 31.6%;
    margin-right: 2%; }
    .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) {
      text-align: center; }
      .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .after_clear {
        padding: 5px 0;
        border-bottom: 1px dotted #CCC; }
        .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .after_clear:last-child {
          border: none; }
      .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .left, .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .right {
        width: auto;
        float: none;
        display: block; }
        .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .left p, .std-content .product-compare .ringkasan-perbandingan .box > div:nth-child(7) .right p {
          padding: 0; }
    .std-content .product-compare .ringkasan-perbandingan .box .col-2 a.btn-donwload {
      padding: 10px 5px;
      font-size: 11px; }
      .std-content .product-compare .ringkasan-perbandingan .box .col-2 a.btn-donwload:before {
        display: none; }
  .std-content .step-oa .box {
    width: 10% !important; }
    .std-content .step-oa .box span:nth-child(1) {
      left: 23px; }
    .std-content .step-oa .box span:nth-child(2) {
      display: none; }
    .std-content .step-oa .box.active {
      width: 40%  !important; }
      .std-content .step-oa .box.active span:nth-child(1) {
        left: 15px; }
      .std-content .step-oa .box.active span:nth-child(2) {
        display: table-cell; }
  .std-content .step-oa.type-syariah .box {
    width: 10% !important; }
    .std-content .step-oa.type-syariah .box span:nth-child(1) {
      left: 23px; }
    .std-content .step-oa.type-syariah .box span:nth-child(2) {
      display: none; }
    .std-content .step-oa.type-syariah .box.active {
      width: 50%  !important; }
      .std-content .step-oa.type-syariah .box.active span:nth-child(1) {
        left: 15px; }
      .std-content .step-oa.type-syariah .box.active span:nth-child(2) {
        display: table-cell; }

  .h-product .category-prod a {
    margin: 0 16px; }

  .box-milestone {
    margin: 60px 0; }
    .box-milestone .btn-milestone {
      width: 15.625%; }
      .box-milestone .btn-milestone .list-milestone.active a {
        font-size: 36px; }
      .box-milestone .btn-milestone:after {
        left: 118px; }
      .box-milestone .btn-milestone .slick-next,
      .box-milestone .btn-milestone .slick-prev {
        left: 111px; }
    .box-milestone .desc-milestone-content {
      width: 77.6%; }
      .box-milestone .desc-milestone-content h3 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px; }
      .box-milestone .desc-milestone-content figure {
        margin-bottom: 20px; }

  .btn-oval {
    height: 35px;
    line-height: 32px; }
    .btn-oval.btn-trans-orange {
      line-height: 32px; }

  .myaccount select {
    min-width: 225px;
    height: 35px;
    font-size: 12px; }
  .myaccount .nav-tab-general .list-tab {
    margin: 0 25px 0 0; }
    .myaccount .nav-tab-general .list-tab a {
      font-size: 13px;
      letter-spacing: 0;
      margin-right: 0; }
  .myaccount .title-content {
    margin: 40px 0 30px; }
    .myaccount .title-content .icwp {
      width: 22px;
      height: 22px;
      background-size: 100% auto !important; }
    .myaccount .title-content h3 {
      font-size: 16px; }
    .myaccount .title-content .btn-oval {
      margin: -20px 0 -2px 0; }
      .myaccount .title-content .btn-oval .icwp {
        background-size: auto !important; }
  .myaccount .title-bg h3 {
    font-size: 15px; }
  .myaccount .box-list-data .list-data .box-title-list .left img {
    max-width: 60%; }
  .myaccount .box-list-data .list-data.list_3 {
    width: 202px; }
    .myaccount .box-list-data .list-data.list_3.type-2 {
      width: 238px; }
      .myaccount .box-list-data .list-data.list_3.type-2 .list {
        height: auto; }
      .myaccount .box-list-data .list-data.list_3.type-2 b {
        font-size: 13px; }
    .myaccount .box-list-data .list-data.list_3 .chart-btn {
      right: 5px;
      top: 10px;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8); }
  .myaccount .box-list-data .list-data.list_6 {
    width: 390px; }
  .myaccount .box-list-data .list-data .desc-list .row.btn-bottom-list .btn_list {
    padding: 20px 5px; }
  .myaccount table.table-radius {
    font-size: 12px; }
    .myaccount table.table-radius.acc-tbl-rd td:nth-child(2),
    .myaccount table.table-radius.acc-tbl-rd th:nth-child(2),
    .myaccount table.table-radius.acc-tbl-rd td:nth-child(4),
    .myaccount table.table-radius.acc-tbl-rd th:nth-child(4),
    .myaccount table.table-radius.acc-tbl-rd td:nth-child(5),
    .myaccount table.table-radius.acc-tbl-rd th:nth-child(5),
    .myaccount table.table-radius.acc-tbl-rd td:nth-child(6),
    .myaccount table.table-radius.acc-tbl-rd th:nth-child(6) {
      display: none; }
  .myaccount .box-data-diri {
    font-size: 12px; }
    .myaccount .box-data-diri strong {
      font-size: 15px;
      line-height: 21px; }

  .shadow-spar {
    max-width: 100%; }

  .wrap-popup {
    width: auto;
    margin: 5% 22px; }
    .wrap-popup.product-detail .title-content h3 {
      font-size: 21px; }
    .wrap-popup.product-detail .title-content .logo-prod .text {
      padding: 0; }
    .wrap-popup.product-detail .title-content .logo-prod .ico img {
      max-height: 40px; }
    .wrap-popup.product-detail .bottom .left h6 {
      font-size: 16px;
      color: #2e76a2; }
    .wrap-popup.product-detail .bottom .left label {
      font-size: 13px; }
    .wrap-popup.product-detail .col-4 .box {
      width: 50%;
      border-bottom: 1px solid #CCC;
      margin: 0 0 -1px; }
    .wrap-popup.product-detail .col-4 h6,
    .wrap-popup.product-detail .col-3 h6 {
      font-size: 16px; }
    .wrap-popup.product-detail .box-blue h5 {
      font-size: 12px;
      padding: 0 15px; }
    .wrap-popup.product-detail .box-blue table tr td {
      font-size: 12px; }
      .wrap-popup.product-detail .box-blue table tr td:nth-child(1) {
        padding: 0 0 0 10px;
        width: 65px; }
    .wrap-popup.product-detail .info-prod .col-2 .right {
      width: 65%; }
      .wrap-popup.product-detail .info-prod .col-2 .right h4 {
        font-size: 14px; }
      .wrap-popup.product-detail .info-prod .col-2 .right p {
        font-size: 13px; }
    .wrap-popup.product-detail .info-prod .nav-tab a {
      font-size: 14px; }
    .wrap-popup.product-detail .list-product .box {
      width: 31.6%;
      margin-right: 2%;
      height: auto; }
      .wrap-popup.product-detail .list-product .box:nth-child(4n) {
        margin-right: 2%; }
      .wrap-popup.product-detail .list-product .box:nth-child(3n) {
        margin-right: 0%; }
      .wrap-popup.product-detail .list-product .box .desc {
        text-align: center;
        height: auto; }
        .wrap-popup.product-detail .list-product .box .desc .ico, .wrap-popup.product-detail .list-product .box .desc img {
          max-height: 40px; }
        .wrap-popup.product-detail .list-product .box .desc .ico {
          width: 100%;
          margin: 0 0 5px; }
        .wrap-popup.product-detail .list-product .box .desc .text {
          width: auto; }
          .wrap-popup.product-detail .list-product .box .desc .text h5 {
            font-size: 14px;
            width: auto; }
        .wrap-popup.product-detail .list-product .box .desc:after {
          content: "";
          clear: both;
          display: block; }
      .wrap-popup.product-detail .list-product .box .float-3 div {
        width: 73px; }
      .wrap-popup.product-detail .list-product .box .btn a {
        width: 49% !important;
        font-size: 12px; }
      .wrap-popup.product-detail .list-product .box:nth-child(7), .wrap-popup.product-detail .list-product .box:nth-child(8) {
        display: none; }
    .wrap-popup.product-detail.pengalihan {
      width: auto; }

  .box-sorting label {
    font-size: 13px; }
  .box-sorting select {
    font-size: 13px;
    height: 35px;
    padding: 0 45px 0 15px; }

  .box-list-news .list-news {
    width: 31.7%;
    margin-right: 2%;
    height: 290px; }
    .box-list-news .list-news figure {
      margin: 0;
      max-height: 115px;
      overflow: hidden; }
      .box-list-news .list-news figure .caps {
        font-size: 11px;
        padding: 10px; }
    .box-list-news .list-news .desc {
      padding: 5px 15px 45px; }
      .box-list-news .list-news .desc span {
        font-size: 11px;
        margin: 20px 0 10px; }
      .box-list-news .list-news .desc h5 {
        font-size: 12px;
        line-height: 18px; }
      .box-list-news .list-news .desc span.link-read-more {
        height: 40px;
        line-height: 40px; }

  .box-title-top-page {
    font-size: 14px; }

  .gn-content p {
    font-size: 14px;
    line-height: 21px; }

  .gn-content ul, .gn-content ol {
    margin: 0 0 40px; }
    .gn-content ul li, .gn-content ol li {
      padding: 0 0 0 20px;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      position: relative; }
      .gn-content ul li:before, .gn-content ol li:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #999;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        position: absolute;
        top: 10px;
        left: 0; }

  .box-accordion .list-accordion .btn-acc {
    padding: 20px 50px 20px 20px;
    font-size: 16px; }

  .box-video .thumb img {
    width: 100%; }
  .box-video .vids iframe {
    height: 250px; }
  .box-video .caption h3 {
    font-size: 30px;
    margin-bottom: 10px; }
  .box-video .caption p {
    font-size: 13px;
    margin-bottom: 15px; }
  .box-video .caption a.play {
    width: 80px;
    height: 80px;
    background-size: 100% auto; }

  .maps {
    margin: 0 -40px; }
    .maps iframe {
      height: 325px; }

  .box-form.login {
    width: 555px; }
    .box-form.login .row > .right {
      width: 345px; }
    .box-form.login input[type=text],
    .box-form.login input[type=password] {
      width: 100%; }
  .box-form input[type=text], .box-form input[type=email], .box-form input[type=password], .box-form textarea, .box-form select {
    font-size: 13px;
    padding: 0 15px; }
  .box-form textarea {
    padding: 10px 15px; }
  .box-form label {
    font-size: 13px; }
  .box-form .w-370 {
    width: auto !important; }
  .box-form .row > .left {
    width: 185px; }
    .box-form .row > .left label {
      width: 185px; }
  .box-form .row > .right {
    width: 435px; }
  .box-form .col-2 .col .left:nth-child(1) {
    width: 65px; }
  .box-form .col-2 .col .left:nth-child(2) {
    width: 140px; }
  .box-form .right.col-2 label {
    width: 70px; }
  .box-form .right.col-2 .w-170 {
    width: 170px !important; }
  .box-form .right.col-2 .col:last-child {
    margin-left: 10px;
    width: 235px; }
    .box-form .right.col-2 .col:last-child .left {
      width: 65px; }
    .box-form .right.col-2 .col:last-child .w-200 {
      width: 170px !important; }
  .box-form.pertanyaan .col-4 .col {
    padding-right: 10px; }

  footer {
    height: 65px; }
    footer nav {
      display: none; }
    footer .right {
      width: 66%;
      padding: 0 0 0 20px;
      height: 65px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      footer .right p:nth-child(2),
      footer .right .subscribe,
      footer .right h6 {
        display: none; }
      footer .right p {
        font-size: 11px;
        margin: 20px 0 0; }
    footer .logo-wrap {
      width: 100%; }
    footer .left {
      width: 34%; }
      footer .left .logo {
        width: 130px;
        margin: 14px 0 0 0; }
      footer .left .logo-ojk {
        width: 70px;
        margin: 20px 0 0 25px; } }

/*# sourceMappingURL=tablet.css.map */
